body.directory #fileupload {
    margin: 0;
    padding: 0;
}

body.directory .muploadBtn {        
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;                
    position: relative;    
    cursor: pointer;
    width: 200px;   
    margin-left: 0;
    padding: 0;
}
body.directory .muploadBtn span {
    position: absolute;
    top: 0.5em;
    left: 40px;
    color: white;
    text-decoration: none;
    font-size: 12px;
}
body.directory .fileupload-buttonbar .progress {
    border: 1px solid #51A351;
    border-radius: 5px 5px 5px 5px;
    display: none;
    width: 65%;
    float: right;
}
body.directory .fileupload-buttonbar .progress div {
    background-color: #51A351;
    height: 2em;
    width: 0;
    padding: 0;
    margin: 0;
}

#fileList tbody td:last-child {
    width: 175px;
}
#fileList tbody td.first a img {
    display: block;
    height: 48px;
    width: 48px;    
    background-image: url(/static/icons/file.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.tools {
    width: 170px;
    float: right;
}
.tools a {
    display: block;
    width: 34px;
    height: 31px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    float: right;
    margin-left: 7px;
}
.tools a.delete {
    background-image: url(/static/images/icon_delete-32.png);
}
.tools a.download {
    background-image: url(/static/common/download.png);
}

/*http://www.iconlooker.com/icon/vistaico-toolbar-icons-rename_w33061.html*/
.tools a.rename {    
    background-image: url(/static/images/icon_rename-32.png);
}
a.hidden {
    display: none;
}