body.directory #fileupload {
    margin: 0;
    padding: 0;
}

#fileList tbody td:last-child {
    width: 175px;
}
#fileList tbody td.first a img {
    display: block;
    height: 48px;
    width: 48px;    
    background-image: url(/static/icons/file.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.tools {
    width: 170px;
    float: right;
}
.tools a {
    display: block;
    width: 34px;
    height: 31px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    float: right;
    margin-left: 7px;
}
.tools a.delete {
    background-image: url(/static/images/icon_delete-32.png);
}
.tools a.download {
    background-image: url(/static/common/download.png);
}

/*http://www.iconlooker.com/icon/vistaico-toolbar-icons-rename_w33061.html*/
.tools a.rename {    
    background-image: url(/static/images/icon_rename-32.png);
}
a.hidden {
    display: none;
}