<html>
    <head>
        <title>Directory</title>
        <link href="directoryIndex.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" media="screen" />
        <script type="text/javascript" src="myfiles.js">//</script>
        <script type="text/javascript" src="/static/history/jquery.history.js">//</script>
        <link href="/static/history/jquery.history.css" rel="stylesheet" type="text/css" media="screen" />
    </head>    
    <body class="directory">
        <div class="btn-group pull-right">
            <button class="newFolder Btn btn">
                <i class="icon-folder-open"></i>
                New Folder
            </button>
            <button class="importFromUrl Btn btn">
                <i class="icon-fast-forward"></i>                 
                Import from url
            </button>         
        </div>        
        
        <div class="input" id='myUploaded' style="width: 150px"></div>        
        
        <table id="fileList" class="bar table table-striped vcenter">
            <thead>
                <tr>
                    <th colspan="2">Files: $page.name</th>
                    <th>Modified</th>
                    <th>Size</th>
                    <th>Tools</th>
                </tr>
                <tr class="seperator">

                </tr>
            </thead>
            <tbody>                
                #foreach($f in $page.subFolders)
                <tr>
                    <td style="width: 70px">
                        <a href="$f.href">                            
                            <img  height="48" width="48" alt="" src="/static/icons/folder.png"/>
                        </a>
                    </td>
                    <td class="left">
                        <a href="$f.href">$f.name</a>
                    </td>
                    <td><abbr title="$formatter.formatDateISO8601($f.modifiedDate)" class="timeago">$!f.modifiedDate</abbr></td>
                    <td></td>
                    <td>
                        <a href="$f.href" class="hidden">hidden</a>
                    </td>
                </tr>
                #end
                #foreach($f in $page.files)                
                    #set($lightBoxClass = "lightbox")
                    #if( $f.contentLength < 100000 )
                        #set($lightBoxClass = "")
                    #end
                <tr class="file $lightBoxClass">
                    #set($imgClass = $formatter.ifTrue($f.is("image"), "image", "" ) )
                    <td style="width: 70px">
                        <a href="$f.href" class="$imgClass"><img height="48" width="48" alt="" src="/templates/images/img8.gif"/></a>
                    </td>
                    <td class="left">
                        <a href="$f.href" class="$imgClass">$f.name</a>
                    </td>
                    <td><abbr title="$formatter.formatDateISO8601($!f.modifiedDate)" class="timeago">$!f.modifiedDate</abbr></td>
                    <td>$f.contentLength</td>
                    <td>
                        <a href="$f.href" class="hidden">hidden</a>
                    </td>
                </tr>
                #end                 
            </tbody>
        </table>
        <script type="text/javascript" src="/static/js/types.js">// </script>
        <script type="text/javascript" src="/static/js/jquery.fileupload.js"></script>
        <script type="text/javascript" src="/static/js/jquery.milton-upload.js"></script>
        <script type="text/javascript" src="/static/js/jquery.lightbox-0.5.js"></script>        
    </body>
</html>