<html>
    <head>
        <title>My Files</title>
    </head>    
    <body class="directory">
        <div class="btn-group pull-right">
            <button class="newFolder Btn btn">
                <i class="icon-folder-open"></i>
                New Folder
            </button>
        </div>        

        <div class="container container-fluid">
            <h2>My Files</h2>
            #foreach($folder in $user.children.dirs )
            <div class="span3">
                <div class="well">
                    <h3><a href="$folder.href">$folder.name</a></h3>
                </div>
            </div>
            #end
        </div>
        <script>
            jQuery(document).ready(function() {
                $(".newFolder").click(function(e) {
                    var parentHref = userUrl;
                    showCreateFolder(parentHref, "New folder", "Please enter a name for the new folder", function() {
                        window.location.reload();
                    });
                });

            });
        </script>
    </body>
</html>

