#edifyForm {
    min-width: 890px;
}
div.adminToolbar {
   position: fixed;
   top: 50%;
   right: 0px;
   z-index: 1000;
}
.edifyIsEditMode div.adminToolbar {
    display: none;
}
div.adminToolbar, div.adminToolbar button {
    width: 65px;
}
div.adminToolbar button { 
   height: 64px; 
}
div.adminToolbar button {
    border: none;    
    text-indent: -9999px;
    opacity: 0.3;
}
div.adminToolbar button.edit {
    background: url("edit-icon.png");
}
div.adminToolbar button.new {
    background: url("new-icon.png");
}
div.adminToolbar button:hover {
    opacity: 1;
    cursor: pointer;
}
.edifyIsEditMode .buttons button, .version button {
    height: 40px;
    width: 42px;
    border: none;
    text-indent: -9999px;
    margin: 0 0 0 10px;
    cursor: pointer;
    padding: 0;
}
.edifyIsEditMode .buttons button {
    float: right;    
}
.edifyIsEditMode .buttons .save {
    background: url("save-icon.png");
}
.edifyIsEditMode .buttons .cancel {
    background: url("cancel-icon.png");
}
.edifyIsEditMode .buttons .history, .version .history {
    background: url("history-icon.png");
}
.edit-new-page.edifyIsEditMode .buttons .history {
    display: none;
}
.version td {
    font-size: 12px;
}
.edifyIsEditMode .buttons {
    height: 48px;
}
.edifyIsEditMode .buttons input {
    border: 1px solid lightgray;
    font-size: 19px;
    padding: 3px 6px;
    width: 600px;
}
.Modal.history .ModalContent {
    max-height: 300px;
    overflow: scroll;
}

.adminToolbar div.template {
    left: -235px;
    position: relative;
    top: -55px;
    width: 200px;
}