<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Documentation home</title>
    </head>
    <body>

        <h1>Documentation</h1>

        <style>
            ul.docLinks {
                margin-left: 0;
            }
            ul.docLinks li {
                display: inline-block;
                float: left;
                margin-left: 0;
                margin-right: 0px;
                padding-right: 10px;
                width: 45%;
            }
        </style>
        
        #foreach($f in $folder.children.ofType.folder)
        <div class="section">
            <h2>
                <a href="${f.href}index.html">$f.title</a>
            </h2>
            <p>$f.index.getParam("brief")</p>
            <ul class="docLinks">
                #foreach($page in $f.children.ofType.page)
                <li>$page.link</li>
                #end
            </ul>
        </div>        
        #end
    </body>
</html>
