<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>title</title>
    </head>
    <body>

        <div id="content">
            <div class="SubContent">
                <table class="plain dashboard">
                    <tr>
                        <td class="primary">
                            <div class="contentForm">
                                <div class="htmleditor" id="body"> 
                                    ${page.body}
                                </div>
                                <br class="Clear" />
                            </div>

                        </td>
                        <td class="gap"></td>
                        <td class="secondary">
                            <div class="bar alt">
                                <h3>Hire us</h3>
                                <div class="clr"></div>
                            </div>
                            <div style="padding: 5px 10px 20px 10px">
                                <p>Need help with your webdav implementation?</p>
                                <p>Hire <a href="http://www.mcevoysoftware.co.nz/contact.html">the webdav specialist, McEvoy Software</a> for development or advice.</p>
                            </div>
                            
                            #portlets("dashboardSecondary")
                        </td>                
                    </tr>
                </table>
            </div>
        </div>        

    </body>
</html>
