/** Begin admin/theme.css **/
@import url("/static/common/modal.css");
@import url("/templates/themes/fuse/base.css");
@import url("/templates/themes/fuse/theme.less");
/******************************************* Font face *******************************************/
@font-face {
    font-family: "FrutigerRoman";
    src: url("font/frutsr_b.eot");
    src: url("font/frutsr_b.eot?#iefix") format("embedded-opentype"), url("font/frutsr_b.woff") format("woff"), url("font/frutsr_b.ttf") format("truetype"), url("font/frutsr_b.svg#frutsr_b") format("svg");
    font-weight: normal;
    font-style: normal;
}

body p {
    line-height: 1.4em;
}
body h1 {
    margin: 0;
}
html body h2 {
    font-size: 1.4em;        
}
html body h1, html body h1 a {
    background-color: transparent;
    color: $rootFolder.settings.textColour1;
    padding: 0.65em 0;
    left: 0;
}
html body h1 {
    font-size: 1.6em;    
}
.section p.auxText a {
    margin-left: 0;
    margin-right: 0.5em;
}
body .section h2, body .section h2 a {
    padding: 5px 0;
}
body .header h1.logo, body .header h1.logo a {
    top: 10px;
    font-family: "FrutigerRoman", Arial, Helvetica, sans-serif, Verdana;
}