form.contactus {
    
}

form.contactus fieldset {
    background-color: #F0F6FB;
    border: solid 1px #DFDFDF;
    padding: 15px 25px;
    border-radius: 5px;
    position: relative;
}

form.contactus label {
    display: none;
}

form.contactus input {
    display: block;
    float: left;
    margin-bottom: 20px;    
    width: 42%;
}

form.contactus #email, form.contactus #company, form.contactus textarea {
    clear: both;
}
form.contactus #surName, form.contactus #phone {
    float: right;
}
form.contactus textarea {
    display: block;
    width: 65%;
    margin-top: 20px;
    min-height: 100px;
}

form.contactus button {
    cursor: pointer;    
    float: right;
}
.contactus .thankyou {
    display: none;
}
.contactus .thankyou p {
    font-size: 1.6em;
    line-height: 1.3em;
    margin: 5em;    
}