<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <!-- CSS and JS files injected by ContactUsApp -->
    </head>
    <body class="contactus">
        <div id="content">
            <div class="SubContent">
                $page.title
                <form action="$page.name" method="POST" class="contactus">
                    $!page.intro
                    <fieldset>
                        <legend>Contact us</legend>

                        <label for="firstName">First name</label>
                        <input type="text" name="firstName" id="firstName" class="required" placeholder="Enter your first name" />

                        <label for="surName">Surname</label>
                        <input type="text" name="surName" id="surName" placeholder="Enter your surname" />

                        <label for="firstName">Email</label>
                        <input type="email" name="email" id="email" class="required" placeholder="Enter your email address" />

                        <label for="company">Company</label>
                        <input type="text" name="company" id="company" class="" placeholder="Enter your company name" />

                        <label for="phone">Phone</label>
                        <input type="text" name="phone" id="phone" class="" placeholder="Enter your best contact number" />

                        <textarea placeholder="Tell us how we can help"></textarea>

                        <button>Submit</button>

                    </fieldset>
                </form>
                <div class="thankyou">
                    $page.thankYouMessage
                </div>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(function() {
                initContactUs();
            });
        </script>
    </body>
</html>