/* Classification */
.classifer { font-family: 'FrutigerLTStd55RomanRegular'; }
.classifer h3 { font-weight: normal; }
.classifer .controller-wrapper {
	float: left;
	width: 191px;
}
.classifer .controller-wrapper .controller {
	background: url(button.png) no-repeat;
	height: 56px;
	margin-bottom: 5px;
	padding: 14px 0 0 10px;
	position: relative;
	cursor: pointer;
}
.classifer .controller-wrapper .controller span.arrow {
	position: absolute;
	background: url(icon_right_sprite.png) no-repeat;
	width: 24px;
	height: 48px;
	top: 11px;
	right: 10px;
}
.classifer .controller-wrapper .controller h3 {
	font-size: 18px;
	font-family: 'FrutigerLTStd45LightBold';
	margin: 0;
}
.classifer .controller-wrapper .controller p {
	font-size: 12px;
	line-height: 110%;
	margin: 0;
}
.classifer .controller-wrapper .button-placeholder {
	font-size: 15px;
	color: #c30;
}
.classifer .content-wrapper { margin-left: 194px; }
.classifer .content-wrapper > .content {
	background: url(content_panel.png) no-repeat;
	position: relative;
	width: 716px;
	height: 295px;
}
.classifer .content-wrapper > .content.active { display: block !important; }
.classifer .content-wrapper > .content h3.notice {
	font-family: 'FrutigerLTStd55RomanRegular';
	font-size: 18px;
	text-align: center;
	margin-top: 55px;
}
.classifer .content-wrapper > .content > img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.classifer .content-wrapper > .content .main-content {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background: url(rule.png) no-repeat 50% 15px;
	padding: 80px 15px 0;
}
.hide {
	display: none;
}
.hide-force {
	display: none !important;
}
.hide-text {
	background-color: transparent;
	border: 0 none;
	color: transparent;
	font: 0px/0 a;
	text-shadow: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}