<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link rel="stylesheet" type="text/css" href="../../themes/fuse/theme.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="manageUser.css" />
        <script type="text/javascript" src="../../js/jquery-1.7.2.min.js">//</script>
        <script type="text/javascript" src="../../js/jquery-ui-1.8.20.custom.min.js">//</script>
        <script type="text/javascript" src="../../js/jquery.cookie.js">//</script>
        <script type="text/javascript" src="manageUser.js">//</script>
        <script type="text/javascript" src="../../js/common.js">//</script>
        <script type="text/javascript" src="../../js/theme.js">//</script>
    </head>
    <body class="manageUserPages">
        dashboard goes here    
    </body>
</html>