<html>
    <head>
        <title>Calendars</title>
    </head>    
    <body class="directory">
        <table id="fileList" class="bar">
            <thead>
                <tr>
                    <th colspan="2">Files: $page.name</th>
                    <th>Modified</th>
                </tr>
                <tr class="seperator">

                </tr>
            </thead>
            <tbody>                
                #foreach($f in $page.subFolders)
                <tr>
                    <td style="width: 70px">
                        <a href="$f.href"><img  height="48" width="48" alt="" src="/static/icons/folder.png"/></a>
                    </td>
                    <td class="left">
                        <a href="$f.href">$f.name</a>
                    </td>
                    <td><abbr title="$formatter.formatDateISO8601($f.modifiedDate)" class="timeago">$!f.modifiedDate</abbr></td>
                    <td>
                        <a href="$f.href" class="hidden">hidden</a>
                    </td>
                </tr>
                #end
            </tbody>
        </table>
    </body>
</html>