<html>
    <head>
        <title>Edit Event</title>
    </head>    
    <body class="directory">

        <form method="POST" action="." class="form-horizontal">
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="givenName">Given name</label>
                    <div class="controls">
                        <input id="givenName" name="givenName" />
                    </div>
                </div>                
                <div class="control-group">
                    <label class="control-label" for="surName">Surname</label>
                    <div class="controls">
                        <input id="surName" name="surName" />
                    </div>
                </div>                
                <div class="control-group">
                    <label class="control-label" for="telephonenumber">Telephone</label>
                    <div class="controls">
                        <input id="telephonenumber" name="telephonenumber" />
                    </div>
                </div>                
                <div class="control-group">
                    <label class="control-label" for="mail">Email</label>
                    <div class="controls">
                        <input id="mail" name="mail" />
                    </div>
                </div>                
            </div>
            <div class="modal-footer">
                <a href="#" class="btn">Close</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>                
        </form>

    </body>
</html>