#dateRange {
    font-size: 19px;
    text-align: right;    
}

.reportsPage #module-Course {
    padding: 20px;
}
.reportsPage h3 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}
.reportsPage table.Summary { width: 100%; }
.reportsPage table.Summary tr {
    background-image: linear-gradient(bottom, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0, rgb(240,240,240)),  color-stop(1, rgb(255,255,255))  );
}
.reportsPage table.Summary td, .reportsPage table.Summary th {
    border: solid #dadada;
    border-width: 1px 0;
    vertical-align: central;
}
.reportsPage table.Summary th {
    padding: 25px 0;
}
.reportsPage table.Summary td {
    padding-left: 80px;
}

.reportsPage table.Summary th { width: 140px; }
.reportsPage table.Summary td h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
}
.reportsPage table.Summary td p { font-size: 13px; }

.reportsPage #items table {
    width: 100%;
}

.reportsPage #items th {
    text-align: left;
}