<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageGroupResources.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <section id="manageGroupResources" class="MainContent">
            <article class="Note">Group resources provides a page for each group, in each website, containing files for download. This might include word documents, PDF's or large high res videos</article>
            <br/>
            <table class="Summary tick">
                #foreach($f in $page.groupFolders)
                <tr>
                    <td>
                        <h5>$f.website.name - $f.group.name</h5>
                        #if( $f.directory )
                        <p>Files: $!f.directory.files.size()</p>
                        #else
                        The folder for this group has not been created yet. Please click
                        the Create button to create it and then add resources.
                        #end
                    </td>
                    <th>
                        #if( $f.directory )
                        <a href="$f.directory.href" class="Btn ViewWebsite">Manage</a> 
                        #else
                        <a href="$f.id" class="Btn EditWebsite createDir">Create</a>
                        #end
                    </th>
                </tr>
                #end

            </table>
        </section>
        <script type="text/javascript">
            jQuery(function() {
                $("a.createDir").click(function(e) {
                    var a = $(e.target);
                    e.preventDefault();
                    e.stopPropagation();
                    createGroupResourceDir(a.attr("href"));
                });
                
            });
            function createGroupResourceDir(id) {
                try {
                    $.ajax({
                        type: 'POST',
                        url: window.location.pathname,
                        data: {
                            createItemId: id
                        },
                        dataType: "json",
                        success: function(data) {
                            if( data.status ) {
                                log("saved ok", data);
                                window.location.href = data.nextHref;
                            } else {
                                log("error", data);
                                alert("Sorry, couldnt create: " + data);
                            }
                        },
                        error: function(resp) {
                            log("error", resp);
                            alert("Sorry, couldnt save - " + resp);
                        }
                    });          
                } catch(e) {
                    log("exception in createGroupResourceDir", e);
                }                 
            }
        </script>
    </body>
</html>