<html>
    <head>
        <title>Resources</title>
    </head>
    <body>
        <table class="bar">
            <thead>
                <tr>
                    <th colspan="2"><h2>Resources</h2></th>
                    <th>Date Added</th>
                    <th>Download</th>
                </tr>
                <tr class="seperator">
                    
                </tr>
            </thead>
            <tbody>                
                #foreach($file in $page.model.resources)
                <tr>
                    <td>
                        <!-- TODO: select on file type -->
                        <a href="$file.href"><img alt="" src="/templates/images/img8.gif"/></a>
                    </td>
                    <td>
                        <a href="$file.href">
                        <h3>$file.title</h3>
                        </a>
                    </td>
                    <td>2 Feb 2012</td>
                    <td>
                        <a href="$file.href" class="downloadIcon">Download</a>
                    </td>
                </tr>
                #end                
            </tbody>
        </table>
<script type="text/javascript">       
            jQuery(document).ready(function(){
                jQuery("table.bar a").each(function(index, node) {                    
                    tag = $(node);
                    var href = tag.attr("href");
                    log("href", href);
                    var icon = findIconByExt(href);
                    log("got a", node, icon);
                    $("img", tag).attr("src", icon);
                });
            });            
        </script>           
    </body>
</html>


