/spliffy-sync-app/branding/target/userdir/var/cache/netigso/org.eclipse.core.runtime/.manager/
/spliffy-sync-app/branding/target/userdir/var/cache/netigso/org.eclipse.equinox.app/.manager/
/spliffy-sync-app/branding/target/userdir/var/cache/netigso/org.eclipse.osgi/.manager/
/spliffy-sync-app/module/target/userdir/var/cache/netigso/org.eclipse.core.runtime/.manager/
/spliffy-sync-app/module/target/userdir/var/cache/netigso/org.eclipse.equinox.app/.manager/
/spliffy-sync-app/module/target/userdir/var/cache/netigso/org.eclipse.osgi/.manager/
/milton-cloud-lib/target/
/milton-cloud-server/target/
/milton-cloud-sync/target/
/milton-cloud-sync-app/application/target/
/milton-cloud-sync-app/branding/target/
/milton-cloud-sync-app/module/target/
/milton-cloud-vfs/target/
/milton-cloud-server/velocity.log
/milton-cloud-server-api/target/