/spliffy-sync-app/branding/target/userdir/var/cache/netigso/org.eclipse.core.runtime/.manager/
/spliffy-sync-app/branding/target/userdir/var/cache/netigso/org.eclipse.equinox.app/.manager/
/spliffy-sync-app/branding/target/userdir/var/cache/netigso/org.eclipse.osgi/.manager/
/spliffy-sync-app/module/target/userdir/var/cache/netigso/org.eclipse.core.runtime/.manager/
/spliffy-sync-app/module/target/userdir/var/cache/netigso/org.eclipse.equinox.app/.manager/
/spliffy-sync-app/module/target/userdir/var/cache/netigso/org.eclipse.osgi/.manager/
/milton-cloud-lib/target/
/milton-cloud-server/target/
/milton-cloud-sync/target/
/milton-cloud-sync-app/application/target/
/milton-cloud-sync-app/branding/target/
/milton-cloud-sync-app/module/target/
/milton-cloud-vfs/target/
/milton-cloud-server/velocity.log
/milton-cloud-server-api/target/
/external/ckeditor/target/
/external/jstree/target/
/external/colorpicker/target/
/milton-cloud-blobby/target/
/.idea
*.iml
/milton-cloud-server/src/test/resources/milton.license.properties
/milton-cloud-server/src/test/resources/milton.license.sig
/examples/mc-vfs-gettingstarted/target/
.project
.settings/
milton-cloud-sync/.classpath
milton-cloud-sync/.project
milton-cloud-sync/.settings/
milton-cloud-vfs/.classpath
milton-cloud-vfs/.project
milton-cloud-vfs/.settings/
/sync-tool/sync-gui/target/
/sync-tool/sync-tool-gui/target/
/sync-tool/branding/target/
/sync-tool/application/target/
/SyncTool/SyncTool/branding/target/
/SyncTool/SyncTool/SyncToolGui/target/
/SyncTool/SyncTool/application/target/
/SyncTool/SyncTool/target/
/milton-cloud-tool/branding/target/
/milton-cloud-tool/application/target/
/milton-cloud-tool/milton-cloud-tool-gui/target/
/milton-cloud/milton-cloud/milton-cloud-tool/target/
/milton-cloud/milton-cloud/branding/target/
/milton-cloud/milton-cloud/application/target/