<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Commit History</title>
        <link href="manageRepos.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageRepos.js">//</script>
        <link href="/static/history/jquery.history.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/static/history/jquery.history.js">//</script>
    </head>
    <body>
        <section id="manageRepos" class="MainContent">
            <p>Here is a list of changes made to this branch. You can restore the branch
            to the state of any of the commits below by clicking the Restore icon. The current state wont be lost, it will
            just become the previous version</p>
            <p>Click on the commit number to view the branch in that state without restoring it.</p>
            <br/>
            <table class="" style="width: 80%; text-align: left">
                <thead>
                    <tr>
                        <th>Restore</th>
                        <th>Link</th>
                        <th>Hash</th>
                        <th>User</th>
                        <th>Edited</th>
                    </tr>
                </thead>
                #foreach($c in $page.commits)
                <tr>
                    <td><button class='history' title='Restore this version' rel="$c.commit.itemHash">Rollback</button></td>
                    <td>$c.link</td>
                    <td>$c.commit.itemHash</td>
                    <td>$c.commit.editor.name</td>
                    <td><abbr title="$formatter.formatDateISO8601($c.commit.createdDate)" class="info timeago">$c.commit.createdDate</abbr></td>
                </tr>
                #end

            </table>
        </section>
        <script type="text/javascript">
            jQuery(function() {
                jQuery("abbr.timeago").timeago();
                $("button.history").click(function(e) {
                    var node = $(e.target);
                    var hash = node.attr("rel");
                    confirmRevert(hash, null, {
                        pageUrl: ".",
                        afterRevertFn: function() {
                            window.location.reload();
                        }
                    });
                });
            });
        </script>
    </body>
</html>