<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$page.title</title>
        <link href="theme.css" rel="stylesheet" type="text/css" />
        <link href="print.css" rel="stylesheet" type="text/css" media="print" />
        <link rel='stylesheet' href='/static/js/morris.css' type='text/css' />
        <link rel='stylesheet' href='/static/daterange/ui.daterangepicker.css' type='text/css' />
        <link rel='stylesheet' href='/static/common/jquery-ui-1.8.11.custom.css' type='text/css' title='ui-theme' />
        <link href='/templates/apps/reporting/reports.css' rel='stylesheet' type='text/css' />
        
        <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js">//</script>
        <script type="text/javascript" src="/static/js/tinybox-1.2.min.js" bottom="true">//</script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.8.20.custom.min.js" >//</script>
        <script type="text/javascript" src="/static/js/jquery.autoresize.js" bottom="true">//</script> 
        <script type="text/javascript" src="/static/js/jquery.cookie.js">//</script>        
        <script type="text/javascript" src="/static/js/jquery.forms.js">//</script>        
        <script type="text/javascript" src="/static/js/jquery.user.js">//</script>
        <script type="text/javascript" src="/static/js/common.js">//</script>        
        <script type="text/javascript" src="/static/js/file.js" bottom="true">//</script>        
        <script type="text/javascript" src="/static/js/toolbars.js" bottom="true">//</script>
        <script type="text/javascript" src="/static/ckeditor41/ckeditor.js" bottom="true">//</script>
        <script type="text/javascript" src="/static/ckeditor41/adapters/jquery.js" bottom="true">//</script>
        <script type="text/javascript" src="/static/js/ajaxupload.js" >//</script>         
        <script type="text/javascript" src="/static/js/jQueryRotate.2.2.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.placeholder.js" >//</script>
        <script type="text/javascript" src="/static/js/jquery.timeago.js" >//</script>
        <script type="text/javascript" src="/templates/themes/admin/setup.js" bottom="true">//</script>
        <script type="text/javascript" src="/templates/themes/admin/prompt.js" bottom="true">//</script>
        <script type="text/javascript" src="/static/js/raphael-2.1.0.min.js" bottom="true">//</script>
        <script type="text/javascript" src='/static/js/morris.js' bottom="true">//</script>
        <script type='text/javascript' src='/static/daterange/daterangepicker.jQuery.js'>//</script>
        <script type='text/javascript' src='/templates/apps/reporting/reports.js'>//</script>
        <script type="text/javascript" src="/static/js/init-theme.js" bottom="true">//</script>        
        <script type="text/javascript" bottom="true">
            $(document).ready(function(){
                initTheme();
            });            
        </script>
    </head>
    
    <body class="theme admin">
        <!-- page layout goes here -->
        <div id="wrapper">
            <header id="header">
                <!-- Here is the header -->
                <nav id="nav">
                    <ul>
                        <li id="logo"><a href="/" title="Fuse Admin">Home</a></li>
                        #foreach($item in $menu.items)
                        <li id="$item.id"><a class="$formatter.ifTrue($item.active, 'navActive', '')" href="$item.href">$item.text</a></li>
                        #end
                    </ul>
                </nav>

                <aside class="userBtn">
                    #if( $user )
                    <h3><a href="/manageUsers/$user.userId">Welcome $user.nickName</a></h3>
                    <div class="dropBox">
                        <ul class="list requiresuser">
                            <li>
                                <a class="logout" href="#">Logout</a>
                            </li>
                        </ul>
                    </div>                
                    #end
                </aside>

                <aside class="userBtn">
                    <h3><a href="$page.closest('organisation').href">$page.organisation.formattedName</a></h3>
                    <div class="dropBox">
                        <ul class="list requiresuser">
                            #foreach($org in $page.organisations)
                            <li><a href="$org.href">$org.title</a></li>
                            #end
                        </ul>
                    </div>                
                </aside>                    
            </header>
            <div id="Panel-section">
                <!-- the left menu width:210px -->
                <aside id="sidebar-nav">
                    <div class="sidebar">
                        <div class="menu">
                            <ul>
                                #foreach($parentItem in $menu.activeItems)
                                #foreach($item in $parentItem.items)
                                <li id="$item.id">
                                    <h4><a href="$item.href" class="Arrow">$item.text</a></h4>                                    
                                    <ul>
                                        #foreach($subitem in $item.items)
                                        <li id="$subitem.id"><a class="$formatter.ifTrue($subitem.active, 'active', '')" href="$subitem.href">$subitem.text</a></li>
                                        #end
                                    </ul>				
                                </li>
                                <li><hr/></li>

                                #end
                                #end
                            </ul>
                        </div>
                    </div>
                </aside>
                <!-- courses and modules width:flex -->
                <section id="RHS-Panel">
                    <img src="/templates/themes/admin/images/shadow-left.png" alt="" id="shadow-left" />
                    <header id="head-Panel">
                        <img src="/templates/themes/admin/images/icon-prgram.png" alt="" />
                        <h1>$formatter.htmlEncode($page.title)</h1>
                        <a href="#" class="helpIcon">Help</a>
                    </header>
                    <div id="module-Course" class="content"> <!-- The id module-Course is incorrect, should be replaced with content -->
                        <article>
                            #content
                        </article>
                    </div>
                </section>
            </div>
            <div id="modalHelp" class="Modal">
                <header>
                    <h3>Help dialog</h3>
                    <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
                </header>
                <div class="ModalContent">
                    <p>This is an animated dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
                </div>
            </div>

        </div><!-- END WRAPPER -->
    </body>
</html>