
.ajaxLoading {
    display: none;
}

p.not_tested {
    color: black;
}

p.failed_test {
    color: red;
}

p.complete {
    color: green;
}
tr.hidden_true td {
    color: gray;
}
#signin label {
    display: inline-block;
    width: 100px;
}
#signin button {
    margin-left: 100px;
}
#signin p {
    margin-left: 100px;
}
.instructions {
    border: 1px dashed #C1C2A8;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 20px;
    width: 90%;
}