/****************************************************************************************
************************************** Font-face ****************************************
****************************************************************************************/
@font-face {
    font-family: 'FrutigerLTStd45LightBold';
    src: url('../font/frutigerltstd-bold-webfont.eot');
    src: url('../font/frutigerltstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/frutigerltstd-bold-webfont.woff') format('woff'),
         url('../font/frutigerltstd-bold-webfont.ttf') format('truetype'),
         url('../font/frutigerltstd-bold-webfont.svg#FrutigerLTStd45LightBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FrutigerLTStd55RomanItalic';
    src: url('../font/frutigerltstd-italic-webfont.eot');
    src: url('../font/frutigerltstd-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/frutigerltstd-italic-webfont.woff') format('woff'),
         url('../font/frutigerltstd-italic-webfont.ttf') format('truetype'),
         url('../font/frutigerltstd-italic-webfont.svg#FrutigerLTStd55RomanItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FrutigerLTStd55RomanRegular';
    src: url('../font/frutigerltstd-roman-webfont.eot');
    src: url('../font/frutigerltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/frutigerltstd-roman-webfont.woff') format('woff'),
         url('../font/frutigerltstd-roman-webfont.ttf') format('truetype'),
         url('../font/frutigerltstd-roman-webfont.svg#FrutigerLTStd55RomanRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FrutigerLTStd45LightRegular';
    src: url('../font/frutigerltstd-light-webfont.eot');
    src: url('../font/frutigerltstd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/frutigerltstd-light-webfont.woff') format('woff'),
         url('../font/frutigerltstd-light-webfont.ttf') format('truetype'),
         url('../font/frutigerltstd-light-webfont.svg#FrutigerLTStd45LightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/****************************************************************************************
************************************** Reset CSS ****************************************
****************************************************************************************/
* {
	padding: 0;
	margin: 0;
}
img {
	border: 0;
	vertical-align: middle;
}
ol, ul { list-style: none; }
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*:focus, *:active { outline: 0 none; }
* + html input[type="checkbox"], * + html input[type="radio"] {
	width: 13px;
	height: 18px;
}
body, input, select, textarea { 
	font: 14px/1.3em 'FrutigerLTStd55RomanRegular';
	color: #333;
}
i, em {
	font-family: 'FrutigerLTStd55RomanItalic';
	font-style: normal;
}
h1, h2, h3, h4, h5, h6, b, strong {
	font-family: 'FrutigerLTStd45LightBold';
	font-weight: normal;
}
/****************************************************************************************
********************************** Common component *************************************
****************************************************************************************/
.hide {
	display: none;
}
.hide-force {
	display: none !important;
}
.hide-text {
	background-color: transparent;
	border: 0 none;
	color: transparent;
	font: 0px/0 a;
	text-shadow: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/****************************************************************************************
************************************** Content ******************************************
****************************************************************************************/
#wrapper {
	margin: 0 auto;
	width: 910px;
	padding-top: 70px;
}
#footer {
	padding: 25px 0;
	text-align: center;
	font-size: 11px;
}
#footer a {
	color: #2d2d2d;
}