table.classifier tr td {
    vertical-align: top;
}
table.classifier tr td.last {
    width: 716px;
    background-image: url(/static/classifier/shade.png);
    background-repeat: no-repeat;
}
table.classifier div.rule {
    background-repeat: no-repeat;
    height: 164px;
    background-position: top center;
    padding: 100px 20px 20px 20px;
}
table.classifier div.graph {
    margin: 7px;
    background-repeat: no-repeat;
}
table.classifier tr td:first-child {
    background-image: url(/static/classifier/button.png);
    background-repeat: no-repeat;
    width: 191px;
    height: 71px;
}

table.classifier tr td:first-child div {
    height: 50px;
    padding: 5px 10px;
    position: relative;
}
table.classifier h4 {
    padding: 0;
}
table.classifier td span {
    background-image: url(/static/classifier/arrows.png);
    height: 45px;
    width: 24px;  
    display: block;
    position: absolute;
    right: 5px;
    top: 10px;
    background-position: 0 0px;
}
table.classifier .clasContent {
    padding: 0 70px;
}
table.classifier h3 {
    margin: 0;
}
table.classifier p {
    margin: 0;
}
table.classifier .intro p {
    text-align: center;
}