<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
    </head>
    <body class="dashboard">
        <table class="plain dashboard">
            <tr>
                <td class="primary">
                    #portlets("adminDashboardPrimary")
                </td>
                <td class="gap"></td>
                <td class="secondary">
                    #portlets("adminDashboardSecondary")
                </td>                
            </tr>
        </table>                
    </body>
</html>

