<html>
    <head>
        <title>Administration</title>
        <script type="text/javascript" src="/static/js/jquery.user.js">//</script>
        <link href="admin-login.css" rel="stylesheet" type="text/css" />
        <link rel="template" href="plain" />
    </head>
    <body class="Login">
        <script type="text/javascript">
            jQuery(function($) {
                $(".Login").user({
                    afterLoginUrl: null
                }); // setup login and logout
            });
        </script>
        
        <section class="LoginPanel">
            <h1 class="Logo"><img src="/templates/themes/admin/images/logo_login.png" width="177" height="65" alt="fuseLMS" /></h1>
            <form action="" name="frmLogin" method="post">
                <p id="validationMessage" style="display: none"></p>
                <table>
                    <tr>
                        <td colspan="2"><input type="text" name="email" value="" placeholder="Enter your email address here" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="password" name="password" value="" placeholder="Enter your password here" /></td>
                    </tr>
                    <tr>
                        <td><a href="/forgotten-password">Forgotten your password?</a></td>
                        <td><button><span>Login</span></button></td>
                    </tr>
                </table>
            </form>
        </section>
    </body>
</html>