<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageWebsite.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageWebsite.js">//</script>
    </head>
    <body>
        <section id="manageWebsite" class="MainContent">
            <h3>Available websites</h3>
            <table class="Summary">
                #foreach($w in $page.websites)
                <tr>
                    <td>
                        <h5>$w.name</h5>
                        <p>Public theme: $!w.publicTheme; Internal theme: $!w.internalTheme; Current branch: $!w.currentBranch</p>
                    </td>
                    <th>
                        <a target="_blank" href="http://${w.name}${formatter.portString}/" class="Btn ViewWebsite">View</a> 
                        <a href="$w.name" class="Btn Cancel EditWebsite">Edit</a>
                    </th>
                </tr>
                #end
                
            </table>
        </section>
        <script type="text/javascript">
            jQuery(function() {
                initManageWebsite();
            });
        </script>
    </body>
</html>