#manageWebsite h3 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}
#manageWebsite table.Summary { width: 100%; }
#manageWebsite table.Summary tr {
	background-image: linear-gradient(bottom, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0, rgb(240,240,240)),  color-stop(1, rgb(255,255,255))  );
}
#manageWebsite table.Summary td, #manageWebsite table.Summary th {
	border: solid #dadada;
	border-width: 1px 0;
	vertical-align: central;
}
#manageWebsite table.Summary th {
	padding: 25px 0;
}
#manageWebsite table.Summary td {
	padding-left: 80px;
}

#manageWebsite table.Summary th { width: 140px; }
#manageWebsite table.Summary td h5 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 4px;
}
#manageWebsite table.Summary td p { font-size: 13px; }

.AddItemButton {
    position: absolute;
    right: 0;
    top: 0;
}