<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageWebsite.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageGroup.js">//</script>
    </head>
    <body class="manageOrgs">
        <section id="manageWebsite" class="MainContent">
            <h3>Available business units/organisations</h3>
            <table class="Summary">
                #foreach($org in $folder.children)
                <tr>
                    <td>
                        <h5>$org.name</h5>
                        <p>Stuff goes here</p>
                    </td>
                    <th>
                        <a href="$org.path" class="Btn Cancel EditWebsite">Edit</a>
                    </th>
                </tr>
                #end
                
            </table>
        </section>
    </body>
</html>