#doUploadCsv {
    width: 190px;
}
#doUploadCsv span {
    left: 33px;
    position: absolute;
}
.upload {
    position: relative;
}
.allowInserts {
    position: absolute;
    left: 200px;
    top: 5px;
    width: 
}
.results {
    display: none;
}

#modalUploadCsv .results td {
    line-height: normal;
    padding: 3px 6px;
}
#modalUploadCsv .results td:first-child {
    padding-left: 0;
}
#modalUploadCsv .results td:last-child {
    padding-right: 0;
}

