<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageWebsite.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageWebsite.js">//</script>
    </head>
    <body>
        <section id="manageWebsite" class="MainContent">
            <h3>Available websites</h3>
            <table class="Summary">
                <tr rel="http://google.com">
                    <td>
                        <h5>Website title</h5>
                        <p>This is the website description that outlines what the site is about.</p>
                    </td>
                    <th>.</th>
                </tr>
                <tr rel="http://gmail.com">
                    <td>
                        <h5>Website title</h5>
                        <p>This is the website description that outlines what the site is about.</p>
                    </td>
                    <th>.</th>
                </tr>
                <tr rel="http://google.com">
                    <td>
                        <h5>Website title</h5>
                        <p>This is the website description that outlines what the site is about.</p>
                    </td>
                    <th>.</th>
                </tr>
                <tr rel="http://google.com">
                    <td>
                        <h5>Website title</h5>
                        <p>This is the website description that outlines what the site is about. This is the website description that outlines what the site is about.This is the website description that outlines what the site is about.</p>
                    </td>
                    <th>.</th>
                </tr>
                <tr rel="http://gmail.com">
                    <td>
                        <h5>Website title</h5>
                        <p>This is the website description that outlines what the site is about.</p>
                    </td>
                    <th>.</th>
                </tr>
            </table>
            <div class="Hidden">
                <div id="websiteController"><button class="Btn ViewWebsite">View</button> <button class="Btn Cancel EditWebsite">Edit</button></div>
            </div>
        </section>
        <script type="text/javascript">
            jQuery(function() {
                initManageWebsite();
            });
        </script>
    </body>
</html>