<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <script type="text/javascript" src="manageApps.js">//</script>
        <link href="manageApps.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="manageApplications appsContainer">

        <article class="Note">
            <p>Applications control large chunks of functionality, like forums or emails. You can add them to websites</p>
            <p>
                Applications are made available for websites by activating them on your organisation's Manage Applications page. Available apps are then shown on the website apps list where they can be turned on or off as required.
            </p>
        </article>

        #set($apps = $page.apps)
        #if( $apps.isEmpty() )
        <article class="Note">
            <p>No applications are available. This means that the parent organisation has disabled them</p>
        </article>        
        #end

        <table class="apps">            
            #foreach($app in $apps )
            <tr>
                <td class="CheckBoxWrapper">
                    $formatter.checkbox("chk_${app.appId}", $app.appId, $app.enabled, $app.appId)
                    <label for="chk_${app.appId}"></label>
                </td>
                <td>
                    <h5>$page.getTitle($app.appId)</h5>
                    <p>$page.getSummary($app.appId)</p>
                </td>
                <td>
                    #if( $page.hasSettings($app) )
                    <button class="settings" rel="$app.appId">Manage</button>
                    #end
                </td>
            </tr>
            #end
        </table>            

        #foreach($app in $page.apps )
        #if( $page.hasSettings($app) )
        <div class="Modal settings" id="settings_${app.appId}">
            <header>
                <h3>Edit Application: $app.appId</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>                           
            <div class="ModalContent">
                <form method="POST" action="$page.name">
                    <input type="hidden" name="settingsAppId" value="$app.appId"/>
                    #appSettings($app.appId)
                    <button type="submit" class="Btn" style="float: right">Save</button>
                </form>
            </div>
        </div>
        #end
        #end
    </body>
</html>