<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <script type="text/javascript" src="manageApps.js">//</script>
    </head>
    <body class="manageApplications">
        <form method="POST" action="$page.name" onsubmit="return saveApps($(this))">
            <h2>Manage applications for this website</h2>
            <a href="apps" class="Btn">Manage apps</a>
            <h2>Theme</h2>
            <div class="inputs">
                <label for="heroColour1">heroColour1</label>
                <input type="text" name="heroColour1" id="heroColour1" value="$!page.themeParams.heroColour1"/>
                <label for="heroColour2">heroColour2</label>
                <input type="text" name="heroColour2" id="heroColour2" value="$!page.themeParams.heroColour2"/>
                <label>textColour1</label>
                <input type="text" name="textColour1" id="textColour1" value="$!page.themeParams.textColour1"/>
                <label for="textColour2">textColour2</label>
                <input type="text" name="textColour2" id="textColour2" value="$!page.themeParams.textColour2"/>
                <label for="logo">logo</label>
                <input type="text" name="logo" id="logo" value="$!page.themeParams.logo"/>
            </div>

            <button type="submit" class="Btn">Save</button>            
        </form>
        <h2>Groups in website</h2>
        #set($groupsInWebsite = $page.groupsInWebsite)
        #if( $groupsInWebsite.empty )
        <p>There are no groups attached to this website, so no one can join it</p>
        #else
        <ul>
            #foreach($g in $page.groupsInWebsite )
            <li>$g.userGroup.name</li>
            #end
        </ul>
        #end
    </body>
</html>