<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link rel="stylesheet" type="text/css" href="manageUser.css" />
        <script type="text/javascript" src="manageUser.js">//</script>
    </head>
    <body class="manageUserPages">
        <section id="manageUser" class="MainContent">
                <!--            
            <header class="ClearFix">
                <div class="Right">
                    <button class="Btn Download" tooltip="Download Users"><span class="Hidden">Download User</span></button>
                    <button class="Btn Upload Cancel" tooltip="Upload User"><span class="Hidden">Upload User</span></button>
                </div>
                <div class="Left ClearFix">
                    <a class="Search" href="#search"><span class="Hidden">Search</span></a>					
                    <nav><a href="#">Default Folder</a> | <a href="#">Folder 1</a> | <a href="#">Folder 2</a> | <a href="#">Folder 3</a></nav>
                    <div class="Info Hidden" rel="#search" id="pullDown">
                        <header class="ClearFix">
                            <div class="SearchBox">
                                <input type="text" value="" placeholder="Search for business here" />
                                <a href="#" class="ClearText"><span class="Hidden">X</span></a>
                            </div>
                        </header>
                        <table class="Summary">
                            <thead>
                                <tr>
                                    <th>Business</th>
                                    <th>Title</th>
                                    <th>Suburb</th>
                                    <th>Post code</th>
                                    <th>Address</th>
                                    <th>State</th>
                                </tr>
                            </thead>	
                            <tbody></tbody>					
                        </table>
                    </div>
                </div>
            </header>
                    -->                    
            <div class="Info">
                <header class="ClearFix">
                    <div class="SearchBox">
                        <input id="userQuery" type="text" value="" placeholder="Search for user here" />
                        <a href="#" class="ClearText"><span class="Hidden">X</span></a>
                    </div>
                    <div class="Setting">
                        <a href="#" title="Setting"><span class="Hidden">Setting</span></a>
                        <div class="SettingContent ClearFix Hidden">
                            <header>
                                Rows shown <select name="row"><option value="13">13</option></select>
                            </header>
                            <ul>
                                <li><div class="CheckBoxWrapper"><input type="checkbox" value="fname" checked="checked" name="fname" id="fname" /><label for="fname">First name</label></div></li>
                                <li><div class="CheckBoxWrapper"><input type="checkbox" value="lname" checked="checked" name="lname" id="lname" /><label for="lname">Last name</label></div></li>
                                <li><div class="CheckBoxWrapper"><input type="checkbox" value="email" checked="checked" name="email" id="email" /><label for="email">Email address</label></div></li>
                                <li><div class="CheckBoxWrapper"><input type="checkbox" value="contact" checked="checked" name="contact" id="contact" /><label for="contact">Contact</label></div></li>
                                <li><div class="CheckBoxWrapper"><input type="checkbox" value="state" checked="checked" name="state" id="state" /><label for="state">State</label></div></li>
                                <li><div class="CheckBoxWrapper"><input type="checkbox" value="country" name="country" id="country" /><label for="country">Country</label></div></li>
                                <li><div class="CheckBoxWrapper"><input type="checkbox" value="remember" name="remember" id="remember" /><label for="remember">Remember these settings</label></div></li>
                            </ul>
                            <button class="Btn" id="saveChange">SAVE CHANGES</button>
                        </div>
                    </div>
                </header>
                <table class="Summary" id="userSearchResults">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email Address</th>
                        <th>Contact</th>
                        <th>State</th>
                        <th>&nbsp;</th>
                    </tr>
                    #foreach($p in $page.searchResults)
                    <tr>
                        <td>
                            #if($p.firstName)
                            $p.firstName
                            #else
                            $p.name
                            #end
                        </td>
                        <td>$!p.surName</td>
                        <td>$p.email</td>
                        <td>$!p.phone</td>
                        <td>NSW</td>
                        <td>
                            <div class="Controller">
                                <a title="Show Dialogue" class="ShowDialog" href="#"><span class="Hidden">Show Dialogue</span></a>
                                <div class="Dialog Hidden">
                                    <a href="$p.id">Edit user details</a>
                                    <a href="$p.id">View user details</a>
                                </div>
                            </div>
                        </td>                    
                    </tr>
                    #end
                </table>
            </div>
        </section>
        
        <script type="text/javascript" >
            jQuery(function() {
                initManageUser();                
            });            
        </script>        
    </body>
</html>