.fields li h4 {
    margin: 0;
    padding: 0;
}

.optins li, .fields li {
    float: left;
    margin-right: 10px;
    background: none repeat scroll 0 0 #EDEDED;
    border: 1px solid #DADADA;
    border-radius: 3px 3px 3px 3px;
    min-height: 24px;
    margin-right: 10px;
    margin-top: 3px;
    padding: 4px 10px;    
    list-style-type: none;
}

ul.fields li a {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    margin-left: 10px;
}
ul.fields li:hover a {
     background-image: url(/templates/themes/admin/images/btn_delete_small.png);
     background-position: right center;
     background-repeat: no-repeat;
     cursor: pointer;
}