<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageWebsite.css" rel="stylesheet" type="text/css" />
        <link href="manageOrgs.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/static/js/jquery.fileupload.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.milton-upload.js">//</script>
        
        <script type="text/javascript" src="manageGroup.js" bottom="true">//</script>
        <script type="text/javascript" src="manageOrgs.js" bottom="true">//</script>
        
    </head>
    <body id="manageOrgs" class="manageOrgs">
        <section class="MainContent">
            <header class="ClearFix">
                <a class="SmallBtn Add org" href="#">Add New Business unit</a>
                <a class="Btn showUploadCsvModal" style="float: right" href="#">Upload CSV</a>
                <a class="Btn" style="float: right; margin-right: 10px;" href="orgs.csv">Open CSV</a>                             
            </header>   

            <div class="Info">
                <header class="ClearFix">
                    <div class="SearchBox">
                        <input id="orgQuery" type="text" value="" placeholder="Search for a business unit here" />
                        <a href="#" class="ClearText"><span class="Hidden">X</span></a>
                    </div>
                </header>                
                <table class="Summary" id="searchResults">
                    <colgroup>
                        <col style="width: 50%"/>
                        <col style="width: 10%"/>
                        <col style="width: 10%"/>
                        <col style="width: 10%"/>
                        <col style="width: 15%"/>
                        <col style="width: 5%"/>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Path</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>&nbsp;</th>
                        </tr>
                        #foreach($org in $page.searchResults)
                        <tr>
                            <td>$formatter.htmlEncode($org.title)</td>
                            <td>$org.orgTypeName</td>
                            <td>$org.parentPath</td>
                            <td>$!org.phone</td>
                            <td>$!org.address</td>
                            <td>
                                <div class="Controller">
                                    <a title="Show Dialogue" class="ShowDialog" href="#"><span class="Hidden">Show Dialogue</span></a>
                                    <div class="Dialog Hidden">
                                        <a class="editOrg" href="$org.href">Edit details</a>
                                        <a href="${org.href}viewDetails">View users and details</a>
                                        <a href="${org.href}">Manage organisation</a>
                                        <a href="${org.href}organisations">Manage child orgs</a>
                                        <a class="DeleteOrg" href="${org.href}">Delete this organisation</a>
                                    </div>
                                </div>
                            </td>                    
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>                            
        </section>

        <div id="modalUploadCsv" class="Modal">
            <header>
                <h3>Upload Organisations CSV</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <p>Instructions for uploading organisations</p>
                <ol>
                    <li>Always <a href="orgs.csv">download the spreadsheet</a> and keep it as a backup before making changes</li>
                    <li>The upload can process about <b>1000 rows per minute</b>, so it can take a while for larger databases</li>
                    <li>This process <b>never deletes</b> anything</li>
                    <li>If this is your firt upload use that spreadsheet as a template</li>
                    <li>Update the spreadsheet. The first column is a unique identifier <b>which allows you to update the spreadsheet</b>. If you
                    dont provide a unique ID one will be assigned</li>
                    <li>The second column is the type, which must be one of those defined in the <a href="orgTypes">Manage Organisation Types</a> page. Optional</li>
                    <li>The third column is the path, which is useful if your organisational structure is a hierarchy. Only use this column if you need to delegate permissions to business units.</li>
                    <li>By default only rows which an existing organisation on unique ID will be processed, these will be updated in the database from the spreadsheet</li>
                    <li><b>We recommend you always do a first run with "allow inserts" OFF</b>. You will be shown how many matches were made or not, then you can decide if you want to allow inserts.</b>
                    <li>If you click "allow inserts" then any organisations in the spreadsheet which do not match existing orgs in the database will be inserted</li>
                </ol>
                <div class='upload'>
                    <div class="input" id='doUploadCsv'></div>
                    <br/>
                    <div class="allowInserts">
                        <input type="checkbox" id="allowInserts"/>
                        <label for="allowInserts">Allow inserts</label>
                    </div>    
                    <div class="results">
                        <strong>No. updated:</strong>
                        <span class="numUpdated">-</span>
                        <strong>Unmatched:</strong>
                        <span class="numUnmatched">-</span>
                        <br/>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                
            </div>
        </div>        
        <div id="editOrgModal" class="Modal">
            <header>
                <h3>Edit Organisation</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <form method="post" action="" style="position: relative; padding-bottom: 30px">
                    <ul class="verticalFields">
                        <li>
                            <label for="orgTitle">ID</label>
                            <input type="text" name="orgId" id="orgId" class="" placeholder="A unique id. To enabled updating from spreadsheet" />
                        </li>
                        <li>
                            <label for="orgTitle">Admin ID</label>
                            <input type="text" name="adminDomain" id="adminDomain" class="" placeholder="Unique in all of fuse. Used to identify the admin console" />
                        </li>                        
                        <li>
                            <label for="orgTitle">Name</label>
                            <input type="text" name="title" id="orgTitle" class="required" placeholder="User friendly name for the organisation" />
                        </li>
                        <li>
                            <label for="orgPostcode">Type</label>
                            <select name="orgTypeName">
                                <option value="">[None]</option>
                                #foreach($orgType in $page.orgTypes)
                                $formatter.option($orgType.name, $orgType.displayName, "")
                                #end
                            </select>
                        </li>
                        <li>
                            <label for="orgPhone">Phone</label>
                            <input type="text" name="phone" id="orgPhone" />
                        </li>
                        <li>
                            <label for="orgAddress">Address</label>
                            <input type="text" name="address" id="orgAddress" />
                        </li>                        
                        <li>
                            <label for="orgAddress2">Address Line2</label>
                            <input type="text" name="addressLine2" id="orgAddress2" />
                        </li>                        
                        <li>
                            <label for="orgState">State</label>
                            <input type="text" name="addressState" id="orgState" />
                        </li>     
                        <li>
                            <label for="orgPostcode">Postcode</label>
                            <input type="text" name="postcode" id="orgPostcode" />
                        </li>                             
                    </ul>
                    <button type="submit" class="Btn" style="position: absolute; right: 24px; bottom: 5px">Save</button>
                </form>
            </div>
        </div>        
    </body>
</html>