/** Begin Fuse/theme.css **/
#manageModule > header {
	padding-bottom: 8px;
	border-bottom: 1px solid #dadada;
	color: #333;
	font-size: 11px;
	line-height: 24px;
	height: 24px;
}
#manageModule > nav { padding: 8px 8px 0; }
#manageModule > nav a.Item {
	float: left;
	height: 33px;
	line-height: 33px;
	padding: 0 13px;
	font-size: 12px;
	font-weight: bold;
	border: solid #dedede;
	border-width: 1px 1px 0 1px;
	border-radius: 3px 3px 0 0;
	color: #333;
	margin-right: 6px;
}
#manageModule > nav a.Item.Active {
	color: #FFF;
	background-color: #44bbe0;
}
/* Content */
#manageModule > div.Content {
	border: 1px solid #cecece;
	background-color: #f0f0f0;
	border-radius: 5px;
}
/* Content for page */
#manageModule div.Content h4 {
	font-size: 13px;
	border-radius: 5px 5px 0 0;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	font-weight: bold;
}
#manageModule div.Content div.MainContent {
	padding: 5px;
	border-top: 1px solid #cecece;
	background: #FFF;
	border-radius: 0 0 5px 5px;
}
#manageModule div.Content div.MainContent article {
	margin-top: 5px;
	padding: 4px 4px 4px 30px;
	line-height: 25px;
	height: 25px;
	border: 1px solid #dedede;
	border-radius: 3px;
	cursor: move;
	position: relative;
}
#manageModule div.Content div.MainContent article:first-child { margin-top: 0; }
#manageModule div.Content div.MainContent article.Even { background-color: #ededed; }
#manageModule div.Content div.MainContent article aside { float: right; }
#manageModule div.Content div.MainContent article aside a {
	float: left;
	display: none;
	width: 23px;
	height: 23px;
	padding: 1px;
	background: no-repeat 50% 50%;
}
#manageModule div.Content div.MainContent article:hover aside a { display: block; }
#manageModule div.Content div.MainContent article aside a:hover, #manageModule div.Content div.MainContent article aside a.Active {
	padding: 0;
	border: 1px solid #c7c7c7;
	background-color: #e3e3e3;
	border-radius: 3px;
}
/* Content for details */
#manageModule div.Content form { border: 0; }
#manageModule div.Content form.Details table tbody td .EmailMessage {
	clear: both;
	padding-top: 5px;
}
#manageModule div.Content form.Details table tbody td div.Certificate, #manageModule div.Content form.Details table tbody td div.Reward {
	clear: both;
	margin-top: 7px;
}
#manageModule div.Content form.Details table tbody td div.Certificate.First, #manageModule div.Content form.Details table tbody td div.Reward.First { margin-top: 0; }
#manageModule div.Content form.Details table tbody td div.Certificate label {
	font-weight: bold;
	margin-right: 10px;
	float: left;
	line-height: 32px;
}
/* Controller panel for Edit mode */
#manageModule .Controller {
	padding: 4px;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	margin-bottom: 5px;
	height: auto;
}
#manageModule .Controller .Left .Btn { margin-right: 5px; }
#manageModule .Controller .Right .Btn { margin-left: 5px; }

.modulePage:hover aside {
    display: block;
}