<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Organisation Type</title>
        <script type="text/javascript" src="manageOrgTypes.js">//</script>
    </head>
    <body>

        <div id="editOrgTypeModal">
            <header>
                <h3>Edit Organisation Type</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>                           
            <div class="ModalContent">
                <form method="POST" action="$page.href">
                    <div class="pageMessage"></div>
                    <div class="inputs">
                        <input type="hidden" name="orgTypeId" value="$page.orgType.id"/>
                        <label for="newOrgTypeName">Code</label>
                        <input type="text" name="name" id="newOrgTypeName" class="required" value="$page.name" />
                        <label for="newOrgTypeDisplayName">Display name</label>
                        <input type="text" name="displayName" id="newOrgTypeDisplayName" class="required" value="$page.orgType.displayName" />
                    </div>

                    <h2>What extra fields are associated with this type of organisation or business unit?</h2>
                    <button type="button" class="SmallBtn Add addField"><span>Add field</span></button>
                    <div class="fields">
                        <ul class="fields">
                            #foreach($field in $page.dataCaptureFields.entrySet())
                            <li>
                                <h4>$field.key</h4>
                                <input type="text" name="field-${field.key}" value="$field.value"/>                            
                                <a href="$field.key" class="removeField">Delete</a>                            
                            </li>
                            #end
                        </ul>
                    </div>

                    <button type="submit" class="Btn" style="float: right">Save</button>
                </form>
            </div>
        </div>  
        <script type="text/javascript" >
            jQuery(function() {
                initManageOrgTypeModal();                
            });            
        </script>         
    </body>
</html>