<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <script type="text/javascript" src="manageWebsite.js">//</script>
        <link href="manageWebsite.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageApps.js">//</script>
        <script type="text/javascript" src="/static/js/managePublishing.js">//</script>
        <link href="manageApps.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="manageWebsite">

        <section class="MainContent">
            <section class="Control ClearFix">
                <div class="DropdownControl publishing">
                    <div class="DropdownWrapper">
                        #set($currentBranch = $page.closest("branch"))
                        <span>
                            <b>Editing version:</b> 
                            $currentBranch.name
                            #if( $currentBranch.live )
                            <strong class="islive">LIVE</strong>
                            #else
                            <a href="${currentBranch.href}publish" class="publish">PUBLISH</a>
                            #end

                        </span> 
                        <a href="#" class="Control"><span class="Hidden">Change version</span></a>
                    </div>
                    <div class="DropdownContent Hidden">
                        <div class="Content">
                            <ul class="Program branches">
                                #foreach($b in $page.closest("branch").parent.children)
                                <li>
                                    <a href="#" class="copy"><span>Copy</span></a>
                                    #if( $b.live )
                                    <strong class="islive">LIVE</strong>
                                    #end

                                    <a href="${b.href}">
                                        $b.name
                                    </a> 
                                </li>
                                #end
                            </ul>
                        </div>
                    </div>
                </div>
                                
                
                <div class="DropdownControl">
                    <div class="DropdownWrapper">
                        <span><b>Website:</b> $page.closest("website").name</span> 
                        <a href="#" class="Control"><span class="Hidden">Change website</span></a>
                    </div>
                    <div class="DropdownContent Program Hidden">
                        <div class="Content ClearFix">
                            <section rel="program">
                                <ul class="Program">
                                    #foreach($w in $page.closest("website").parent.children)
                                    <li><a href="${w.href}">$w.name</a></li>
                                    #end
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
                <a target='_blank' href='${page.externalUrl}' class='Btn' style='float: left; margin-left: 0px'>View website</a>
            </section>    

            <div class="TabContainer">
                <nav class="ClearFix TabNav">
                    <a href="#details">Details</a>
                    <a href="#themes">Themes</a>
                    <a href="#groups">Group Access</a>
                    <a href="#mail">Mail server</a>
                    <a href="#apps">Apps</a>
                </nav>
                <div class="TabContent" rel="#details">
                    <div class="Content">
                        <form name="frmDetails" action="." method="post" class="Details">
                            <div class="pageMessage">.</div>
                            <i>Note: Changes in this section apply immediately to all versions of the website, including the live version</i>
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Website name</th>
                                        <td>
                                            <input type="text" name="name" value="$!page.website.name" class="required simpleChars" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Domain name</th>
                                        <td><input type="text" name="domainName" value="$!page.website.domainName" class="simpleChars" /></td>
                                    </tr>
                                    <tr>
                                        <th>Alias for</th>
                                        <td>
                                            <select>
                                                <option value="">[None]</option>
                                                #foreach($w in $page.otherWebsites)
                                                $formatter.option($w.name, $w.name, $page.website.aliasTo)
                                                #end
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Redirect to</th>
                                        <td><input type="text" name="redirectTo" value="$!page.website.redirectTo" class="href"/></td>
                                    </tr>                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">
                                            <button class="Btn">Save Changes</button>
                                        </td>
                                    </tr>
                                </tfoot>                                
                            </table>
                        </form>
                    </div>
                </div>	
                <div class="TabContent" rel="#themes">
                    <div class="Content">
                        <form name="frmDetails" action="." method="post" class="Details">
                            <p class="pageMessage"></p>
                            <table>
                                <tbody>
                                    <tr>
                                        <th class="Short">Choose a theme</th>
                                        <td colspan="3">
                                            <select name="publicTheme">                                            
                                                #foreach($t in $page.themes)
                                                $formatter.option($t, $t, $page.branch.publicTheme)
                                                #end
                                            </select>                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="Short">Logo</th>
                                        <td colspan="3">
                                            <input type="text" class="required toolbar-Logo" name="logo" id="logo" value="$!page.themeAttributes.logo" />
                                        </td>
                                    </tr>                                    
                                    <tr>
                                        <th class="Short">Menu</th>
                                        <td colspan="3">
                                            <textarea name="menu">$!page.themeAttributes.menu</textarea>
                                            <br/>
                                            Menu is in the form of address,title. Eg /faq.html,FAQ
                                        </td>
                                    </tr>                                    

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <button class="Btn">Save Changes</button>
                                        </td>
                                    </tr>
                                </tfoot>                                                                
                            </table>
                        </form>
                    </div>
                </div>
                <div class="TabContent" rel="#groups">
                    <div class="Content Recipient">
                        <header class="ClearFix">
                            <button class="SmallBtn Add AddGroup"><span>Add/remove groups</span></button>
                        </header>
                        <ul class="GroupList ClearFix">
                            #foreach($g in $page.selectedGroups)
                            <li>$g.name</li>
                            #end
                        </ul>
                    </div>
                </div>
                <div class="TabContent" rel="#mail">
                    <div class="Content">
                        <form name="frmDetails" action="." method="post" class="Details">
                            <p class="pageMessage"></p>
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Mail server host</th>
                                        <td><input type="text" name="mailServer" value="$!page.mailServer" class="required" /></td>
                                    </tr>
                                    <tr>
                                        <th>User name</th>
                                        <td><input type="text" name="mailUser" value="$!page.mailUser"/></td>
                                    </tr>
                                    <tr>
                                        <th>Password</th>
                                        <td><input type="text" name="mailPassword" value="$!page.mailPassword"/></td>
                                    </tr>                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">
                                            <button class="Btn">Save Changes</button>
                                        </td>
                                    </tr>
                                </tfoot>                                

                            </table>
                        </form>
                    </div>
                </div>	
                <div class="TabContent" rel="#apps">
                    <div class="Content appsContainer">

                        <article class="Note">
                            <p>Applications control large chunks of functionality, like forums or emails. You can add them to websites</p>
                            <p>
                                Applications are made available for websites by activating them on your organisation's Manage Applications page. Available apps are then shown on the website apps list where they can be turned on or off as required.
                            </p>
                        </article>

                        #set($apps = $page.apps)
                        #if( $apps.isEmpty() )
                        <article class="Note">
                            <p>No applications are available. This means that the parent organisation has disabled them</p>
                        </article>        
                        #end

                        <table class="apps">            
                            #foreach($app in $apps )
                            <tr>
                                <td class="CheckBoxWrapper">
                                    $formatter.checkbox("chk_${app.appId}", $app.appId, $app.enabled, $app.appId)
                                    <label for="chk_${app.appId}"></label>
                                </td>
                                <td>
                                    <h5>$page.getTitle($app.appId)</h5>
                                    <p>$page.getSummary($app.appId)</p>
                                </td>
                                <td>
                                    #if( $page.hasSettings($app) )
                                    <button class="settings" rel="$app.appId">Manage</button>
                                    #end
                                </td>
                            </tr>
                            #end
                        </table>            

                        #foreach($app in $page.apps )
                        #if( $page.hasSettings($app) )
                        <div class="Modal settings" id="settings_${app.appId}">
                            <header>
                                <h3>Edit Application: $app.appId</h3>
                                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
                            </header>                           
                            <div class="ModalContent">
                                <form method="POST" action=".">
                                    <input type="hidden" name="settingsAppId" value="$app.appId"/>
                                    #appSettings($app.appId)
                                    <button type="submit" class="Btn" style="float: right">Save</button>
                                </form>
                            </div>
                        </div>
                        #end
                        #end                        
                    </div>
                </div>
            </div>
        </section>
        <div id="modalGroup" class="Modal">
            <header>
                <h3>Choose groups</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <table>
                    <tr>
                        <td colspan="2">
                            <ul class="ListItem">
                                #foreach($g in $page.allGroups)
                                <li>
                                    <span>$g.name</span>
                                    <aside>
                                        $formatter.checkbox($g.name, $page.isSelected($g) )
                                    </aside>
                                </li>
                                #end
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(function() {
                initManageWebsite();
                initPublishingMenu("");
                initHtmlEditors($(".htmleditor"), "60px", "200px", 'embed_video,modal', 'resize,elementspath');
                $("form.Details").forms({
                    callback: function() {
                        alert("Saved ok");
                    }
                });
            });
        </script>        
    </body>
</html>