<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage modules</title>
        <link href="manageFiles.css" rel="stylesheet" type="text/css" />
        <link href="/static/history/jquery.history.css" rel="stylesheet" type="text/css" />
        <link href="/static/js/milton-image-select.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="/static/history/jquery.history.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.milton-image-select.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.milton-tree.js">//</script>
        <script type="text/javascript" src="/static/js/managePublishing.js">//</script>
        <script type="text/javascript" src="/templates/themes/admin/prompt.js">//</script>
        <script type="text/javascript" src="/templates/apps/admin/manageFiles.js">//</script>
        <script type="text/javascript" src="/static/js/types.js">// </script>
        <script type="text/javascript" src="/static/js/jquery.fileupload.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.milton-upload.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.lightbox-0.5.js">//</script>          
    </head>
    <body class="manageFiles">
        <section id="manageFiles" class="MainContent">
            <header>
                <div class="DropdownControl publishing">
                    <div class="DropdownWrapper">
                        #set($currentBranch = $page.closest("branch"))
                        <span>
                            <b>Version:</b> 
                            $currentBranch.name
                            #if( $currentBranch.live )
                            <strong class="islive">LIVE</strong>
                            #else
                            <a href="${currentBranch.href}publish" class="publish">PUBLISH</a>
                            #end

                        </span> 
                        <a href="#" class="Control"><span class="Hidden">Change version</span></a>
                    </div>
                    <div class="DropdownContent Hidden">
                        <div class="Content">
                            <ul class="Program branches">
                                #foreach($b in $page.closest("branch").parent.children)
                                <li>
                                    <a href="#" class="copy"><span>Copy</span></a>
                                    #if( $b.live )
                                    <strong class="islive">LIVE</strong>
                                    #end

                                    <a href="${b.href}">
                                        $b.name
                                    </a>                                    
                                </li>
                                #end
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="DropdownControl">
                    <div class="DropdownWrapper">
                        <span><b>Website:</b> $page.closest("repository").name</span> 
                        <a href="#" class="Control"><span class="Hidden">Change</span></a>
                    </div>
                    <div class="DropdownContent Rows3 Hidden">
                        <div class="Content ClearFix">
                            <section rel="program">
                                #foreach($w in $page.closest("repository").parent.children)
                                <a href="${w.href}">$w.name</a>
                                #end
                            </section>
                        </div>
                    </div>
                </div>                
            </header>

            <nav class="TabNav ClearFix">
                <a href="#pages">Pages</a>
                <a href="#files">Files &amp; Folders</a>
            </nav>
            <div class="Content TabContent" rel="#pages" style="position: relative">
                <h4>$page.title - $page.class</h4>
                <a title="Add Page" class="SmallBtn Add NoText AddModulePage" href=""><span>Add</span></a>
                <form method="POST" action="" class="">
                    <div class="MainContent filesList">
                        #set($order = 0)

                        #foreach($page in $page.children.ofType.html)
                        <article class="modulePage">
                            <span>$page.title</span>
                            <aside class="Hidden">
                                <a href="${page.name}" class="Edit" title="Edit page"><span class="Hidden">Edit page</span></a>
                                <a href="${page.name}?goto" target="_blank" class="View" title="View page"><span class="Hidden">View page</span></a>
                                <a href="${page.path}" class="Delete" title="Delete page"><span class="Hidden">Delete page</span></a>
                            </aside>    
                        </article>

                        #end

                    </div>                
                </form>
            </div>
            <div class="Content TabContent" rel="#files">
                <table id="fileList" class="bar table table-striped vcenter">
                    <thead>
                        <tr>
                            <th colspan="2">Files: $page.name</th>
                            <th>Modified</th>
                            <th>Size</th>
                            <th>Tools</th>
                        </tr>
                        <tr class="seperator">

                        </tr>
                    </thead>
                    <tbody>                
                        #foreach($f in $page.subFolders)
                        <tr>
                            <td style="width: 70px">
                                <a href="${f.href}#files">
                                    <img  height="48" width="48" alt="" src="/static/icons/folder.png"/>
                                </a>
                            </td>
                            <td class="left">
                                <a href="${f.href}#files">$f.name</a>
                            </td>
                            <td><abbr title="$formatter.formatDateISO8601($f.modifiedDate)" class="timeago">$!f.modifiedDate</abbr></td>
                            <td></td>
                            <td>
                                <a href="$f.href" class="hidden">hidden</a>
                            </td>
                        </tr>
                        #end

                        #foreach($f in $page.files)                
                        #set($lightBoxClass = "lightbox")
                        #if( $f.contentLength < 100000 )
                        #set($lightBoxClass = "")
                        #end
                        <tr class="file $lightBoxClass">
                            #set($imgClass = $formatter.ifTrue($f.is("image"), "image", "" ) )
                            <td style="width: 70px">
                                <a href="$f.href" class="$imgClass"><img height="48" width="48" alt="" src="/templates/images/img8.gif"/></a>
                            </td>
                            <td class="left">
                                <a href="$f.href" class="$imgClass">$f.name</a>
                            </td>
                            <td><abbr title="$formatter.formatDateISO8601($!f.modifiedDate)" class="timeago">$!f.modifiedDate</abbr></td>
                            <td>$f.contentLength</td>
                            <td>
                                <a href="$f.href" class="hidden">hidden</a>
                            </td>
                        </tr>
                        #end                 
                    </tbody>
                </table>                
            </div>

        </section>

        <div id="modalCreatePage" class="Modal wide">
            <header>
                <h3>Add/edit module page</h3>                
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent new-page-modal-content">
                <form method="POST" action=".">
                    <input type="hidden" name="pageName" />
                    <div class="pageMessage">.</div>
                    <table class=''>
                        <tr>
                            <th><label for="name">Page title</label></th>
                            <td>
                                <input type="text" name="title" id="pageTitle" class="required" value="" placeholder="A title for the new page" />                                
                            </td>
                            <th>Page template</th>
                            <td>
                                <select name="template">
                                    #foreach($template in $page.closest("branch").child("theme").children.ofType.html.exclude('normal.html') )
                                    <option value="theme/${template.name}">$template.name</option>
                                    #end
                                </select>
                            </td>
                            <td style='width: 300px'>
                                <button class="Btn pageBtn" type="submit">
                                    Save page
                                    <img class='ajax-loader' src='/static/common/loading.gif'/>
                                </button>
                                <button class="Btn historyBtn" type="button">History</button>
                                
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <textarea name="body" id="body" class="htmleditor toolbar-Full" style="width: 800px"></textarea>
                            </td>
                        </tr>                        
                    </table>
                </form>
            </div>
        </div>          


        <script type="text/javascript" >
            var themePath = "${page.themePath}";
            jQuery(function() {
                initPublishingMenu("");
                //initManageModule("../../..", themePath);
            });
        </script>        
    </body>
</html>