#manageGroup > header { border-bottom: 1px solid #dadada; }
#manageGroup div.Group {
    margin-top: 7px;
    border: 1px solid #cecece;
    border-radius: 5px;
}

#manageGroup div.Group div.ContentGroup { padding: 15px 15px 5px; }
#manageGroup div.Group div.ContentGroup h4 {
    border-bottom: 1px solid #dedede;
}
#manageGroup div.Group div.ContentGroup ul { margin-top: 5px; }
#manageGroup div.Group div.ContentGroup ul li {
    background: #ededed;
    border-radius: 3px;
    margin-top: 3px;
    padding: 4px 10px 4px 10px;
    line-height: 27px;
    height: 25px;
}
#manageGroup div.Group div.ContentGroup ul li span {
    float: left;
}
#manageGroup div.Group div.ContentGroup ul li aside { float: right; }
#manageGroup div.Group div.ContentGroup ul li aside a {
    float: left;
    display: block;
    height: 25px;
    width: 25px;
    background-color: #ededed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-right: 4px;
    border-radius: 2px;
}
#manageGroup div.Group div.ContentGroup ul li aside a:hover { background-color: #FFF; }
#manageGroup div.Group div.ContentGroup ul.PermissionList li {
    float: left;
    margin-right: 10px;
}
#manageGroup div.Group div.ContentGroup ul.PermissionList li aside {
    padding-left: 5px;
}
#manageGroup div.Group div.ContentGroup ul li .FuseChkLabel {
    float: left;
    margin: 3px 10px 0 0;
}
#manageGroup div.Group div.ContentGroup .AddProgram, #manageGroup div.Group div.ContentGroup .AddPermission {
    float: right;
    margin-top: 5px;
}
#manageGroup div.Dialog {
    top: 15px;
    right: -185px;
}