#doUploadCsv {
    width: 190px;
}
#doUploadCsv span {
    left: 33px;
    position: absolute;
}
.upload {
    position: relative;
}
.allowInserts {
    position: absolute;
    left: 200px;
    top: 5px;
}
.results {
    display: none;
}

#modalUploadCsv .results td {
    line-height: normal;
    padding: 3px 6px;
}
#modalUploadCsv .results td:first-child {
    padding-left: 0;
}
#modalUploadCsv .results td:last-child {
    padding-right: 0;
}

.manageOrgs > header { padding-bottom: 5px; position: relative; }
.manageOrgs > header .Right { float: right; }
.manageOrgs > header .Right button {
    padding: 0;
    width: 35px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.manageOrgs > header .Left {
    margin-right: 80px;
    border: 1px solid #dedede;
    border-radius: 3px;
    height: 24px;
    line-height: 24px;
}
.manageOrgs > header .Left a.Search {
    display: block;
    float: left;
    border-radius: 3px 0 0 3px;
    border-right: 1px solid #dedede;
    width: 35px;
    height: 24px;
}
.manageOrgs > header .Left nav {
    float: left;
    padding: 0 8px;
}
.manageOrgs > header .Left nav a {
    color: #333;
    text-decoration: underline;
    font-size: 11px;
}
.manageOrgs > header .Left div.Info {
    position: absolute;
    top: 27px;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
}
.manageOrgs > header .Left div.Info table.Summary {
    border-bottom: 1px solid #dedede;
}
/* Table summary with search button */
.manageOrgs div.Info {
    border: 1px solid #dedede;
    border-radius: 3px;
    background: #FFF;
}
.manageOrgs div.Info > header {
    background-color: #f0f0f0;
    padding: 8px;
}
.manageOrgs div.Info header div.Setting {
    float: right;
    position: relative;
}
.manageOrgs div.Info header div.Setting > a {
    display: block;
    width: 28px;
    height: 24px;
    border: 1px solid #dedede;
    border-radius: 2px;
}
.manageOrgs div.Info header div.Setting div.SettingContent {
    position: absolute;
    z-index: 99;
    border: 1px solid #ababab;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #FFF;
    right: 0;
    top: 27px;
    padding: 15px 5px 5px 15px;
    width: 180px;
}
.manageOrgs div.Info header div.Setting div.SettingContent header select { padding: 3px; min-width: 60px; max-width: 170px; height: 26px; }
.manageOrgs div.Info header div.Setting div.SettingContent ul { width: 175px; }
.manageOrgs div.Info header div.Setting div.SettingContent ul li { margin-top: 7px; }
.manageOrgs div.Info header div.Setting div.SettingContent ul li:last-child {
    padding-top: 7px;
    border-top: 1px solid #ababab;
}
.manageOrgs div.Info header div.Setting div.SettingContent ul li label { font-size: 11px; }
.manageOrgs div.Info header div.Setting div.SettingContent .Btn {
    float: right;
    margin-top: 15px;
}
/* Search box */
.manageOrgs div.Info header div.SearchBox {
    position: relative;
    float: left;
}
.manageOrgs div.Info header div.SearchBox input {
    border: 1px solid #d0d0d0;
    padding: 0 30px 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    width: 280px;
    background-image: linear-gradient(bottom, #FFFFFF 50%, #EDEDED 100%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 50%, #EDEDED 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 50%, #EDEDED 100%);
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 50%, #EDEDED 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 50%, #EDEDED 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.5, #FFFFFF), color-stop(1, #EDEDED) );
    font-style: italic;
}
.manageOrgs div.Info header div.SearchBox input:focus { font-style: normal; }
.manageOrgs div.Info header div.SearchBox a.ClearText {
    position: absolute;
    top: 6px;
    right: 6px;	
    width: 19px;
    height: 19px;
}
.manageOrgs div.Info table.Summary {
    width: 100%;
    font-size: 12px;
}
.manageOrgs div.Info table.Summary th, .manageOrgs div.Info table.Summary td {
    height: 33px;
    line-height: 33px;
    padding-left: 13px;
}
.manageOrgs div.Info table.Summary th {
    background-color: #f0f0f0;
    text-align: left;
}
.manageOrgs div.Info table.Summary td { border-top: 1px solid #dedede; }
.manageOrgs div.Info table.Summary td div.Controller {
    float: right;
    padding-right: 8px;
    position: relative;
}
.manageOrgs div.Info table.Summary td div.Controller div.Dialog {
    top: 26px;
}
.manageOrgs div.Info table.Summary td div.Controller a.ShowDialog {
    float: left;
    width: 23px;
    height: 23px;
    padding: 1px;
}
.manageOrgs div.Info table.Summary td div.Controller a.ShowDialog:hover, .manageOrgs div.Info table.Summary td div.Controller a.ShowDialog.Active {
    padding: 0;
    border: 1px solid #c7c7c7;
    background-color: #e3e3e3;
    border-radius: 3px;
}

