<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageWebsite.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageGroup.js">//</script>
    </head>
    <body class="manageOrgs">
        <section id="manageWebsite" class="MainContent">

            <div class="Left">
                <a class="SmallBtn Add" onclick="return showAddItem(this)" href="#">Add New Business unit</a>
                <div class="Modal">
                    <header>
                        <h3>Add new business unit</h3>
                        <a title="Close" href="#" class="Close"><span class="Hidden">Close</span></a>
                    </header>

                    <div class="ModalContent">
                        <form class="addOrg" method="POST" action="$page.name">
                            <table>
                                <tbody><tr>
                                        <th><label for="newTitle">Enter business unit name</label></th>
                                        <td><input type="text" class="required" placeholder="Certificate name" id="newTitle" name="newTitle"/></td>
                                    </tr>
                                    <tr>
                                        <td class="BtnBar" colspan="2">
                                            <button class="Btn">Save changes</button>
                                        </td>
                                    </tr>
                                </tbody></table>
                        </form>
                    </div>                    
                </div>
            </div>

            <table class="Summary">
                #foreach($org in $folder.children)
                <tr>
                    <td>
                        <h5>$org.name</h5>
                        <p>Stuff goes here</p>
                    </td>
                    <th>
                        <a href="$org.path" class="Btn DeleteOrg">Delete</a>
                        <a href="$org.path" class="Btn Cancel EditWebsite">Manage</a>
                    </th>
                </tr>
                #end

            </table>
        </section>
        <script  type="text/javascript">
            jQuery(function() {
                $("form.addOrg").forms({
                    callback: function(resp) {
                        log("done", resp);
                        window.location.reload();
                    }
                });                
                $("body").on("click", ".DeleteOrg", function(e, n) {
                    e.preventDefault();
                    var node = $(e.target);
                    var href = node.attr("href");
                    var name = getFileName(href);
                    confirmDelete(href, name, function() {
                        window.location.reload();
                    });                    
                });
                
            });
        </script>
    </body>
</html>