<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageWebsite.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageWebsite.js">//</script>
    </head>
    <body>
        <section id="manageWebsite" class="MainContent">
            <div class="Left">
                <a class="SmallBtn Add" onclick="return showAddItem(this)" href="#">Add new website</a>
                <div class="Modal">
                    <header>
                        <h3>Add new website</h3>
                        <a title="Close" href="#" class="Close"><span class="Hidden">Close</span></a>
                    </header>

                    <div class="ModalContent">
                        <form class="addOrg" method="POST" action=".">
                            <table>
                                <tbody>
                                    <tr>
                                        <th><label for="newName">Enter domain name</label></th>
                                        <td><input type="text" class="required" placeholder="DNS name, eg www.mylearning.com" id="newName" name="newName"/></td>
                                    </tr>
                                    <tr>
                                        <th><label for="newAlias">Enter website alias</label></th>
                                        <td><input type="text" class="required" placeholder="Alternative DNS name" id="newAlias" name="newAlias"/></td>
                                    </tr>
                                    
                                    <tr>
                                        <td class="BtnBar" colspan="2">
                                            <button class="Btn">Save changes</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>                    
                </div>
            </div>

            <table class="Summary">
                #foreach($w in $page.websites)
                <tr>
                    <td>
                        <h5>$w.name</h5>
                        <p>Public theme: $!w.publicTheme; Internal theme: $!w.internalTheme; Current branch: $!w.currentBranch</p>
                    </td>
                    <th>
                        <a target="_blank" href="http://${page.websiteAddress($w)}${formatter.portString}/" class="Btn ViewWebsite">View</a> 
                        <a href="$w.name" class="Btn Cancel EditWebsite">Edit</a>
                    </th>
                </tr>
                #end

            </table>
        </section>
        <script type="text/javascript">
            jQuery(function() {
                initManageWebsite();
                $("form.addOrg").forms({
                    callback: function(resp) {
                        log("done", resp);
                        window.location.reload();
                    }
                });                
                
            });
        </script>
    </body>
</html>