<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Groups</title>
        <link href="manageGroup.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageGroup.js">//</script>
    </head>
    <body class="manageModulePages">
        <!-- Content goes here - NO HEADER/BANNER/MENU! -->
        <section id="manageGroup" class="MainContent">
            <header class="ClearFix">
                <button class="SmallBtn Add AddGroup"><span>Add New Group</span></button>
            </header>
            #foreach($group in $page.children)
            <div class="Group">
                <header class="ClearFix">
                    <div class="ShowDialog"><span>$group.name</span></div>
                    <a class="numMembers" href="$group.name/members">$group.numMembers Members</a>
                    <a href="#" class="regoMode">Registration: $group.regoModeText</a>
                </header>
                <div class="ContentGroup ClearFix">
                    #portlets("groupDetails")
                    <h4>Roles</h4>
                    <ul class="PermissionList ClearFix">
                        #foreach($role in $group.children)
                        <li>
                            <span>$role.title</span>
                            <a href="$role.href">Delete</a>
                        </li>
                        #end
                    </ul>	
                    <div class="ClearFix">
                        <button onclick="showPermissionModal(this)" class="SmallBtn Add AddPermission"><span>Add roles</span></button>
                    </div>
                    
                    <h4>Website access</h4>
                    <ul class="ClearFix">
                        #set($signups = $group.signupPages)
                        #if( $signups.isEmpty() )
                        <li>This user group does not have access to any websites</li>
                        #else
                        #foreach($p in $signups.keySet())
                        <li>
                            <a target="_blank" href="http://${p}${formatter.portString}"><b>$p</b></a>
                            #if( $group.publicSignup )
                            <span class="pull-right">
                                <a target="_blank" href="$signups.get($p)" class="Btn">Signup page</a>
                            </span>                   
                            #else
                            <span class="pull-right">No signup page</span>
                            #end
                        </li>
                        #end
                        #end
                    </ul>	                    
                </div>
            </div>
            #end
        </section>

        <div class="Modal roles">
            <header>
                <h3>Edit roles</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>

            <div class="ModalContent">
                <table>
                    <tr>
                        <td colspan="2">
                            <p>Role applies to:</p>
                            <ul class="appliesTo">
                                <li>
                                    <input type="radio" name="appliesTo" value="ownOrg" id="appliesToOwnOrg" /> 
                                    <label for="appliesToOwnOrg">Their own organistion</label>
                                </li>
                                <li>
                                    <input type="radio" name="appliesTo" value="selectRepo" id="appliesToRepository"/> 
                                    <label for="appliesToRepository">A repository</label>
                                    <select>
                                        <option value="">-- Select a repository --</option>
                                        #foreach($r in $page.organisation.repositories)
                                        <option value="$r.name">$r.name</option>
                                        #end
                                    </select>
                                </li>
                                <li>
                                    <input type="radio" name="appliesTo" value="selectOrg" id="appliesToOrg"/> 
                                    <label for="appliesToOrg">An organistion</label>
                                    <select>
                                        <option value="">-- Select an organisation --</option>
                                        <option value="$page.organisation.id">$page.organisation.formattedName (this organisation)</option>
                                        #foreach($org in $page.organisation.childOrgs)
                                        <option value="$org.id">$org.formattedName</option>
                                        #end
                                    </select>

                                </li>
                            </ul>
                            <ul class="ListItem roles">
                                #foreach($role in $page.allRoles)
                                <li>
                                    <span>$role</span>
                                    <aside>
                                        <button class="SmallBtn Add"><span>Add role</span></button>
                                    </aside>
                                </li>
                                #end
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>                    
        </div>        

        <div class="Hidden">
            <div id="dialogGroup">
                <div class="Dialog Hidden">
                    <a href="" class="RenameGroup">Rename this group</a>
                    <a href="" class="Delete DeleteGroup">Delete this group</a>
                    <a href="" class="ViewGroupMembers">View members</a>
                    <a href="" class="CopyMembers">Copy members from other group</a>
                </div>
            </div>
            <div id="modalListController">
                <aside>
                    <label for="selected"><input type="checkbox" value="1" id="selected" name="selected" class="FuseChk" checked="checked" /></label>
                </aside>
            </div>
        </div>

        <div id="modalGroup" class="Modal">
            <header>
                <h3>Edit Group</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <table>
                    <tr rel="Group" class="Hidden">
                        <th><label for="name">Group name</label></th>
                        <td><input type="text" name="name" id="name" value="" placeholder="Group name" /></td>
                    </tr>                    
                    <tr>
                        <td colspan="2" class="Btn">
                            <button>Save changes</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
        <div id="modalRegoMode" class="Modal">

        </div>

        <div id="modalCopyMembers" class="Modal">
            <header>
                <h3>Copy Members To: <span>.</span></h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <form method="POST" action="">
                    <div class="BtnBar">
                        <button class="Btn">Copy Members</button>
                        <div style="clear: both"></div>
                    </div>
                    <p>Use this form to copy the members from the group below into <span>.</span><br/><br/></p>
                    <table>
                        <tr>
                            <td><label for="selectSourceGroup"><b>Group</b></label></td>
                            <td>
                                <select name="sourceGroup">
                                    <option value="">[None]</option>
                                    #foreach($group in $page.organisation.groups)
                                    <option value="$group.name">$group.name</option>
                                    #end
                                </select> 
                                <p>Select the group to copy members from.</p>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

        </div>        

        <script type="text/javascript" >
            jQuery(function() {
                initManageGroup();
            });
        </script>        
    </body>
</html>