<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link rel="stylesheet" type="text/css" href="manageUser.css" />
        <script type="text/javascript" src="manageUser.js">//</script>
    </head>
    <body class="manageUserPages">
        <section id="manageUser" class="MainContent">
            <header class="ClearFix">
                <a href="new" class="SmallBtn Add newUser"><span>Add New User</span></a>
                <div class="tools Controller">
                    <a class="ShowDialog"><span class="Hidden">Tools</span></a>
                    <div class="Dialog Hidden">
                        <a class="showUploadCsvModal" href="#">Upload Users CSV</a>
                        <a href="users.csv" >Open Users CSV</a>                                
                        <a class="showMatchOrgsModal" href="#" >Match orgs</a>
                        #portlets("manageUsersTools")
                    </div>
                </div>

            </header>            
            <div class="Info">
                <header class="ClearFix">
                    <div class="SearchBox">
                        <input id="userQuery" type="text" value="" placeholder="Search for user here" />
                        <a href="#" class="ClearText"><span class="Hidden">X</span></a>
                    </div>
                    <div class="buttons">
                        <button class="Btn removeUsers">Remove</button>
                    </div>
                </header>
                <table class="Summary" id="userSearchResults">
                    <tr>
                        <th>Nickname</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email Address</th>
                        <th>Contact</th>
                        <th>&nbsp;</th>
                        <th><input type="checkbox" name="toRemoveId" class="users selectAll"/></th>
                    </tr>
                    #foreach($p in $page.searchResults)
                    <tr>
                        <td>
                            <a href='$p.id'>
                            #if($p.nickName)
                            $formatter.htmlEncode($p.nickName)
                            #else
                            $p.name
                            #end
                            </a>
                        </td>
                        <td>$formatter.htmlEncode($p.firstName)</td>
                        <td>$formatter.htmlEncode($p.surName)</td>
                        <td><a href='mailto:$p.email'>$p.email</a></td>
                        <td>$!p.phone</td>
                        <td>
                            <div class="Controller">
                                <a title="Show Dialogue" class="ShowDialog" href="#"><span class="Hidden">Show Dialogue</span></a>
                                <div class="Dialog Hidden">
                                    <a href="$p.id">User details</a>
                                    <a href="$p.id" class="login-as">Login as this user</a>
                                </div>
                            </div>
                        </td>                    
                        <td><input type="checkbox" name="toRemoveId" value="$p.id"/></td>
                    </tr>
                    #end
                </table>
            </div>
        </section>

        <div class="Modal newUser">
            <header>
                <h3>New user</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>                           
            <div class="ModalContent">
                #set($groups = $page.groups)
                #if($groups.isEmpty())
                <p class="validationError">You must create at least one group in this or a parent organisation before you can add users</p>
                #else
                <form method="POST" action="new">
                    <div class="pageMessage"></div>
                    <div class="inputs">
                        <label for="newUserNickName">Nick name</label>
                        <input type="text" name="nickName" id="newUserNickName" class="required" />
                        <label for="newUserEmail">Email</label>
                        <input type="text" name="email" id="newUserEmail" class="email required" />
                    </div>
                    <div class="groups">
                        <h3>Group membership</h3>
                        <p>Please select a group and an organisation to make this user a member of</p>
                        <label for="orgId">Organisation:</label>
                        <input type="text" class="required" autocomplete="off" name="orgTitle" id="orgTitle" value="$page.organisation.formattedName" />
                        <input type="hidden" name="orgId" id="orgId" value="$page.organisation.id" />
                        <table id="orgSearchResults">
                            #if( $page.orgSearchResults.isEmpty() ) 
                            <tr>
                                <td>No matching organisations found</td>
                            </tr>
                            #else
                            #foreach($org in $page.orgSearchResults)
                            <tr>
                                <td><a href="$org.id">$org.orgId</a></td>
                                <td><a href="$org.id">$!org.title</a></td>
                            </tr>
                            #end
                            #end
                        </table>                

                        <h4>Group:</h4>
                        <ul>
                            #foreach($group in $groups)
                            #set($id1 = $formatter.htmlAttEncode($group.name))
                            #set($id = "radGroup_" + $id1)
                            <li>
                                $formatter.radio($id, "group", false, $group.name)
                                <label for="$id">$group.name</label>
                            </li>
                            #end
                        </ul>
                    </div>


                    <button type="submit" class="Btn" style="float: right">Save</button>
                </form>

                #end
            </div>
        </div>

        <div id="modalUploadCsv" class="Modal">
            <header>
                <h3>Upload Users CSV</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <div class='upload'>
                    <div class="input uploadCsv" id='doUploadCsv'></div>
                    <br/>
                    <div class="allowInserts">
                        <input type="checkbox" id="allowInserts"/>
                        <label for="allowInserts">Allow inserts</label>
                    </div>    
                    <div class="results">
                        <strong>Num inserted</strong>
                        <span class="numInserted">-</span>
                        
                        <strong>Num updated:</strong>
                        <span class="numUpdated">-</span>
                        <strong>Unmatched rows:</strong>
                        <span class="numUnmatched">-</span>
                        <br/>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                
            </div>
        </div>         

        <div id="modalMatchOrgsCsv" class="Modal">
            <header>
                <h3>Match organisations CSV</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <div class='upload'>
                    <p>Use this form to location organisation ID's for the organisation titles in your users spreadsheet</p>
                    <p>Upload your users spreadsheet and the system will attempt to locate existing organisations, and return an updated spreadsheet</p>
                    <p><b>This will not make any change your server data.</b></p>
                    <form method="POST" action="matchOrgs.csv" enctype="multipart/form-data">
                        <input type="file" name="usersCsv"/>
                        <button class="Btn" type="submit">Upload</button>
                    </form>
                </div>                
            </div>
        </div> 
        
        <div id="loginAsModal" class="Modal">
            <header>
                <h3>Login as User</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <div class='upload'>
                    <p>Below is the list of websites this user has access to:</p>
                    <ul class="websites" style="margin-left: 20px;">
                        <li>Please wait...</li>
                    </ul>
                </div>                
            </div>
        </div> 
        

        <script type="text/javascript" src="/static/js/jquery.fileupload.js"></script>
        <script type="text/javascript" src="/static/js/jquery.milton-upload.js"></script>
        
        
        <script type="text/javascript" >
            jQuery(function() {
                initManageUsers();                
            });            
        </script>        
        
        #portlets("manageUsersBottom")
    </body>
</html>