<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Rewards</title>
        <link href="manageReward.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageReward.js">//</script>
    </head>
    <body>
        <section id="manageReward" class="MainContent">
            <header class="ClearFix">
                <button class="SmallBtn Add"><span>Add new competition or reward</span></button>
            </header>
            <div class="Content">
                <header>
                    <a href="" class="Status SortByStatus" rel="asc">Status</a>
                    <a href="" class="Title SortByTitle" rel="asc">Title</a>
                </header>
                <ul>
                    <li>
                        <div class="Active"><a href="" class="ShowDialog">Active</a></div> <span>Westifled vouchers for April campaign</span>
                    </li>
                    <li>
                        <div class="Expired"><a href="" class="ShowDialog">Expired</a></div> <span>Win a Ford Focus May campaign</span>
                    </li>
                    <li>
                        <div class="Fullfilled"><a href="" class="ShowDialog">Fullfilled</a></div> <span>Westifled vouchers for April campaign</span>
                    </li>
                    <li>
                        <div class="Fullfilled"><a href="" class="ShowDialog">Fullfilled</a></div> <span>Westifled vouchers for April campaign</span>
                    </li>
                    <li>
                        <div class="Expired"><a href="" class="ShowDialog">Expired</a></div> <span>Win a Ford Focus May campaign</span>
                    </li>
                </ul>
            </div>
        </section>
        <div class="Hidden">
            <div id="rewardControllers">
                <aside><a href="" title="Edit" class="Edit EditReward"><span class="Hidden">Edit</span></a><a href="" title="Delete" class="Delete DeleteReward"><span class="Hidden">Delete</span></a></aside>
            </div>
            <div id="rewardForum">
                <div class="Dialog Hidden">
                    <a href="" class="ActiveReward">Active</a>
                    <a href="" class="ExpiredReward">Expired</a>
                    <a href="" class="FulfilledReward">Fullfilled</a>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(function() {
                initManageReward();
            });
        </script>
    </body>
</html>