<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Organisation Type</title>
    </head>
    <body>

        <div id="editOrgTypeModal">
            <header>
                <h3>Edit Organisation Type</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>                           
            <div class="ModalContent">
                <form method="POST" action="$page.href">
                    <div class="pageMessage"></div>
                    <div class="inputs">
                        <input type="hidden" name="orgTypeId" value="$page.orgType.id"/>
                        <label for="newOrgTypeName">Code</label>
                        <input type="text" name="name" id="newOrgTypeName" class="required" value="$page.name" />
                        <label for="newOrgTypeDisplayName">Display name</label>
                        <input type="text" name="displayName" id="newOrgTypeDisplayName" class="required" value="$page.orgType.displayName" />
                    </div>

                    <h2>What extra fields are associated with this type of organisation or business unit?</h2>
                    <button type="button" class="SmallBtn Add addField" onclick="$('.addField').toggle()"><span>Add field</span></button>
                    <div class="fields">
                        <div class=" addField Hidden">
                            <p>Enter a name for the field and the information about the format of the field</p>
                            <input type="text" class="required" placeholder="Name for the field" name="addFieldName" style="width: 100px" />
                            <input type="text" placeholder="Format. Eg required;options(yes,no);text=Would you like..?" name="addFieldValue" style="width: 250px" />
                            <button type="button" class="Btn">Add</button>                
                        </div>
                        <ul class="fields">
                            #foreach($field in $page.dataCaptureFields.entrySet())
                            <li>
                                <h4>$field.key</h4>
                                <input type="text" name="field-${field.key}" value="$field.value"/>                            
                                <a href="$field.key" class="removeField">Delete</a>                            
                            </li>
                            #end
                        </ul>
                    </div>

                    <button type="submit" class="Btn" style="float: right">Save</button>
                </form>
            </div>
        </div>       
    </body>
</html>