<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Groups</title>
        <link href="manageGroup.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageGroup.js">//</script>
    </head>
    <body class="manageModulePages">
        <!-- Content goes here - NO HEADER/BANNER/MENU! -->
        <section id="manageGroup" class="MainContent">
            <header class="ClearFix">
                <button class="SmallBtn Add AddGroup"><span>Add New Group</span></button>
            </header>
            #foreach($group in $page.children)
            <div class="Group">
                <header class="ClearFix">
                    <div class="ShowDialog"><span>$formatter.htmlEncode($group.name)</span></div>
                    <a href="#" class="regoMode">Registration: $group.regoModeText</a>
                </header>
                <div class="ContentGroup ClearFix">
                    #portlets("groupDetails")
                    <h4>Roles</h4>
                    <ul class="PermissionList ClearFix">
                        #foreach($role in $group.group.groupRoles)
                        <li><span>$role.roleName</span></li>
                        #end
                    </ul>	
                    <div class="ClearFix"><button onclick="showPermissionModal(this)" class="SmallBtn Add AddPermission"><span>Add/remove roles</span></button></div>
                    <div class="Modal roles">
                        <header>
                            <h3>Edit roles</h3>
                            <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
                        </header>

                        <div class="ModalContent">
                            <table>
                                <tr>
                                    <td colspan="2">
                                        <ul class="ListItem roles">
                                            #foreach($role in $page.allRoles)
                                            <li>
                                                $role
                                                <aside rel="$group.name">
                                                    <div class="CheckBoxWrapper">
                                                        $formatter.checkbox($role, $page.isSelected($group.group, $role) )
                                                        <label><!----></label>
                                                    </div>
                                                </aside>
                                            </li>
                                            #end
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>                    
                    </div>
                </div>
            </div>
            #end
        </section>
        <div class="Hidden">
            <div id="dialogGroup">
                <div class="Dialog Hidden">
                    <a href="" class="RenameGroup">Rename this group</a>
                    <a href="" class="Delete DeleteGroup">Delete this group</a>
                </div>
            </div>
            <div id="modalListController">
                <aside>
                    <label for="selected"><input type="checkbox" value="1" id="selected" name="selected" class="FuseChk" checked="checked" /></label>
                </aside>
            </div>
        </div>
        <div id="modalGroup" class="Modal">
            <header>
                <h3>Edit Group</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <table>
                    <tr rel="Group" class="Hidden">
                        <th><label for="name">Group name</label></th>
                        <td><input type="text" name="name" id="name" value="" placeholder="Group name" /></td>
                    </tr>                    
                    <tr>
                        <td colspan="2" class="Btn">
                            <button>Save changes</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="modalRegoMode" class="Modal">
            <header>
                <h3>Registration Mode</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <table>
                    <tr>
                        <td><a class="Btn" href="#" rel="o">Open</a></td>
                        <td>Allows any member of the public to register and their membership is immediately active</td>
                    </tr>
                    <tr>
                        <td><a class="Btn" href="#" rel="a">Admin-review</a></td>
                        <td>Allows any member of the public to register but the membership is initially inactive until reviewed by an administrator</td>
                    </tr>
                    <tr>
                        <td><a class="Btn" href="#" rel="c">Closed</a></td>
                        <td>Registration is not available. Instead administrators create accounts as required</td>
                    </tr>
                    
                </table>
            </div>
        </div>
        
        <script type="text/javascript" >
            jQuery(function() {
                initManageGroup();
            });
        </script>        
    </body>
</html>