<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link rel="stylesheet" type="text/css" href="manageUser.css" />
        <script type="text/javascript" src="manageUser.js">//</script>
    </head>
    <body class="manageUserPages">
        <h1>$page.profile.name</h1>
        <h2>Details</h2>
        <table>
            <tbody>
                <tr>
                    <td>Nick name</td>
                    <td>$!page.profile.nickName</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>$!page.profile.email</td>
                </tr>                
            </tbody>
        </table>
        <h2>Groups</h2>
        <ul>
            #foreach($gm in $page.profile.memberships)
            <li>$gm.groupEntity.name</li>
            #end
        </ul>
    </body>
</html>