<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Groups</title>
        <link href="manageGroup.css" rel="stylesheet" type="text/css" />
        <link href="manageGroupMembers.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="manageModulePages">
        <!-- Content goes here - NO HEADER/BANNER/MENU! -->
        <section id="manageGroup" class="MainContent">
            <header class="ClearFix">
                <div class="buttons">
                    <button style="float: right" class="Btn removeUsers">Remove</button>
                    <div>
                        <span>Showing: </span>
                        <span class="count">$page.members.size()</span>
                        <span> users </span>
                        <select id="showUserSelect" >
                            <option>[Filter]</option>
                            <option value="withPassword">Only those with a password</option>
                            <option value="noPassword">Those without a password</option>
                        </select>
                    </div>                    
                </div>
            </header>            
            <table class="Summary members">
                <thead>
                    <tr>
                        <th>Nickname</th>
                        <th>First name</th>
                        <th>Surname</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Password set</th>
                        <th><input type="checkbox" name="toRemoveId" class="users selectAll"/></th>
                    </tr>
                </thead>
                <tbody>
                    #foreach($member in $page.members)
                    #set($pwdDate = false)
                    #set($pwdDate = $member.thisUser.passwordCredentialDate)
                    #set($rowClass = "")
                    #if( $pwdDate )
                    #set($rowClass = "withPassword")
                    #else
                    #set($rowClass = "noPassword")
                    #end
                    <tr class="$rowClass">
                        <td>$!member.thisUser.nickName</td>
                        <td>$!member.thisUser.firstName</td>
                        <td>$!member.thisUser.surName</td>
                        <td>$!member.thisUser.phone</td>
                        <td>$!member.thisUser.email</td>
                        <td>
                            #if( $pwdDate )                            
                            <abbr title="$formatter.formatDateISO8601($pwdDate)" class="info timeago">$!pwdDate</abbr>                    
                            #end                            
                        </td>
                        <td><input type="checkbox" name="toRemoveId" value="$member.thisUser.id"/></td>
                    </tr>
                    #end
                </tbody>
            </table>
        </section>
        <script type="text/javascript">       
            jQuery(document).ready(function(){
                jQuery("abbr.timeago").timeago();
                jQuery("#showUserSelect").val("").change(function() {
                    var type = $(this).val();
                    log("change", type);
                    if( type == "noPassword") {
                        log("1");
                        $("table.members tbody tr").hide();
                        $("table.members tbody tr.noPassword").show();                        
                    } else if(type == "withPassword") {
                        log("2");
                        $("table.members tbody tr").hide();
                        $("table.members tbody tr.withPassword").show();
                    } else {
                        log("3");
                        $("table.members tbody tr").show();                        
                    }
                    $("span.count").text($("table.members tbody tr:visible").length);
                });
                initSelectAll();
                initRemoveUsers();
            });
            
            function initRemoveUsers() {
                $(".removeUsers").click(function(e) {
                    var node = $(e.target);
                    log("removeUsers", node, node.is(":checked"));
                    var checkBoxes = node.closest(".MainContent").find("tbody td input:[name=toRemoveId]:checked");
                    if( checkBoxes.length == 0 ) {
                        alert("Please select the users you want to remove by clicking the checkboxs to the right");
                    } else {
                        if( confirm("Are you sure you want to remove " + checkBoxes.length + " users?") ) {
                            doRemoveUsers(checkBoxes);
                        }
                    }
                });
            }        
            
            function doRemoveUsers(checkBoxes) {
                $.ajax({
                    type: 'POST',
                    data: checkBoxes,
                    dataType: "json",
                    url: "",
                    success: function(data) {
                        log("success", data)
                        if( data.status ) {
                            alert("Removed members ok");                
                            window.location.reload();
                        } else {
                            alert("There was a problem removing users. Please try again and contact the administrator if you still have problems");
                        }
                    },
                    error: function(resp) {
                        alert("err");
                    }
                });      
            }            
        </script>  
    </body>
</html>