<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="publish.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="publish.js">//</script>
        
    </head>
    <body class="dashboard">
        <section id="publish" class="MainContent">
            <article class="Note">Use this page to make this branch live. That means this version will be seen when users go to this website's main address. You can 
            change back to the previous version if you need to.
            <br/>
            <br/>
            <p>
            #if( $page.closest("website").website.liveBranch )
            Current version: <b>$page.closest("website").website.liveBranch</b> - <a href="$page.closest('website').externalUrl" target="_blank">View</a>
            #else
            <b>There is currently no live version</b>
            #end
            </p>
            <p>
                Change to version: <b>$page.closest("branch").name</b> - <a href="$page.closest('branch').externalUrl" target="_blank">View</a>
            </p>
            
            </article>
            <form action="$page.name" method="POST">
                <button class="Btn">Publish $page.closest("branch").name Now</button>
            </form>
        </section>
        <script type="text/javascript">
            jQuery(function() {
                $("#publish form").forms({
                    callback: function() {
                        alert("Done!");
                    }
                });
            });
        </script>               
    </body>
</html>

