<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>$view.title</title>        
    </head>
    <body class="regoPage">        
        <div id="content">
            <div class="SubContent">
                <h1>Professional Registration</h1>
                <div class="MainContent">
                    <p>Registering as a Professional for 3DN eLearning will give you access to a wealth of education materials focusing on diverse topics relevant to mental health and intellectual disability. The material has been tailored to suit either disability professionals or health and mental health professionals. When you have registered, you choose your speciality – though you'll have free access to all the material for the other user groups too, in case you're curious to see what your colleagues are learning.</p>
                    <p>If you don't think you fall into the group of a Professional visit our 
                        <a href="" title="Carer page" class="CarerLink">Carer page</a> or 
                        <a href="" title="Consumer page" class="ConsumerLink">Consumer page</a> and learn more about the eLearning we offer to other groups.
                    </p>
                    <h3>Get learning and register below</h3> 
                    <form method="post" id="registerForm" action="$targetPage.href" onsubmit="return createAccount()">                                                
                        <fieldset>
                            <legend>Registration</legend>
                            <div class="Box02">
                                <div class="Box02Bottom">
                                    <div class="Box02Middle">
                                        <div class="pageMessage"></div>
                                        <label class="first" for="email">Enter your email address</label>
                                        <input class="required" type="text" name="email" id="email"/>
                                        <label class="last" for="password">Enter your preferred password</label>
                                        <input class="required" type="password" name="password" id="password" />
                                        <br/>
                                        <label class="first" for="nickName">Your nickname for others to see</label>
                                        <input class="required" type="text" name="nickName" id="nickName" />
                                        <label class="last" for="confirmPassword">Please confirm your password</label>
                                        <input class="required" type="password" name="confirmPassword" id="confirmPassword" />

                                        <button class="Register" ><span>Register</span></button>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="templateSelect" value="user"/>
                            <input type="hidden" name="save" value="save"/>
                            <input type="hidden" name="professionalGroupVal" id="professionalCheck" value="true"/>
                            <input type="hidden" name="professionalGroup" value="1"/>
                            <input type="hidden" name="title" id="title" value=""/>
                            <input type="hidden" name="groups" value="1"/>
                        </fieldset>
                    </form>
                    <h3>What do I get</h3>
                    <p>By registering with 3DN eLearning you will have free access to the following:</p>
                    <div class="Box03">
                        <div class="Box03Bottom">
                            <div class="Box03Middle">
                                <ul>
                                    <li>Notifications for new content and new features</li>
                                    <li>Certificates for completed modules</li>
                                    <li>Personalised learning homepage so you can keep track of your progress</li>
                                    <li>Email support directly with the 3DN team</li>
                                    <li>Access to the 3DN forum where you can engage with and discuss intellectual disabilities with other users</li>
                                    <li>Access to other user group eLearning content</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <p>If you have any questions about registering for 3DN eLearning please <a href="" title="click here">click here</a> to contact the team.</p>    
                </div>		
                <br class="Clear" />
            </div>
        </div> 
        <script type="text/javascript">
            jQuery(function() {
                log("init labels")
                jQuery("label").each(function(i, n) {
                    var label = jQuery(n);
                    var title = label.text();
                    var input = jQuery("#" + label.attr("for"));
                    input.attr("title", title);
                    input.attr("placeholder", title);
                    label.text(i+1);
                });
            });
        </script>
    </body>    
</html> 

