div.video {
    margin: 15px 0;
}

.jp-video {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    position:relative;

    -webkit-box-shadow:0px 0px 20px rgba(0,0,0,.3);
    -moz-box-shadow:0px 0px 20px rgba(0,0,0,.3);
    box-shadow:0px 0px 20px rgba(0,0,0,.3);
    background:#000;
    margin: 0 auto;
    width: 570px;
}
.jp-video-360p, .jp-video-270p {
    /** width: 640px; */
}
.jp-video-fuse {
    width: 800px;
}
body .jp-jplayer {
    margin: 0 auto; 
}
.jp-video-full {
    width:800px;
    height:455px;
    position:static !important; 
    position:relative;
}
.jp-video-full .jp-jplayer {
    top: 0;
    left: 0;
    position: fixed !important; position: relative; /* Rules for IE6 (full-screen) */
    overflow: hidden;
    z-index:1000;    
}

.jp-video-full .jp-gui {
    position: fixed !important; position: static; /* Rules for IE6 (full-screen) */
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:1000;
}

.jp-video-full .jp-interface {
    position: absolute !important; position: relative; /* Rules for IE6 (full-screen) */
    bottom: 0;
    left: 0;
    z-index:1000;
}


.jp-interface {
    position: relative;
    width:100%;
    height: 35px;

    background-image: -webkit-linear-gradient(top, rgb(242, 242, 242), rgb(209, 209, 209));
    background-image: -moz-linear-gradient(top, rgb(242, 242, 242), rgb(209, 209, 209));
    background-image: -o-linear-gradient(top, rgb(242, 242, 242), rgb(209, 209, 209));
    background-image: -ms-linear-gradient(top, rgb(242, 242, 242), rgb(209, 209, 209));
    background-image: linear-gradient(top, rgb(242, 242, 242), rgb(209, 209, 209));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f2f2f2', EndColorStr='#d1d1d1');

    -webkit-box-shadow:
        inset 0px 1px 0px #f7f7f7,
        inset 0px -1px 0px #e2e2e2;
    -moz-box-shadow:
        inset 0px 1px 0px #f7f7f7,
        inset 0px -1px 0px #e2e2e2;
    box-shadow:
        inset 0px 1px 0px #f7f7f7,
        inset 0px -1px 0px #e2e2e2;
}

div.jp-controls-holder {
    clear: both;
    width:570px;
    margin: 0 auto;

    position: relative;
    overflow:hidden;
}

a.jp-play,
a.jp-pause {
    width:40px;
    height:35px;
    float:left;
    text-indent:-9999px;
    outline:none;
}

a.jp-play {
    background: url(jp-images/sprite.png) 0 0 no-repeat;
}

a.jp-pause {
    background: url(jp-images/sprite.png) -40px 0 no-repeat;
    display: none;
}

#separator {
    background-image:url(jp-images/separator.png);
    background-repeat:no-repeat;
    width: 2px;
    height: 35px;
    float:left;
    margin-top: 7px;
    margin-right: 10px;
}

.jp-progress {
    background: #706d6d;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    -webkit-box-shadow:
        inset 0px 1px 4px rgba(0,0,0,.4),
        0px 1px 0px rgba(255,255,255,.4);
    -moz-box-shadow:
        inset 0px 1px 4px rgba(0,0,0,.4),
        0px 1px 0px rgba(255,255,255,.4);
    box-shadow:
        inset 0px 1px 4px rgba(0,0,0,.4),
        0px 1px 0px rgba(255,255,255,.4);

    width:280px;
    height:10px;
    float:left;
    margin-top: 13px;
}

.jp-seek-bar {
    width:0px;
    height:100%;
    cursor: pointer;
}

.jp-seeking-bg {
    background:#575555;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.jp-play-bar {
    background: url(jp-images/play-bar.png) left repeat-x;
    width:0px;
    height:10px;
    position:relative;
    z-index: 9999;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.jp-play-bar span {
    position:absolute;
    top: -3px;
    right: -12px;

    background:url(jp-images/handle.png) no-repeat center;
    width: 16px;
    height: 17px;
}

.jp-current-time,
.jp-duration {
    font-size:11px;
    font-family:Arial;
    color:#444444;
    margin-top: 12px;
    float:left;
}
.jp-current-time {
    float: left;
    display:inline;
}
.jp-duration {
    float: left;
    display:inline;
    text-align: right;
}
.jp-video .jp-current-time {
    margin-left:10px;
}
.jp-video .jp-duration {
    margin-right:10px;
}
.time-sep {
    float:left;
    margin: 13px 3px 0 3px;

    font-size:11px;
    font-family:Arial;
    color:#444444;
}


.jp-video a.jp-mute,
.jp-video a.jp-unmute {
    text-indent:-9999px;
    float:left;

    height: 35px;
    outline:none;
}

.jp-mute {
    float:left;
    background: url(jp-images/sprite.png) -80px 0 no-repeat;
    margin-top: 1px;
    margin-left: -10px;
    width: 35px;
}

a.jp-unmute {
    background: url(jp-images/sprite.png) -115px 0 no-repeat;
    margin-top: 1px;
    margin-left: -13px;
    display: none;
    width: 38px;
}

.jp-volume-bar {
    float:left;
    margin-top: 13px;
    margin-right: 10px;
    overflow:hidden;
    width:70px;
    height:10px;
    cursor: pointer;

    background: #706d6d;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    -webkit-box-shadow:
        inset 0px 1px 4px rgba(0,0,0,.4),
        0px 1px 0px rgba(255,255,255,.4);
    -moz-box-shadow:
        inset 0px 1px 4px rgba(0,0,0,.4),
        0px 1px 0px rgba(255,255,255,.4);
    box-shadow:
        inset 0px 1px 4px rgba(0,0,0,.4),
        0px 1px 0px rgba(255,255,255,.4);
}

.jp-volume-bar-value {
    background: rgba(112,109,109.01);
    width:0px;
    height:10px;
    position: relative;
}

.jp-volume-bar-value span {
    position:absolute;
    top: 0px;
    right: 0px;

    background:url(jp-images/volume.png) no-repeat center;
    width: 11px;
    height: 10px;
}

.jp-full-screen {
    background: url(jp-images/sprite.png) -150px 0 no-repeat;
    float:left;
    width: 40px;
    height: 35px;
    text-indent:-9999px;
    margin-left: -15px;
    outline:none;
}

.jp-restore-screen {
    background: url(jp-images/sprite.png) -150px 0 no-repeat;
    float:left;
    width: 40px;
    height: 35px;
    text-indent:-9999px;
    margin-left: -15px;
    outline:none;

}
