<html>
    <body>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>name</th>
                    <th>created</th>
                    <th>updated</th>
                </tr>
            </thead>
            <tbody>
                #foreach($f in $page.subFolders)
                <tr>
                    <th></th>
                    <th><a href="$f.href">$f.name</a></th>
                    <th>$!f.createDate</th>
                    <th>$!f.modifiedDate</th>
                </tr>
                #end
                #foreach($f in $page.files)
                <tr>
                    <th></th>
                    <th><a href="$f.href">$f.name</a></th>
                    <th>$!f.createDate</th>
                    <th>$!f.modifiedDate</th>
                </tr>
                #end
                
            </tbody>
        </table>
    </body>
</html>