<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../themes/yellow/theme.css" media="screen" />
    </head>
    <body class="home">
        <header id="branding" role="banner">
            <hgroup>
                <h1 id="site-title"><span><a href="http://spliffy.org" title="Yellow!" rel="home">Spliffy!</a></span></h1>
                <h2 id="site-description">My personal cloud server.</h2>
                <h2 id="site-description">Your files, contacts and calendars, everywhere you are.</h2>
            </hgroup>
        </header>

        <div id="main">
            <div id="primary">
                <div id="content" role="main">
                    <ul>
                        <li><img src="/templates/apps/home/folder.png"/></li>

                        <li><img src="/templates/apps/home/contact.png"/></li>

                        <li><img src="/templates/apps/home/calendar.png"/></li>
                    </ul>

                </div>
            </div>
        </div>
    </body>
</html>