<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>        
        <link rel="stylesheet" type="text/css" href="base.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="validation.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/templates/common/jquery-ui-1.8.11.custom.css" media="screen" />        

        <script type="text/javascript" src="js/jquery-1.7.2.min.js" >//</script>
        <script type="text/javascript" src="js/jquery.cookie.js">//</script>
        <script type="text/javascript" src="/templates/js/jquery-ui-1.8.20.custom.min.js">//</script>        
        <script type="text/javascript" src="js/jquery.autoresize.js">//</script>                
        <script type="text/javascript" src="js/common.js">//</script>
        <script type="text/javascript" src="/templates/js/jquery.user.js">//</script>
        <script type="text/javascript" src="/templates/js/init-theme.js" >//</script>
        <script type="text/javascript" src="js/register.js" >//</script>
        <script type="text/javascript" src="js/validation.js" >//</script>      
        <script type="text/javascript" src="js/jquery.comments.js" >//</script>      
        <script type="text/javascript" src="js/toolbars.js" >//</script>
    </head>
    <body class="$rc.targetPage.templateName $targetPage.parents.first.name $targetPage.params.extraCss $!targetPage.template.template.name">
        <!--wrapper-->
        <div class="wrapper">
            <!--header-->
            <div class="header">
                <!--logo-->
                <h1 class="logo"><a href="/index.html">$page.parent.settings.logo</a></h1>
                <!--headRight-->
                <div class="headRight">
                    <div class="formBox">
                        <div class="userBtn Login"> 
                            <a class="Link sansuser" href="/login.html">Login</a>

                            <a class="Link requiresuser" id="currentuser" href="#">Hi $!user.title</a>
                            <div class="dropBox">
                                <ul class="list requiresuser">
                                    <li>
                                        <a class="logout">Logout</a>
                                    </li>
                                </ul>
                                <ul class="list sansuser">
                                    <li>
                                        <a href="/register.html">Register</a>
                                    </li>
                                </ul>                                                

                                <form method="post" action="" class="sansuser">
                                    <fieldset>
                                        <p id="validationMessage" style="display: none">.</p>
                                        <label for="email">Email</label>
                                        <input type="text" id="email" name="email" value="" class="Textbox" title="Email address" />
                                        <label for="password">Password</label>
                                        <input type="password" name="password" id="password" value="" class="Textbox" title="Password" />
                                        <button class="Login Button" ><span>Login</span></button>                                     
                                        <a href="/password-reset.html" title="Forgotten password" class="Forgot">Forgotten password</a>                                        
                                    </fieldset>
                                </form>                                
                                <div class="accessBox">
                                    <div class="greyBox FontSize"> 
                                        <a class="linkText ZoomIn" href="#">A</a> 
                                        <a class="linkText linkTxt ZoomOut" href="#">A</a> 
                                        <a class="circle ZoomReset" href="#"><img src="/templates/common/circle.gif" alt="" /></a>
                                        <div class="clr"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <form action="http://www.google.com/search" method="get">
                            <fieldset>
                                <input type="hidden" name="domains" value="$targetPage.host.name"/>
                                <input type="hidden" name="sitesearch" value="$targetPage.host.name" />
                                <div class="inputBox">
                                    <input class="input" type="text" name="q" placeholder="Search"/>
                                    <button class="goBtn" name="btnG" type="submit">Go</button> 
                                </div>    
                            </fieldset>
                            <div class="clr"></div>
                        </form>
                        <div class="clr"></div>
                    </div>
                </div>

                <div class="clr"></div>
                <!--nav-->
                <div class="nav">
                    <ul>
                        <li class="nav-myDashboard">
                            <a href="/dashboard" shape="rect">My Dashboard</a>
                        </li>                    
                        <li class="nav-myLearning">
                            <a href="/myLearning" shape="rect">My Learning</a>
                        </li>                    
                        <!--
                        <li class="nav-myRewards">
                            <a href="${user.url}rewards" shape="rect">My Rewards</a>
                        </li>                    
                        -->
                        <li class="nav-myResources">
                            <a href="/resources" shape="rect">Resources</a>
                        </li>                    
                        <li class="nav-myCommunity">
                            <a href="/community" shape="rect">Community</a>
                        </li>                    
                        <li class="nav-myInbox">
                            #set($unread = $user.inbox.numUnread)
                            <a href="inbox" shape="rect">
                                #if($unread gt 0)
                                <span>$unread</span>
                                #end
                                Notifications
                            </a>
                        </li>                    
                    </ul>  

                    <div class="clr"></div>
                </div>
                <!--navEnd-->
            </div>
            <!--headerEnd-->
            <!--content-->
            <div class="content">

                #content

                <div class="clr"></div>
            </div>
            <!--contentEnd-->
            <!--footer-->
            <div class="footerOuter">
                <div class="footer">
                    <ul class="fList">
                        <li>
                            <a href="${targetPage.name}.edit" shape="rect">Administration</a>
                        </li>                    
                    </ul>

                </div>
            </div>
            <!--footerEnd-->
        </div>
        <!--wrapperEnd-->
        <div id="ajaxLoading" style="display: none">
            <div>
                Processing, please wait...
                <img src="/templates/common/ajax-loader.gif" alt="Processing..." />
            </div>
        </div>
        <div id="thankyou" style="display: none">
            <h3>Thankyou</h3>
            <p>Message</p>
        </div>
        <script type="text/javascript">
            jQuery(function($) {
                initTheme();
            });            
        </script>
    </body>    
</html> 


