<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>        
        <link rel="stylesheet" type="text/css" href="base.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="theme.dyn.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/static/common/validation.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/static/common/edify.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/static/common/jquery-ui-1.8.11.custom.css" media="screen" />        

        <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js" >//</script>
        <script type="text/javascript" src="/static/js/jquery.cookie.js">//</script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.8.20.custom.min.js">//</script>        
        <script type="text/javascript" src="/static/js/jquery.autoresize.js">//</script> 
        <script type="text/javascript" src="/static/js/jquery.timeago.js" >//</script>
        <script type="text/javascript" src="/static/js/jquery.forms.js">//</script>        
        <script type="text/javascript" src="/static/js/tinybox-1.2.min.js">//</script>
        <script type="text/javascript" src="/static/js/common.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.user.js">//</script>
        <script type="text/javascript" src="/static/js/init-theme.js" >//</script>
        <script type="text/javascript" src="/static/js/register.js" >//</script>
        <script type="text/javascript" src="/static/js/jquery.comments.js" >//</script>      
        <script type="text/javascript" src="/static/js/toolbars.js" >//</script>
        <script type="text/javascript" src="/static/ckeditor36/ckeditor.js" >//</script>
        <script type="text/javascript" src="/static/ckeditor36/adapters/jquery.js" >//</script>
    </head>
    <body class="normal">
        <!--wrapper-->
        <div class="wrapper">
            <!--header-->
            <div class="header">
                <!--logo-->
                <h1 class="logo"><a href="/index.html">$rootFolder.settings.logo</a></h1>
                <!--headRight-->
                <div class="headRight">
                    <div class="formBox">
                        <div class="userBtn Login"> 
                            <a class="Link sansuser" href="/login.html">Login</a>

                            <a class="Link requiresuser" id="currentuser" href="#">Hi $!user.title</a>
                            <div class="dropBox">
                                <ul class="list requiresuser">
                                    <li>
                                        <a class="logout">Logout</a>
                                    </li>
                                </ul>
                                <ul class="list sansuser">
                                    <li>
                                        <a href="/register.html">Register</a>
                                    </li>
                                </ul>                                                

                                <form method="post" action="" class="sansuser">
                                    <fieldset>
                                        <p id="validationMessage" style="display: none">.</p>
                                        <label for="email">Email</label>
                                        <input type="text" id="email" name="email" value="" class="Textbox" title="Email address" />
                                        <label for="password">Password</label>
                                        <input type="password" name="password" id="password" value="" class="Textbox" title="Password" />
                                        <button class="Login Button" ><span>Login</span></button>                                     
                                        <a href="/password-reset.html" title="Forgotten password" class="Forgot">Forgotten password</a>                                        
                                    </fieldset>
                                </form>                                
                                <div class="accessBox">
                                    <div class="greyBox FontSize"> 
                                        <a class="linkText ZoomIn" href="#">A</a> 
                                        <a class="linkText linkTxt ZoomOut" href="#">A</a> 
                                        <a class="circle ZoomReset" href="#"><img src="/static/common/circle.gif" alt="" /></a>
                                        <div class="clr"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <form action="http://www.google.com/search" method="get">
                            <fieldset>
                                <input type="hidden" name="domains" value="$targetPage.host.name"/>
                                <input type="hidden" name="sitesearch" value="$targetPage.host.name" />
                                <div class="inputBox">
                                    <input class="input" type="text" name="q" placeholder="Search"/>
                                    <button class="goBtn" name="btnG" type="submit">Go</button> 
                                </div>    
                            </fieldset>
                            <div class="clr"></div>
                        </form>
                        <div class="clr"></div>
                    </div>
                </div>

                <div class="clr"></div>
                <!--nav-->
                <div class="nav">
                    <ul>
                        #foreach($item in $menu.items)
                        <li class="$formatter.ifTrue($item.active, 'active', '')"><a class="nav-${item.id}" href="$item.href" shape="rect">$item.text</a></li>
                        #end                                         
                    </ul>  

                    <div class="clr"></div>
                </div>
                <!--navEnd-->
            </div>
            <!--headerEnd-->
            <!--content-->
            <div class="content">

                #content

                <div class="clr"></div>
            </div>
            <!--contentEnd-->
            <!--footer-->
            <div class="footerOuter">
                <div class="footer">
                    <ul class="fList">
                        <li>
                            <a href="${targetPage.name}.edit" shape="rect">Administration</a>
                        </li>                    
                    </ul>

                </div>
            </div>
            <!--footerEnd-->
        </div>
        <!--wrapperEnd-->
        <div id="ajaxLoading" style="display: none">
            <div>
                Processing, please wait...
                <img src="/static/common/ajax-loader.gif" alt="Processing..." />
            </div>
        </div>
        <div id="thankyou" style="display: none">
            <h3>Thankyou</h3>
            <p>Message</p>
        </div>
        <script type="text/javascript">
            jQuery(function($) {
                themeCssFiles.push("/templates/themes/fuse/theme.dyn.css");
                initTheme();
            });            
        </script>
    </body>    
</html> 


