.text1 {
    color: $rootFolder.settings.textColour1 !important;
}
.text2 {
    color:$page.parent.settings.textColour2 !important;
}
.hero1 {
    color:$page.parent.settings.heroColour1 !important;
}
.hero2 {
    color:$page.parent.settings.heroColour2 !important;
}
.bg-text1 {
    background-color: $rootFolder.settings.textColour1 !important;
}
.bg-text2 {
    background-color:$page.parent.settings.textColour2 !important;
}
.bg-hero1 {
    background-color:$page.parent.settings.heroColour1 !important;
}
.bg-hero2 {
    background-color:$page.parent.settings.heroColour2 !important;
}
