/** Start theme.dyn.css **/
@import url("/static/common/modal.css");

.text1 {
    color: $rootFolder.settings.textColour1 !important;
}
.text2 {
    color:$page.parent.settings.textColour2 !important;
}
.hero1 {
    color:$page.parent.settings.heroColour1 !important;
}
.hero2 {
    color:$page.parent.settings.heroColour2 !important;
}
.bg-text1 {
    background-color: $rootFolder.settings.textColour1 !important;
}
.bg-text2 {
    background-color:$page.parent.settings.textColour2 !important;
}
.bg-hero1 {
    background-color:$page.parent.settings.heroColour1 !important;
}
.bg-hero2 {
    background-color:$page.parent.settings.heroColour2 !important;
}


html {
    font-size: 1em;
    height:100%;
}

input, textarea {
    border-style: solid;
    border-width: 1px;
    background-color: white;
    margin-right: 10px; 
    padding: 5px;
}

blockquote{
    background: url("images/blockquote.gif") no-repeat scroll left 6px #FAFAFA;
    margin: 10px 0 10px 0;
    padding: 10px 10px 10px 50px;
    line-height: 22px;
}



body {
    font-family: 'Arial', sans-serif;
    font-size: 1em;
}
body.normal {
    margin:0;
    padding:0;
    color:$page.parent.settings.textColour2;
    height:100%;    
}
div, h1, h2, h3, h4, ul, form {
    margin:0;
    padding:0;
}
ul, ol {
    list-style-position: inside;
}
a, img {
    border:none;
    outline:none;
}
a:link, a:visited {
    color:$page.parent.settings.heroColour1;
    text-decoration:none;
    outline:none;
}
a:hover {
    text-decoration:none;
}
body h2, body h2 a {
    color: $rootFolder.settings.heroColour1;
    font-weight: 500;
    padding: 0px 0px 15px 0px;
    margin:0px;
}
body h2 {
    font-size: 1.6em;        
}

body h3, body h3 a {
    color: $rootFolder.settings.textColour1;
    font-size: 1.4em;
    font-weight: 500;

    padding: 0px 0px 7px 0px;
    margin:0px;
}
body h4, body h4 a {
    color: $rootFolder.settings.textColour1;
    font-size: 1.1em;
    font-weight: 400;    
    padding: 0px 0px 7px 0px;
    margin:0px;
}

body h5, body h5 a {
    color: $rootFolder.settings.textColour1;
    font-size: 1.1em;
    font-weight: 400;
    font-style: italic;
    padding: 0px 0px 7px 0px;
    margin:0px;
}


body h6, body h6 a {
    color: $rootFolder.settings.textColour1;
    font-size: 0.9em;
    font-weight: 400;
    line-height:18px;
    padding: 0px 0px 7px 0px;
    margin:0px;
}



body p, body p a {
    color: $rootFolder.settings.textColour1;
    font-size: 0.8em;
    font-weight: 400;
    margin:0px;
}

p, ul, ol {
    padding: 0px 0px 0.7em;
}

body p a {   
    font-size: 1em !important;

}

ul {
    margin: 0px 0px 0px 40px;
    font-size: 0.8em;
    color: $rootFolder.settings.textColour1;
    font-weight: 400;
    list-style:outside;
}

ul ul {
    font-size: 1em;
}
ul ul li {
    list-style-type: circle;
}
li {
    margin: 0 0 0 40px;
    padding:0 0 5px 0;    
}

li a {
    color: #88c03f;
    font-weight: 600;
    text-decoration:underline;
}

textarea {
    width: 98%;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}
body h1, body h1 a,body h2, body h2 a,body h3, body h3 a,body h4, body h4 a {
    margin-top: 5px;
}
body h1, body h1 a {
    position:relative;
    background-color: $rootFolder.settings.heroColour1;
    display: inline-block;
    color: white;
    padding: 10px 15px;
    margin: 0px 0px 15px 0px;
    border-radius: 6px;
    width: 100%;
    font-size: 1.6em;
    font-weight: 500;
    left:-15px;
}
table { 
    border-collapse: collapse;
}

table td {
    vertical-align:top;
}
td input, td textarea {
    margin-right: 0;
}


abbr {
    border: none;    
}


/*resourcefinal*/
.myResources .col11{
    width:80%;
    float:left;
}
.myResources .col12{
    width:10%;
    min-width:65px;
    float:left;
}
.myResources .col12 small{
    color:#fff;
    font-size:11px;
    font-style:italic;
    display:block;
}
.imageL{
    float:left;
    display:block;
    margin:12px 15px 0 18px;
}
.p_Text{
    float:left;
    width:80%;
    font-size:11px;
    color:$page.parent.settings.textColour2;
    display:block;
}
.hTxt{
    margin:10px 0 3px;
    padding:0;
}
.date{
    color:$page.parent.settings.textColour2;
    font-size:12px !important;
    display:block;
    margin-top:28px !important;
    font-weight:normal !important;
}
.conArea{
    position:relative;
    background:#f0f0f0;
    overflow:hidden;
}

a.gBox {
    display:block;
    background:none;
    border-top:1px solid #dbdada;
    border-bottom:1px solid #dbdada;
    min-height:52px;
}
a.gBox1{
    display:block;
    background:none;
    border-top:1px solid #dbdada;
    border-bottom:1px solid #dbdada;
    min-height:39px;
    padding-bottom:13px;
}
.col1 img {
    float:left;
    margin-right:12px;
    display:block;
}
.pText1 {
    margin-top:12px;
    line-height:1em;
}
.tick {
    background-image: url(images/tick1.gif);
    background-position: center center;
    background-repeat: no-repeat;    
    text-indent: -10000px;
}

.pTxt {
    color:$page.parent.settings.textColour2;
    font-size:0.7em;
    margin:2px 0 8px 65px;
    display:block;
}

a.arrowL {
    background:$page.parent.settings.heroColour1;
    width:18px;
    height:19px;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    border-top-left-radius: 15px 15px;
    border-top-right-radius: 15px 15px;
    float:left;
    display:block;
    padding-top:6px;
    padding-left:7px;
}

a.arrowR {
    float:right;
    padding-left:10px;
}


/*dashBoardfinal*/
.welcomeBox{
    background:#ebebeb;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    padding:10px 0 10px 100px;
    position:relative;
    margin-bottom:15px;
    overflow:hidden;    
    display: none;
}
a.crossSign{
    display:block;
    position:absolute;
    top:8px;
    right:8px;
    width:12px;
    height:13px;
}
.tree{
    float:left;
    margin-right:5px;
}
.txtR{
    width:85%;
    float:left;
    margin-top:12px;
}
.txtR h3{
    color:$page.parent.settings.textColour2;
    font-size:15px;
    font-weight:bold;
    margin-bottom:4px;
}
.txtR p{
    font-size:13px;
    color:$page.parent.settings.textColour2;
}
.moduleBox1 {
    float:right;
}
/*colLeft*/
.colLeft{
    float:left;
    width:70%;
}
.progressBox{
    background:#fff;
    padding-top:7px;
}
a.view{
    text-decoration:underline;
    color:$page.parent.settings.textColour2;
    font-size:11px;
    text-align:center;
    display:block;
}
a:hover.view{
    text-decoration:none;
}


.strongTxt {
    font-weight:bold;
    font-size:1.15em;
    color:#242424;
    margin-bottom:10px;
    line-height:1em;
    display:block;
}
.smllTxt {
    color:$page.parent.settings.textColour2;
    font-size:0.7em;
    font-style:italic;
    display:block;
    margin-bottom:7px;
    display:block;
}
.p_Txt {
    color:$page.parent.settings.textColour2;
    font-size:0.7em;
    line-height:1.4em;
    display:block;
}

.contentLeft {
    width:30%;
    float:left;
}
.contentRight {
    width:70%;
    float:right;
}


.strongText {
    color:#fff;
    font-size:14px;
    font-weight:normal;
    display:block;
    line-height: 30px;
}
.modulePage .content {
    padding: 0;
}


/** ADMIN screens **/
div.treeView {
    border: solid 1px lightgray;
    width: 200px;
    padding: 20px;
}
ul.treeView ul  {
    padding-left: 55px;
}
.treeView li {
    background-image: url(images/icons/folder.png);
    background-repeat: no-repeat;
    text-indent: 55px;
    line-height: 45px;
    list-style: none;
}

.treeView li.program {
    background-image: url(images/icons/program.png);    
}
.treeView li.course {
    background-image: url(images/icons/course.png);    
}
.treeView li.module {
    display: none;
}

/** End learning.css (orig) **/


/**    Start learning.css (was theme.css)   */

body {
    padding: 0;
    margin: 0;
}

#editor {
    padding: 5px 10px; /** give the editor a bit of padding around content */
}

h1, h1.a, h2, h2.a, h3, h3.a, h4, h4 a {    
    color: $page.parent.settings.textColour2;
    font-family: 'Arial', sans-serif;
    font-weight: 400;    
    margin-top: 15px;
    margin-bottom: 5px;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

img {
    border: none;
    vertical-align: top;
}

label {
    font-size: 0.8em;
}


:focus { outline: 0 none; }
a, input[type="image"], input[type="submit"], input[type="button"], input[type="reset"], button, object, embed { outline: 0 none; }

hr {
    border-style: solid none none;
    border-width: 1px medium medium;    
    border-color: lightgray;
}

button, .content a.button {
    margin: 10px;
    padding: 6px 20px;
    text-align:center;
    color:#fff;
    font-size:15px;
    background: $page.parent.settings.heroColour2;
    border-radius: 5px;
    border:none;
    outline:none;
    cursor:pointer;        
    font-size:13px;    
}

a.button{
    line-height:21px;
}


td button, td a.button {
    margin: 0;t
}

input[type=text], input[type=password], textarea{
    border:1px solid #d3d3d3;
    background:#fff;
    outline:none;
    color:$page.parent.settings.textColour2;
    font-size:13px;
}

.line { 
    clear: both;
    border-bottom: 1px solid #ddd;
    margin: 0 0 45px;
}

table {
    border: none;
    border-collapse: separate;
    border-spacing: 0;
}

th.striped {
    text-align: left;
}
table.striped thead th {
    background-color: #4c4c4c;
    color: white;
}
table.striped tbody tr:nth-child(odd) td {
    background-color: #f1f1f1;
}
table.striped td, table.striped th {
    border-color: #D4D4D4;    
    border-width: 1px;    
    padding: 10px;
    border-style: solid none none none;
}

table.striped td:first-child {
    border-left-style: solid;
}
table.striped td:last-child {
    border-right-style: solid;
}

table.striped tr:last-child td:first-child {
    border-radius: 0 0 0 8px;    
}
table.striped tr:last-child td:last-child {
    border-radius: 0 0 8px 0;    
}
table.striped tr:last-child td {
    border-bottom-style: solid;
}
table.striped thead th:first-child {
    border-radius: 8px 0 0 0;
}
table.striped thead th:last-child {
    border-radius: 0 8px 0 0;
}

table.verticalFields tbody tr td, table.verticalFields tbody tr th {
    background-color: transparent;
    border: none;
}

.content {
    background: white;
    padding: 1em 1em 2em;
}

.content a:hover {
    text-decoration: underline;
}
.clr {
    clear:both;
    overflow:hidden;
    height:0;
}

.spacer {
    height:150px;
}
.spacer1 {
    height:200px;
}
.spacer2 {
    height:120px;
}

.wrapper {
    min-width:760px;
    position:relative;
    min-height:100%;
    padding-bottom: 50px;
}

div.header {
    background: url(images/headBg.gif) repeat-x scroll center bottom transparent;
    min-height:115px;
    padding: 0;
    position: relative;
}
body .header li {
    margin: 0;
    list-style-type: none;
}

.header h1.logo {
    margin: 0;
    padding: 0;
    display: block;

}
body .header h1.logo, body .header h1.logo a {
    background-color: transparent;    
    left: 0;
    color: $page.parent.settings.textColour2;   
}
h1.logo a {
    width:121px;
    height:23px;
    display:block;
    float:left;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0;
}
.headRight {
    width:400px;
    float:right;
    padding-right: 15px;
    position:relative;
    top:15px;    
}
.formBox {
    padding-bottom:28px;
}
.header .inputBox {
    background:#fff;
    width:200px;
    height:30px;
    float:right;
    border:1px solid #cbcbcb;
    border-radius: 5px;
    position:relative;
    margin-top:2px;
}
.header .input {
    width:81%;
    font-size:13px;
    color:$page.parent.settings.textColour2;
    border:none;
    outline:none;
    padding:0 0 0 5px;
    margin: 0;
    height: 31px;
    font-style:italic;
    background:none;
}

.header .inputBox button {
    background-color: $page.class;
    border:none;
    outline:none;
    cursor:pointer;
    margin: 0;
    text-transform:uppercase;
    position:absolute;
    top:2px;
    right:2px;
    display: inline;
    padding: 5px 3px;
}
.divider {
    border-right:1px solid #cbcbcb;
    float:right;
    height:32px;
    margin:2px 10px 0;
}
.userBtn {
    background:#ececec;
    width:152px;
    height:30px;
    float:right;
    position:relative;
    border:1px solid #cbcbcb;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    z-index:999;
    margin-top:2px;
}
a.Link {
    height:30px;
    text-decoration:none;
    display:block;
    color:$page.parent.settings.textColour2;
    font-size:13px;
    font-weight:normal;
    padding:8px 0 0 10px;
    background:url(images/arrow.gif) top right no-repeat;
    background-position:95% 12px;
}
/*dropdown*/
.dropBox {
    position:absolute;
    background:#fff;
    border:1px solid #cbcbcb;
    border-radius: 0.3em;
    z-index:999;
    padding: 0.18em 0.18em 0 0.18em;
    display:none;
    line-height: 1.4em;    
}
.dropBox ul {
    margin: 0;
}
.dropBox li {
    list-style:none;
    font-size: 0.68em;
    margin: 0;
    padding: 0;
}
.dropBox li:hover a {
    background:#e6e6e6;
    text-decoration: none;
}
.dropBox li a {
    text-decoration:none;
    color:$page.parent.settings.textColour2;
    display:block;
    padding: 0.3em 0 0 0.625em;
    border-radius: 0.3em;
    font-size: 1.3em;
}

.Login .dropBox {
    min-width: 145px;
    top:35px;
    right:0;
}
.Login form label {
    display: inline-block;
    float: left;
    line-height: 1.8em;
    width: 70px;
}
.Login form input {
    width: 100px;
}
.Login #email {
    margin-bottom: 10px;
}
.Login form a {
    font-size: 0.6em;
}
.Login form a, .Login button {
    margin-left: 70px;    
}
.accessBox {
    border-top:1px solid #cbcbcb;
    margin-right:2px;
    padding:6px 10px;
    margin-top:1px;
}
.greyBox {
    width:54px !important;
    height:20px;
    background:#f2f2f2;
    padding:2px 8px;
}
a.linkText {
    float:left;
    text-decoration:underline;
    color:#444;
    font-size:12px;
    display:block;
    margin-top:2px;
}
a.linkTxt {
    font-weight:bold;
    font-size:16px;
    text-decoration:none;
    margin:0 9px 0 5px;
}
a.circle {
    float:left;
    display:block;
    margin-top:5px !important;
}
.userBtn:hover>.dropBox {
    display:block;
}
/*nav*/
body.myDashboard li.nav-myDashboard, body.myLearning li.nav-myLearning, body.community li.nav-community, .nav li.active{
    border-top:1px solid #cbcbcb;
    border-left:1px solid #cbcbcb;
    border-right:1px solid #cbcbcb;
    background:#fff;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
}
.nav {
    width:100%;
    position: absolute;
    bottom: 0;
}
.nav ul {
    text-align:center;
    height: 38px;
    padding: 0;
}
.nav ul li {
    list-style:none;
    line-height: 16px;
    font-size:13px;
    margin-right:1px;
    text-align:center;
    text-transform:capitalize;
    display: inline-block;
    padding: 0;
    zoom:1; *display: inline;
}

.nav ul li a {
    font-weight: 400;    
}

.nav ul li a {
    text-decoration:none;
    color:$page.parent.settings.textColour2;
    padding:11px 10px 10px;
    cursor:pointer;
    display: inline-block;
}



/*footer*/
.footerOuter{
    position:absolute;
    height:59px;
    width:100%;
    bottom:0;
    left:0;
}
.footer {
    background:#ededed;
    border-top:1px solid #dbdada;
    padding:10px 15px 15px;
    height:35px;
    position:relative;
}
.footerL {
    width:45%;
    position:absolute;
    top:10px;
    left:15px;
    width:300px;
}
.footerL img {
    float:left;
    margin-right:10px;
}
.footerL p {
    float:left;
    color:#3c3c3c;
    font-size:10px;
    margin-top:20px;
}
ul.fList {
    display:block;
    height:12px;
    padding-top:20px;
    text-align:center;
}
ul.fList li {
    list-style:none;
    font-size:11px;
    border-left:1px solid #999;
    padding-left:10px;
    margin-left:10px;
    height:12px;
    display:inline;
}
ul.fList li:first-child {
    border:none;
    padding-left:0;
    margin-left:0;
}
ul.fList li a {
    text-decoration:none;
    color:$page.parent.settings.textColour2;
}
ul.fList li:hover a {
    text-decoration:underline;
}

/*modulefianl*/
.content1{
    padding:0 0 100px 0;
    background:#f0f0f0;
}

/*scroll*/
.scroll{
    background:url(images/scroll.gif) no-repeat;
    height:120px;
    width:7px;
    position:absolute;
    top:0;
    right:-10px;
}
/*popup*/
.popupBox{
    padding:0 18px 0 22px;
    position:relative;
    width:448px;
    height:214px;
    margin:0 auto;
    border:1px solid #b2b2b2;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    -webkit-box-shadow: 0 0 70px #7f7a7a;
    -moz-box-shadow: 0 0 70px #7f7a7a;
    background:#ebebeb url(images/gryBg.gif) top repeat-x;
}
.popupBox h3{
    color:$page.parent.settings.heroColour1;
    font-size:20px;
    font-weight:bold;
    padding:18px 0 8px;
}
.popupBox p{
    font-size:11px;
    color:$page.parent.settings.textColour2;
    line-height:1.4em;
    margin-bottom:70px;
}

div.left {
    float: left;
    width: 48%;
    padding-right: 10px;
}
div.right {
    float: right;
    width: 48%;
    padding-left: 10px;
}

.auxText {
    font-size: 10px;
    font-style: italic;
    border-bottom: medium none;
}
.auxText a, a.auxText{
    text-decoration:none;
    font-size:10px;
    color:$page.parent.settings.heroColour1;
}
.auxText a:after {
    content: ",";
}
.auxText a:last-child:after {
    content: none;
}
div.blowout h2 {
    margin-top: 0;
}
div.blowout {
    max-width: 250px;
    float: right;
    padding: 15px;
    border: dashed 1px lightgray;
}
div.section {
    width: 45%;
    float: left;
    margin-right: 5%;
    margin-top: 15px;
    border-top: 1px solid lightgray;
}
.tree-browser {
    border: 1px solid #CACACA;
    border-radius: 3px 3px 3px 3px;
    margin: 0;
    width: 100%;
}
table.tree-browser {
    border-collapse: collapse;
    border-spacing: 0;
}
.tree-browser th {
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #D8D8D8;
    color: #555555;
    font-weight: bold;
    padding: 6px 3px;
    text-align: left;
    text-shadow: 0 1px 0 #FFFFFF;
}
.tree-browser td.icon {
    padding-left: 10px;
    padding-right: 2px;
    width: 17px;
}
.tree-browser td {
    background: none repeat scroll 0 0 #F8F8F8;
    border-bottom: 1px solid #EEEEEE;
    color: #484848;
    padding: 0 3px;
    vertical-align: middle;
}
.tree-browser td a{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 100%;    
}

table.bar {
    width: 100%;
    border-collapse: collapse;
}

table.bar tbody {
    background-color: #F0F0F0;
}

table.bar td {
    border-width: 1px 0;
    vertical-align: middle;
}
table.bar td a {
    color: $page.parent.settings.textColour2;
}
table.bar td a:hover {
    text-decoration: none;
}

table.striped h2 {
    font-size: 14px;    
}

table.striped h1, table.striped h2, table.striped h3, table.striped h4 {
    padding: 0;
    margin: 0;
    font-style: normal;    
}

#comments input, #comments textarea{
    padding: 4px 10px 2p;
    width:95%;
    height:19px;
    margin: 0;
}
.fBox{
    margin:0 auto;
    padding:5px 0 18px;
}
#comments fieldset {
    text-align: center;
    position: relative;
}
#comments div.forumReply{
    padding:10px 10px 9px;
    background:#fff;
    border-top:1px solid #d4d4d4;
    border-bottom: 1px solid #D4D4D4;
    margin-bottom:5px;
    text-align: left;
    position: relative;
}
#comments div.forumReply div{
    position: absolute;
    right: 10px;
    top: 10px;
}
#comments button {
    margin: 0;
}
.error, .validationError, #validationMessage {
    font-size: 0.8em;
}


.leftBar{
    background:#f0f0f0;
}

/** Start learning.css **/
/** A dynamic css file, this is templated with TemplatedTextPage, which gets config parameters from the website **/

.myResources .col11{
    width:80%;
    float:left;
}
.myResources .col12{
    width:10%;
    min-width:65px;
    float:left;
}
.myResources .col12 small{
    color:#fff;
    font-size:11px;
    font-style:italic;
    display:block;
}

.imageL{
    float:left;
    display:block;
    margin:12px 15px 0 18px;
}
.p_Text{
    float:left;
    width:80%;
    font-size:11px;
    color:$page.parent.settings.textColour2;
    display:block;
}
.hTxt{
    margin:10px 0 3px;
    padding:0;
}
.date{
    color:$page.parent.settings.textColour2;
    font-size:12px !important;
    display:block;
    margin-top:28px !important;
    font-weight:normal !important;
}
.conArea{
    position:relative;
    background:#f0f0f0;
    overflow:hidden;
}

a.gBox {
    display:block;
    background:none;
    border-top:1px solid #dbdada;
    border-bottom:1px solid #dbdada;
    min-height:52px;
}
a.gBox1{
    display:block;
    background:none;
    border-top:1px solid #dbdada;
    border-bottom:1px solid #dbdada;
    min-height:39px;
    padding-bottom:13px;
}
.col1 img {
    float:left;
    margin-right:12px;
    display:block;
}
.pText1 {
    margin-top:12px;
    line-height:1em;
}
.tick {
    background-image: url(images/tick1.gif);
    background-position: center center;
    background-repeat: no-repeat;    
    text-indent: -10000px;
}

.pTxt {
    color:$page.parent.settings.textColour2;
    font-size:0.7em;
    margin:2px 0 8px 65px;
    display:block;
}

.txtP {
    display:block;
    color:#cacaca;
    font-size:10px;
    font-weight:bold;
    margin-top:10px;
}


.textBox h3{
    color:#262626;
    font-size:12px;
    font-weight:bold;
    margin: 0 0 4px 0;
}
.textBox h3 a{
    text-decoration:none;
    color:#262626;
}
.textBox h3 a:hover{
    text-decoration:underline;
}
.textBox h3 span{
    color:$page.parent.settings.heroColour1;
}
.textBox p{
    color:#262626;
    font-size:10px;
    margin-bottom:4px;
}
a.module {
    color: $page.parent.settings.heroColour1;
    font-weight: bold;
}
a.user {
    color: #262626;    
    font-weight: bold;
}


a.questSign{
    line-height:30px;
    float:right;
}
a.questSign span{
    border-radius: 15px;
    background:#fff;
    font-weight: 800;
    padding: 4px 7px;    
    font-size: 13px;
}
.listing{
    border-top:1px solid #dbdada;
    border-bottom:1px solid #dbdada;
    padding-bottom:10px;
}
.listing ul{
    padding:10px 0 0 12px;
    margin: 0;
}
.listing ul li{
    width:25%;
    float:left;
    list-style:none;
    margin: 0;
}
.listing ul li.second{
    width:29%;
}
.listing ul li.last{
    width:20%;
}
.listing ul li h3{
    color:#262626;
    font-size:12px;
    font-weight:normal;
    margin-bottom: 0.6em;
}
.listing ul li span{
    font-size:30px;
    font-weight:bold;
    color:$page.parent.settings.heroColour1;
    display:block;
    line-height:1em;
}
.listing ul li small{
    color:#8f8f8f;
    font-size:11px;
    display:block;
    font-style:italic;
}

a.link_Txt{
    float:right;
    text-decoration:none;
    color:$page.parent.settings.textColour2;
    font-size:13px;
    display:block;
    background:url(images/arrow1.gif) top left no-repeat;
    padding-left:16px;
    background-position:0 1px;
    margin:72px 10px 0 0;
}
a:hover.link_Txt{
    text-decoration:underline;
}

.txtRBox{
    float:left;
    width:90%;
}
.txtRBox h3{
    font-size:12px;
    color:#262626;
    font-weight:bold;
}
.txtRBox h3 a{
    text-decoration:none;
    color:#262626;
}
.txtRBox h3 a:hover{
    text-decoration:underline;
}
.txtRBox p{
    color:#262626;
    font-size:11px;
    margin:5px 0 3px;
}
.txtRBox small{
    color:#262626;
    font-size:10px;
    font-style:italic;
}
.auxText a, a.auxText{
    margin-left:12px;
}
a.lnkText{
    float:right;
    text-decoration:none;
    font-size:10px;
    color:$page.parent.settings.heroColour1;
    font-style:italic;
    margin-right:10px;
}
a.lnkText1{
    margin-right:0;
}
a:hover.lnkText{
    text-decoration:underline;
}
/*notification*/
.nav .nav-menuNotifications span {
    background: none repeat scroll 0 0 $page.parent.settings.heroColour1;
    border-radius: 15px 15px 15px 15px;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 9px;
    margin: 0 4px 0 0;
    padding: 0 4px;
    text-align: center;
}

.notificationBox{
    border-top:1px solid #d2d2d2;
    position:relative;
}
.notificationBox > div{
    border-bottom:1px solid #d2d2d2;
    min-height:41px;
    padding: 10px;
    position: relative;    
}
.content .notificationBox > div.active{
    background-color: $page.parent.settings.heroColour1;
}
.notificationBox > div.active * {
    color: white;
}
.notificationBox > div:nth-child(even) {
    background-color: white;
}
.notificationBox h3, .notificationBox h3 a{
    font-size:13px;
    color:$page.parent.settings.textColour2;
    font-weight:bold;
    margin: 0;
    text-decoration:none;
    color:$page.parent.settings.textColour2;
}
.notificationBox > div div.left h3 a:hover{
    text-decoration:underline;
}
.notificationBox p{
    color:#686868;
    font-size:11px;
}
.notificationBox .info {
    float: right;
    margin-right: 10px;
    font-size: 11px;
    font-style: italic; 
    color: $page.parent.settings.heroColour1;
}
.notificationBox .close {
    float: right;
}

.close {
    background-image: url(images/crosssign.png);
    height: 12px;
    width: 12px;
    display: inline-block;
    text-indent: -10000px;
}

.active .close {
    background-image: url(images/cross.png);
}

.info {
    font-size: 11px;
    font-style: italic; 
    color: $page.parent.settings.heroColour1;
}
.selectBox{
    background:$page.parent.settings.heroColour1;
}
.emailArea{
    margin-left: 15px;
}
.emailArea h2 {
    margin: 15px 0;
    font-size: 28px;
}
.titleBox .info {
    position: absolute;
    right: 5px;
    bottom: 10px;
}
.titleBox{
    border-bottom:1px solid #d2d2d2;
    padding:0 0 10px 0;
    margin-bottom:10px;
    position: relative;
}
.titleBox h3{
    font-size:13px;
    color:$page.parent.settings.textColour2;
    font-weight:normal;
    margin: 0;
}
.titleBox small{
    color:#686868;
    font-size:10px;
    font-style:italic;
}
.emailCon{
}
.emailCon h3{
    font-size:28px;
    color:$page.parent.settings.textColour2;
    text-transform:capitalize;
    font-weight:normal;
    margin-bottom:8px;
}
.emailCon p{
    color:$page.parent.settings.textColour2;
    font-size:12px;
    line-height:1.5em;
    margin-bottom:10px;
}

.moduleBox {
    position:relative;
    background:#f0f0f0;
}
.content .moduleBox .wBox a:hover {
    text-decoration: none;
}


.moduleBox1 {
    float:right;
}

.modulePage .content {
    padding: 0;
}

body .citation {
    font-size: 0.6em !important;
    font-weight: 400;
    font-style:italic;

    padding: 0px 0px 0px 0px;
    margin:0px;
}

/** ADMIN screens **/
div.treeView {
    border: solid 1px lightgray;
    width: 200px;
    padding: 20px;
}
ul.treeView ul  {
    padding-left: 55px;
}
.treeView li {
    background-image: url(images/icons/folder.png);
    background-repeat: no-repeat;
    text-indent: 55px;
    line-height: 45px;
    list-style: none;
}

.treeView li.program {
    background-image: url(images/icons/program.png);    
}
.treeView li.course {
    background-image: url(images/icons/course.png);    
}
.treeView li.module {
    display: none;
}

/** cke_panel_listItem is part of the CKEditor toolbar, which shows the h1 style. Must not be display:block for toolbar */
body .cke_panel_listItem h1 {
    display: inline;
    padding-left: 0;
}



.activity, .keyPoint {
    position: relative;    
    border-radius: 6px;
    font-weight: 700;
    padding: 18px 15px 15px 60px;
}


.activity {
    background-color: #ECF1F7;
    border: 1px solid #d3dbe1;
}
.keyPoint {
    background-color: #f8ecee;
    border: 1px solid #d6c2c7;
}
.keyPoint h1, .keyPoint h2, .keyPoint h3, .keyPoint h4 {
    margin-top: 0;
}


/** this span is inserted by jquery so we can use a sprite as background image for the icon. Will not be present in the editor */
.activity > span.sprite, .keyPoint > span.sprite {
    background-image: url("images/icons.png");
    background-repeat: no-repeat;
    height: 34px;
    left: 12px;
    position: absolute;
    top: 12px;
    width: 35px;
}

/** paddy added this so he can position just the lighbulb icon */
.lightbulb h6 span.sprite {
    background-image: url("images/icons.png");
    background-repeat: no-repeat;
    height: 34px;
    left: 5px;
    position: absolute;
    top: 5px !important;
    width: 35px;
}

.activity > span.sprite {
    background-position: -1px -48px;    
}
body .lightbulb div h6 {
    /*padding: 10px 20px 8px 50px;*/
    line-height: 36px;    
    margin: 0;
    padding: 0px 40px 0px 40px;
}

.keyPoint > span.sprite {
    background-position: -46px -48px;    
}

body .lightbulb div > span.sprite {
    top: 8px;
}

body .lightbulb div h6 span.sprite {
    background-position: -93px -47px;
    height: 34px;
    width: 35px;
}

/** Display as inline in the editor style dropdown combo box */
body .cke_panel_listItem .activity {
    display: inline;
    padding: 5px 5px 5px 50px;
}

div.dropdown {
    border: 1px solid #D3D3D3;
    border-radius: 6px;
    padding: 0;
    position: relative;
    text-align: left;
}

div.dropdown.dropdown2 {
    border: 1px solid #D3D3D3;
}


.btnHideFollowing {
    background-color: $rootFolder.settings.heroColour1;
    border-radius: 4px;
    /* border: 1px solid #98a686;*/
    color: white;
    padding: 8px 38px 8px 12px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    position: relative;
    font-weight: 500;    
}


.lightbulb div.dropdown, .lightbulb div.dropdown h6 {
    background-color: #fbf5e9;
}

.lightbulb {
    text-align: right;
}

div.dropdown > div {
    border-top: 1px solid #d3d3d3;
}

/** This refers to the content div within the dropdown section */
div.dropdown > div {
    padding: 10px 15px;
}

/** The open class is added to the dropdown div when its open */
.modulePage div.dropdown.open {
    display: block;    
}

/** make the dropdown div inline so its width is sized to the heading, instead of full width */
.modulePage div.dropdown {
    display: inline-block; 
}

.modulePage .dropdown h6 {
    background-color: #e9e9e9;
}

div.dropdown h6 {
    line-height: 36px;    
    margin: 0;
    padding: 00px 40px 0px 13px;
}

/*
div.dropdown h3, div.dropdown h4, div.dropdown h5 {
    margin: 0;
    padding: 10px 40px 10px 10px;
}
*/

/** this span is inserted by jquery so we can use a sprite as background image for the icon. Will not be present in the editor */
div.dropdown span.sprite, .btnHideFollowing > span.sprite {
    background-color: transparent;
    background-image: url("images/icons.png");
    background-repeat: no-repeat;
    background-position: -2px -94px;
    display: inline-block;
    height: 21px;
    position: absolute;
    right: 10px;
    top: 8px;
    width: 21px; 
}

/** Note that we trigger on the  */

.btnHideFollowing:hover, .modulePage div.dropdown h6:hover {
    cursor: pointer;
    /*background-color: #e9e9e9;*/
    border-color:#d7d7d7;
    color:$rootFolder.settings.textColour1;
}



/*
.modulePage div.dropdown h3:hover, .modulePage div.dropdown h4:hover, .btnHideFollowing:hover, .modulePage div.dropdown .test:hover {
    cursor: pointer;
    background-color: #e9e9e9;
    border-color:#d7d7d7;
    color:$rootFolder.settings.texColour1;
}
*/

#editor div.dropdown > span, div.dropdown.open > span {
    background-position: -28px -94px;
}
.edifyIsViewMode.modulePage div.dropdown > div {
    display: none;
}

.accentuated {
    background-color: #eaf0e2;
    border: 1px solid #c5cfb8;
    border-radius: 6px;
    padding: 15px 20px 15px 20px;           
}

.accentuated p {
    margin:0px !important;
    padding:0px !important;

}

.modulePage .panelBox ol ol {
    list-style-type: none;
    margin-left: -6px;    
}



a.hero {
    background-color: $rootFolder.settings.heroColour1;
    border-style: solid;
    border-width: 6px;
    border-color: $rootFolder.settings.heroColour1;
}


ul.btnList{
    width:225px;
    margin:0 auto;
}
ul.btnList li{
    list-style:none;
    float:left;
    width:26px;
    height:26px;
    margin-right:10px;
}
ul.btnList li a{
    background:url(images/hoverBtn.gif) no-repeat;
    text-decoration:none;
    display:block;
    width:26px;
    height:26px;
}
ul.btnList li:hover a, ul.btnList li.active a{
    background-position:0 -26px;
}
.content .hideBtn{
    margin:0 auto;
    width:10em;
    height:1.5em;
    line-height: 1.3em;
    background:$rootFolder.settings.heroColour1;
    border-radius: 5px;
    text-align:center;
    margin-top:30px;
}
.content .hideBtn a{
    text-decoration:none;
    color:#fff;
    background:url(images/wArrow.png) top right no-repeat;
    background-position:100% 5px;
    padding-right:18px;
    font-size:0.6875em;
}
.panelBox{
    background:#fff;
    position:relative;
    min-height: 300px;
    /*padding: 30px;*/
    margin: 0 auto;
    padding: 15px 30px 30px;
    max-width: 920px;
}
.panelBox iframe {
    width: 100% !important;
}
.pBox{
    width:60%;
    padding:30px 0 80px 35px;
}
.pBox p{
    color: $rootFolder.settings.textColour2;
    font-size:12px;
    line-height:1.5em;
    margin-bottom:15px;
}
.editableContent {
    position: relative;
}
.border-text1 {
    border-color: lightgray;
}
h1.really-big {
    font-family: 'FrutigerLTStd45LightRegular';
    font-size: 45px;
    line-height: 100%;
    background: none;
    color: #333;
}

/**
A few fixes to undo the default styles when viewing the editor
*/
body .cke_panel_grouptitle {
    width: auto;
    position: inherit;
    left: auto;
    display: block;
    border-radius: inherit;
}

div.textOverImage {

}

div.textOverImage .bgImage {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

div.textOverImage div {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;    
}


p.lessSpace {
    padding-bottom: 0;
}
a.external {
    background: url("/static/common/icon_external_link.gif")  no-repeat scroll right center transparent;
    margin-right: 5px;
    padding-right: 10px;
}

/**
    For links which open modal dialogs
*/
a.anchor-modal { cursor: pointer; }
.linked-modal {
    background: #FFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    40px 25px 25px 25px
    min-height: 100px;
}
.linked-modal a.close-modal {
    background: transparent url(btn_modal_close.png) no-repeat 50% 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 4px;
    right: 4px;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    text-shadow: none;
}

/* Classification */
.classifer h3 { font-weight: normal; }
.classifer .controller-wrapper {
    float: left;
    width: 191px;
}
.classifer .controller-wrapper .controller {
    background: url(images/button.png) no-repeat;
    height: 56px;
    margin-bottom: 5px;
    padding: 14px 0 0 10px;
    position: relative;
    cursor: pointer;
}
.classifer .controller-wrapper .controller span.arrow {
    position: absolute;
    background: url(images/icon_right_sprite.png) no-repeat;
    width: 24px;
    height: 48px;
    top: 11px;
    right: 10px;
}
.classifer .controller-wrapper .controller h3 {
    font-size: 18px;
    margin: 0;
}
.classifer .controller-wrapper .controller p {
    font-size: 12px;
    line-height: 110%;
    margin: 0;
}
.classifer .controller-wrapper .button-placeholder {
    font-size: 15px;
    color: #c30;
}
.classifer .content-wrapper { margin-left: 194px; }
.classifer .content-wrapper > .content {
    background: url(images/content_panel.png) no-repeat;
    position: relative;
    width: 716px;
    height: 295px;
}
.classifer .content-wrapper > .content.active { display: block !important; }
.classifer .content-wrapper > .content h3.notice {
    font-size: 18px;
    text-align: center;
    margin-top: 55px;
}
.classifer .content-wrapper > .content > img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.classifer .content-wrapper > .content .main-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: url(images/rule.png) no-repeat 50% 15px;
    padding: 80px 15px 0;
}
.hide {
    display: none;
}
.hide-force {
    display: none !important;
}
.hide-text {
    background-color: transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    text-shadow: none;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both;
}

td.primary {
    width: 70%;
}

table.dashboard {
    width: 100%;
}
table.dashboard td.gap, table.myLearning td.gap {
    width: 1em;
}






div.bar {
    background: none repeat scroll 0 0 #4899BF;
    border-radius: 5px 5px 5px 5px;
    font-size: 0.9em;
    height: 2em;
    line-height: 2em;
    margin-bottom: 2px;
    padding: 0 8px;
}
div.bar h3 {
    color: #FFFFFF;
    float: left;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.sideBar{
    width:29%;
    float:right;
}
body ul.barList {
    margin: 0;
    font-size: 1em;
}
ul.barList li{
    list-style:none;
    border-top:1px solid #dbdada;
    padding:7px 0 7px 10px;
    margin: 0;
    font-size: 0.75em;    
}
ul.barList li:last-child {
    border-bottom: 1px solid #dbdada;
}
.profilePic{
    float:left;
    margin-right:8px;
}
a.module {
    color: $page.parent.settings.heroColour1;
    font-weight: bold;
}
a.user {
    color: #262626;    
    font-weight: bold;
}
#comments a.user {
    font-size: 0.8em;
}
#comments p {
    font-size: 0.7em;
}

ul.barList li .textBox{
    float:left;
    width:70%;
}
ul.barList div.post {    
   margin-left: 60px; /** width of the image to prevent text wrapping */    
}
ul.barList p {    
    padding-top: 5px;
    line-height: 12px;
    margin: 0;
}
ul.barList p, ul.barList em{
    font-size: 0.85em;    
}
ul.barList em{
    color:#262626;    
    margin-right:7px;
}
ul.barList small{
    color:$page.parent.settings.heroColour1;    
    font-style:italic;
    background:url(images/plus.gif) top left no-repeat;
    padding-left:10px;
    background-position:0 4px;
}

table.bar thead * {
    color: white;
}
table.bar .left {
    text-align: left;
}

table.bar td, table.bar th {
    padding: 5px;
    vertical-align: central;
    text-align: center;
}
table.bar thead tr th {
    background:$page.parent.settings.heroColour1;
    border: none;
    font-size: 0.9em;
    font-style: italic;    
    font-weight: 400;    
}

table.bar thead th:first-child {
    border-radius: 5px 0 0 5px;
    font-style: normal;
    text-align: left;
}

table.bar th:first-child, table.bar td:first-child {
    padding-left: 10px;    
}

table.bar th:last-child, table.bar td:last-child {
    padding-right: 10px;    
}

table.bar thead tr th:last-child {
    border-radius: 0 5px 5px 0;
}
table.bar tr:nth-child(odd) td {
    background-color: white;
}


tr.seperator {
    display: block;
    height: 10px;
}

tr.bar td.first, div.bar {
   padding: 0 8px;    
}

tr.bar td.title {
    font-size: 0.9em;
    font-style: normal;
}
tr.bar td.first {
    border-radius: 5px 0 0 5px;

}
tr.bar td {
    background: $page.parent.settings.heroColour1;
    line-height: 2em;
    padding: 0 8px;
    color: white;
    font-size: 0.7em;
    font-style: italic;
}
tr.bar td.last {
    border-radius: 0 5px 5px 0;
}

div.bar {
    height: 2.0em;
    background:$page.parent.settings.heroColour1;
    line-height: 2em;
    margin-bottom:2px;
    border-radius: 5px;
    padding: 0 8px;
}
div.bar.alt {
    background:$page.parent.settings.heroColour2;
}

a.courseBox.active, a.courseBox:hover {
    border-top:8px solid $page.parent.settings.heroColour1;
}

.downloadIcon {
    display: inline-block;
    background-image: url(/static/common/download.png);
    background-position: center center;
    background-repeat: no-repeat;    
    text-indent: -10000px;
    cursor: pointer;
    height: 31px;
    width: 34px;
}