<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="managePost.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="managePost.js">//</script>
    </head>
    <body>
        <section id="managePost" class="MainContent">
            <div class="Post Comment ClearFix">
                <header>
                    <strong>Forum:</strong> <a href="">How drugs affect young people</a> > <strong>Topic:</strong> <a href="">Getting started</a>
                </header>		
                <aside>1hr ago<br />Robert J Brown</aside>
                <div class="Content">
                    <p>Lorem ipsum dolor sit amet, nullam ipsum, sed arcu fringilla nisl purus. Ac molestie phasellus quis eu elit urna, maecenas vivamus morbi vel ac, vestibulum eros neque arcu rutrum orci odio, etiam urna risus non, cursus consequat nunc egestas nam. Quisque etiam orci, quibusdam phasellus, et eget orci id, purus pellentesque adipiscing justo elit tempus.</p>
                    <p>Lorem ipsum dolor sit amet, nullam ipsum, sed arcu fringilla nisl purus. Ac molestie.</p>
                </div>
                <footer class="ClearFix Clear">
                    <div>
                        <select class="Small">
                            <option value="0" selected="selected">Hidden</option>
                            <option value="1">Visible</option>
                        </select>
                    </div>
                </footer>
            </div>
            <div class="Post Question ClearFix">
                <header>
                    <strong>Forum:</strong> <a href="">How drugs affect young people</a> > <strong>Topic:</strong> <a href="">Getting started</a>
                </header>		
                <aside>1hr ago<br />Robert J Brown</aside>
                <div class="Content">
                    <p>How many drugs should I take based on my levels of depression?</p>
                </div>
                <footer class="ClearFix Clear">
                    <div>
                        <select class="Small">
                            <option value="0" selected="selected">Hidden</option>
                            <option value="1">Visible</option>
                        </select>
                    </div>
                </footer>
            </div>
            <div class="Post Comment ClearFix">
                <header>
                    <strong>Forum:</strong> <a href="">How drugs affect youn dfg fdg dfg fdg fdgfdg dfg dfg fdg fdg dfgg people</a> > <strong>Topic:</strong> <a href="">Getting s dfgdfgdfg tarted dfg fdgdfg fdgfd</a>
                </header>		
                <aside>1hr ago<br />Robert J Brown</aside>
                <div class="Content">
                    <p>Lorem ipsum dolor sit amet, nullam ipsum, sed arcu fringilla nisl purus. Ac molestie phasellus quis eu elit urna, maecenas vivamus morbi vel ac, vestibulum eros neque arcu rutrum orci odio, etiam urna risus non, cursus consequat nunc egestas nam. Quisque etiam orci, quibusdam phasellus, et eget orci id, purus pellentesque adipiscing justo elit tempus.</p>
                    <p>Lorem ipsum dolor sit amet, nullam ipsum, sed arcu fringilla nisl purus. Ac molestie.</p>
                </div>
                <footer class="ClearFix Clear">
                    <div>
                        <select class="Small">
                            <option value="0" selected="selected">Hidden</option>
                            <option value="1">Visible</option>
                        </select>
                    </div>
                </footer>
            </div>
        </section>
        <div class="Hidden">
            <div id="controller">		
                <a class="Edit EditPost" title="Edit this post" href=""><span class="Hidden">Edit this post</span></a>
                <a class="Delete DeletePost" title="Edit this post" href=""><span class="Hidden">Delete this post</span></a>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(function() {
                initManagePost();
            });
        </script>
    </body>
</html>