<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageForum.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageForum.js">//</script>
    </head>
    <body>
        <section id="manageForum" class="MainContent">

            <article class="Note">Use this page to create and manage the forums in your websites. Select a website to begin.</article>

            <section class="Control ClearFix">
                <div class="DropdownControl ClearFix NoLabel">
                    <div class="DropdownWrapper">
                        <span>$page.title</span> 
                        <a href="#" class="Control"><span class="Hidden">Change website</span></a> 
                    </div>
                    <div class="DropdownContent Hidden">
                        <div class="Content ClearFix">
                            <section>
                                <ul class="Websites">
                                #foreach($websiteFolder in $page.forumsRoot.children)
                                <li><a href="$websiteFolder.name">$websiteFolder.name</a></li>
                                #end
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
            </section>

            #if($page.website)            
            <header class="ClearFix">
                <button class="SmallBtn Add AddForum"><span>Add New Forum</span></button>
            </header>

            #foreach($forum in $page.children)
            <div class="Forum">
                <header class="ClearFix">
                    <div class="ShowDialog"><a href="$forum.name">$forum.title</a></div>
                </header>
                <div class="ContentForum ClearFix">
                    <h4>Recent posts</h4>
                    <ul class="TopicList">
                        #foreach($post in $forum.recentPosts)
                        <li>
                            <span>$post.title</span>
                        </li>
                        #end
                    </ul>			
                </div>
            </div>
            #end
            #end

            <div class="Hidden">
                <div id="dialogForum">
                    <div class="Dialog Hidden">
                        <a href="" class="RenameForum">Rename this forum</a>
                        <a href="" class="Delete DeleteForum">Delete this forum</a>
                    </div>
                </div>
            </div>
        </section>
        <div id="modalForum" class="Modal">
            <header>
                <h3>Edit Forum</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <table>
                    <tr>
                        <th><label for="name">Enter program name</label></th>
                        <td><input type="text" name="name" id="name" value="" placeholder="Program name" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="Btn">
                            <button>Save changes</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(function() {
                initManageForum();
            });
        </script>
    </body>
</html>