<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="managePost.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="managePost.js">//</script>
        <script type="text/javascript" src="/static/js/jquery.timeago.js">//</script>
    </head>
    <body>
        <section id="managePost" class="MainContent">
            #foreach($post in $page.latestPosts)
            <div class="Post Comment ClearFix">
                <header>
                    #if( $post.forumTitle )
                    <strong>Forum:</strong> <a href="">$post.forumTitle</a> > <strong>Topic:</strong> <a href="$post.contentHref">$post.topicTitle</a>
                    #else
                    <a href="$post.contentHref">$post.contentTitle</a>
                    #end
                </header>		
                <aside>
                    <abbr title="$formatter.formatDateISO8601($post.date)" class="timeago">$post.date</abbr>
                    <br />
                    <a href="$post.user.href">$post.user.name</a>
                </aside>
                <div class="Content">
                    <p>$post.notes</p>
                </div>
                <footer class="ClearFix Clear">
                    <div>
                        <a href="$post.id" title="Edit this post" class="Edit EditPost"><span class="Hidden">Edit this post</span></a>
                        <a href="$post.id" title="Delete this post" class="Delete DeletePost"><span class="Hidden">Delete this post</span></a>
                    </div>
                </footer>
            </div>
            #end

        </section>
        <div class="Hidden">
            <div id="controller">		
                <a class="Edit EditPost" title="Edit this post" href=""><span class="Hidden">Edit this post</span></a>
                <a class="Delete DeletePost" title="Edit this post" href=""><span class="Hidden">Delete this post</span></a>
            </div>
        </div>
     
        <div id="editPost" class="Modal">
            <header>
                <h3>Edit Post</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <table>
                    <tr>
                        <td><textarea name="editComment" cols="50" rows="10" class="required"></textarea></td>
                    </tr>
                    <tr>
                        <td class="Btn">
                            <button>Save changes</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>        
        <script type="text/javascript">
            jQuery(function() {
                initManagePost();
            });
        </script>
    </body>
</html>