<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageForum.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageForum.js">//</script>
    </head>
    <body>
        <section id="manageForum" class="MainContent">

            <article class="Note">                
                Use this page to create and manage the forums in your websites. Select a website to begin.
            </article>

            <section class="Control ClearFix">
                <div class="DropdownControl ClearFix NoLabel">
                    <div class="DropdownWrapper">
                        <span>$page.title</span> 
                        <a href="#" class="Control"><span class="Hidden">Change website</span></a> 
                    </div>
                    <div class="DropdownContent Hidden">
                        <div class="Content ClearFix">
                            <section>                                
                                #set($websites = $page.forumsRoot.children)
                                <ul class="Websites">
                                    #if( $websites.isEmpty() )
                                    <li>You need at least one website to add a forum</li>
                                    #else
                                    #foreach($websiteFolder in $websites)
                                    <li><a href="$websiteFolder.href">$websiteFolder.name</a></li>
                                    #end
                                    #end
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
            </section>

            #if($page.website)            
            <header class="ClearFix">
                <button class="SmallBtn Add AddForum"><span>Add New Forum</span></button>
            </header>

            #foreach($forum in $page.children)
            <div class="Forum">
                <header class="ClearFix">
                    <div class="ShowDialog">
                        <a href="$forum.name">$forum.title</a>
                        <div class="Dialog Hidden">
                            <a href="" class="EditForum">Edit name and notes</a>
                            <a href="" class="Delete DeleteForum">Delete this forum</a>
                        </div>

                    </div>

                </header>
                <div class="ContentForum ClearFix">
                    <h4>Recent posts</h4>
                    <ul class="TopicList">
                        #foreach($post in $forum.recentPosts)
                        <li>
                            <span>$post.title</span>
                        </li>
                        #end
                    </ul>			
                </div>
                <div class="Modal">
                    <header>
                        <h3>Edit Forum</h3>
                        <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
                    </header>
                    <div class="ModalContent">
                        <form method="post" action="$forum.name" class="update-modal">
                            <div class="pageMessage">.</div>
                            <table>
                                <tr>
                                    <th><label for="name">Forum name</label></th>
                                    <td><input type="text" name="name" id="name" value="$forum.name" class="required simpleChars" maxlength="30" placeholder="Forum name" /></td>
                                </tr>
                                <tr>
                                    <th><label for="name">Forum Title</label></th>
                                    <td><input type="text" name="title" id="title" value="$forum.title" class="required" maxlength="" placeholder="Forum title" /></td>
                                </tr>                    
                                <tr>
                                    <th><label for="name">Description</label></th>
                                    <td>
                                        <textarea name="notes" id="notes">$!forum.notes</textarea>
                                    </td>
                                </tr>                    

                                <tr>
                                    <td colspan="2" class="Btn">
                                        <button>Save changes</button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>                
            </div>
            #end
            #end

        </section>

        <div class="Modal" id="addForumModal">
            <header>
                <h3>Add Forum</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <form method="post" action=".">
                    <input type="hidden" name="action" value="create"/>
                    <div class="pageMessage">.</div>
                    <table>
                        <tr>
                            <th><label for="name">Forum name</label></th>
                            <td><input type="text" name="name" id="name" value="" class="required simpleChars" maxlength="30" placeholder="Forum name" /></td>
                        </tr>
                        <tr>
                            <th><label for="name">Forum Title</label></th>
                            <td><input type="text" name="title" id="title" value="" class="required" maxlength="" placeholder="Forum title" /></td>
                        </tr>                    
                        <tr>
                            <th><label for="name">Description</label></th>
                            <td>
                                <textarea name="notes" id="notes"></textarea>
                            </td>
                        </tr>                    

                        <tr>
                            <td colspan="2" class="Btn">
                                <button>Save changes</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>          

        <script type="text/javascript">
            jQuery(function() {
                initManageForum();
            });
        </script>
    </body>
</html>