<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="myForums.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="myTopic.js" >//</script>
    </head>
    <body class="forums">
        <table class="plain myLearning">
            <tr>
<td class="modules">
                    <div class="forums">

                        <table class="plain">
                            <colgroup>
                                <col class="first" />
                                <col class="title" />
                                <col class="progress" />
                                <col class="cert" />
                                <col class="last" />
                            </colgroup>
                            <thead>
                                <tr class="bar">
                                    <td class="first title" colspan="2">Forums</td>
                                    <td class="progress">Posts</td>
                                    <td class="cert"></td>
                                </tr>
                                <tr class="gap">
                                    <td colspan="5"></td>
                                </tr>
                            </thead>
                            <tbody>
                                #foreach($forum in $page.children)
                                <tr class="title">
                                    #if( $forum.thumb )
                                    <td class="first">
                                        <img src="${forum.thumb}" alt="" />                                    
                                    </td>
                                    <td class="title"><a href="$forum.href" class="text1">$forum.title</a></td>
                                    #else
                                    <td class="title" colspan="2"><a href="$forum.href" class="text1">$forum.title</a></td>
                                    #end
                                    <td class="progress">
                                        $!forum.numTopics
                                    </td>
                                    <td class="progress">
                                        <abbr title="$formatter.formatDateISO8601($forum.mostRecentPostDate)" class="info timeago">$!forum.mostRecentPostDate</abbr>                                        
                                    </td>
                                    
                                </tr>
                                #if( $forum.notes )
                                <tr class="brief">
                                    <td></td>
                                    <td colspan="5">
                                        <p>
                                            $forum.notes
                                        </p>
                                    </td>
                                </tr>
                                #end
                                #end
                            </tbody>
                        </table>
                    </div>
                </td>
                
                <td class="gap"></td>

                <td class="recent-posts">
                    <div class="courcesBox bar"> 
                        <h3>Recent posts</h3>
                    </div>
                    <div class="initActive">                
                        <ul class="barList">
                            <li>
                                <em>Loading comments..</em>
                            </li>                                                                     
                        </ul>            

                        #set($basePath = "/")
                        #if( $parentOrg )
                        #set($basePath = $parentOrg.href)
                        #end

                        <script type="text/javascript" src="/theme/apps/forums/recentPosts.js">//</script>
                        <script type="text/javascript">
                            pageInitFunctions.push(function() {
                                initPosts("$basePath", ! $rootFolder.is('website'));
                            });
                        </script>                        
                    </div>                    
                </td>
                
                
            </tr>
        </table>
        <script type="text/javascript">       
            jQuery(document).ready(function(){
                $("abbr.timeago").timeago();
            });
        </script>    


    </body>
</html>