<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="myForums.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="myTopic.js" >//</script>
    </head>
    <body class="forums">
        <!-- Content goes here - NO HEADER/BANNER/MENU! -->
        <div id="content">
            <div class="bar">
                <div class="col1">
                    <h3>Recent community questions</h3>
                </div>
                <a href="#postQuestion" class="Button ShowModal border-text1"><i class="Icon-add"><!----></i> Post a question</a> 
                <div class="clr"></div>
            </div>            
            <ul class="PostList ClearFix">
                #foreach($post in $page.questions)
                <li class="Post">
                    <div class="Avatar"> <img src="/static/common/photo01.jpg" width="50" height="50" alt="Patrick Hone" /> </div>
                    <div class="ReplyNumber"> <strong>15</strong> replies </div>
                    <div class="Details">
                        <h4><a href="$post.name">$post.title</a></h4>
                        <p>
                            <abbr title="$formatter.formatDateISO8601($post.postDate)" class="timeago">$post.postDate</abbr>
                            <em><a href="#">$post.poster.nickName</a></em>
                        </p>
                    </div>
                </li>
                #end
            </ul>
        </div>



        <div id="postQuestion" class="Modal"> 
            <a href="" class="Close" title="Close">Close</a>
            <h3 class="Title">Post a question</h3>
            <form method="POST" action=".">
                <input type="text" placeholder="Enter your question here" value="" name="newQuestion" class="required HasClearButton" />
                <textarea name="comment" placeholder="Leave a comment here" cols="50" rows="10" class="required"></textarea>
                <div class="ControllerContainer"> 
                    <a href="" class="button">Cancel</a> 
                    <button type="submit" class="Button">Post</button> 
                </div>
            </form>
        </div>

        <script type="text/javascript">
            jQuery(function($) {
                initMyTopic();
            });            
        </script>        
    </body>
</html>