<div class="bar alt">
    <h3>Community Updates</h3>
    <!--
    <a class="questSign" href="#"><span>?</span></a>
    -->
    <div class="clr"></div>
</div>
    <ul class="barList">
                <li>
                    <em>Loading comments..</em>
                </li>                                                                     
            </ul>            

#set($basePath = "/")
#if( $parentOrg )
#set($basePath = $parentOrg.href)
#end

<script type="text/javascript" src="/theme/apps/forums/recentPosts.js">//</script>
<script type="text/javascript">
    pageInitFunctions.push(function() {
        initPosts("$basePath", ! $rootFolder.is('website'));
    });
</script>