#manageForum > header { border-bottom: 1px solid #dadada; }
#manageForum div.Forum {
	margin-top: 7px;
	border: 1px solid #cecece;
	border-radius: 5px;
}
#manageForum div.Forum header {
	padding: 14px 14px 14px 50px;
	border-radius: 5px 5px 0 0;
	height: 20px;
	font-weight: bold;
	border-bottom: 1px solid #cecece;
}
#manageForum div.Forum header > div {
	padding-right: 8px;
	float: left;
	line-height: 20px;
	height: 20px;
	position: relative;
	font-size: 13px;
	cursor: pointer;
}
#manageForum div.Forum div.ContentForum { padding: 15px 15px 5px; }
#manageForum div.Forum div.ContentForum h4 {
	font-weight: bold;
	font-size: 12px;
	border-bottom: 1px solid #dedede;
	padding-bottom: 5px;
}
#manageForum div.Forum div.ContentForum ul { margin-top: 5px; }
#manageForum div.Forum div.ContentForum ul li {
	background: #ededed;
	border-radius: 3px;
	margin-top: 3px;
	padding: 4px 0 4px 10px;
	line-height: 27px;
	height: 25px;
}
#manageForum div.Forum div.ContentForum ul li aside { float: right; }
#manageForum div.Forum div.ContentForum ul li aside a {
	float: left;
	display: block;
	height: 25px;
	width: 25px;
	background-color: #ededed;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-right: 4px;
	border-radius: 2px;
}
#manageForum div.Forum div.ContentForum ul li aside a:hover { background-color: #FFF; }
#manageForum div.Forum div.ContentForum .AddTopic {
	float: right;
	margin-top: 5px;
}
#manageForum div.Dialog {
	top: 15px;
	right: -185px;
}