a.anchor-modal { cursor: pointer; }
.linked-modal {
	background: #FFF;
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	padding: 25px;
}
.linked-modal a.close-modal {
	background: transparent url(btn_modal_close.png) no-repeat 50% 50%;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 4px;
	right: 4px;
	border: 0 none;
	color: transparent;
	font: 0px/0 a;
	text-shadow: none;
}
.modal-table {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 13px;
}
.modal-table .modal-table-header {
	background: url(bg_header_modal_table_right.png) no-repeat 100% 0;
	padding-right: 35px;
}
.modal-table .modal-table-header .inner-modal-table-header {
	padding-left: 20%;
}
.modal-table .modal-table-header .inner-modal-table-header ul {
	background: url(bg_header_modal_table_middle.png) repeat-x;
	height: 44px;
	color: #FFF;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
}
.modal-table .modal-table-header .inner-modal-table-header ul li {
	top: 0;
	padding-left: 15px;
	line-height: 44px;
	position: absolute;
}
.modal-table .modal-table-header .inner-modal-table-header ul li:nth-child(1) {
	left: 0;
}
.modal-table .modal-table-header .inner-modal-table-header ul li:nth-child(2) {
	left: 25%;
}
.modal-table .modal-table-header .inner-modal-table-header ul li:nth-child(3) {
	left: 50%;
}
.modal-table .modal-table-header .inner-modal-table-header ul li:nth-child(4) {
	left: 75%;
}
.modal-table .modal-table-header .inner-modal-table-header ul li:nth-child(5) {
	right: 48px;
}
.modal-table .modal-table-content {
	margin-top: -1px;
	position: relative;
	padding-right: 35px;
}
.modal-table .modal-table-content table {	
	border-spacing: 0;
	border-collapse: collapse;
	border: 1px solid #d4d4d4;
	width: 100%;
}
.modal-table .modal-table-content table th, .modal-table .modal-table-content table td {
	text-align: left;
	vertical-align: middle;
	padding: 15px;
}
.modal-table .modal-table-content table a {
	font-style: italic;
	color: #141414;
	display: block;
	margin-bottom: 15px;
}
.modal-table .modal-table-content table tr:nth-child(1) th, .modal-table .modal-table-content table tr:nth-child(1) td {
	background: #e1eece;
}
.modal-table .modal-table-content table tr:nth-child(2) th, .modal-table .modal-table-content table tr:nth-child(2) td {
	background: #e7f0e4;
}
.modal-table .modal-table-content table tr:nth-child(3) th, .modal-table .modal-table-content table tr:nth-child(3) td {
	background: #ecf1f7;
}
.modal-table .modal-table-content table ul {
	margin: 0;
	padding-left: 10px;
}
.modal-table .white-bar {
	width: 7px;
	background: #FFF;
	position: absolute;
	top: 0;
	right: 57px;
	bottom: 0;
	z-index: 2;
}
.modal-table .modal-table-content table tr td:last-child {
	padding-right: 55px;
}