a.anchor-modal { cursor: pointer; }
.linked-modal {
	background: #FFF;
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	padding: 25px;
}
.linked-modal a.close-modal {
	background: transparent url(btn_modal_close.png) no-repeat 50% 50%;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 4px;
	right: 4px;
	border: 0 none;
	color: transparent;
	font: 0px/0 a;
	text-shadow: none;
}
.modal-table {
	border-collapse: collapse;
	border-spacing: 0;
}
.modal-table th, .modal-table td {
	vertical-align: middle;
	text-align: left;
	padding: 10px;
}
.modal-table .white {
	background: #FFF !important;
	padding: 0 !important;
	border-color: #FFF !important;
}
.modal-table thead th {
	line-height: 44px;
	height: 44px;
	background: url(bg_header_modal_table_middle.png) repeat-x;
	color: #FFF;
	font-size: 15px;
	padding: 0 10px;
}
.modal-table tbody th {
	font-size: 13px;
}
.modal-table tbody a {
	font-style: italic;
	color: #141414;
	font-size: 13px;
	text-decoration: underline;
}
.modal-table tbody ul, .modal-table tbody ul li {
	margin: 0;
	list-style-position: inside;
}
.modal-table tbody ul {
	padding-left: 10px;
}
.modal-table thead th.last {
	background: url(bg_header_modal_table_right.png) no-repeat;
}
.modal-table tbody tr.first th, .modal-table tbody tr.first td {
	background: #e1eece;
}
.modal-table tbody tr.second th, .modal-table tbody tr.second td {
	background: #e7f0e4;
}
.modal-table tbody tr.third th, .modal-table tbody tr.third td {
	background: #ecf1f7;
	border-bottom: 1px solid #d4d4d4;
}
.modal-table tbody tr th {
	border-left: 1px solid #d4d4d4;
}
.modal-table tbody td.border-right {
	border-right: 1px solid #d4d4d4;
}
.modal-table tbody tr.first th {
	border-top: 1px solid #d4d4d4;
}