.modulePage .banner .nav, .modulePage .banner .btn-group {
    display: none;
}
    
.modulePage a.backToMyLearning, .modulePage a.print {
    position: fixed;    
    top: 10px;
    font-size: 13px;    
    z-index: 10000;    
}

.modulePage a.backToMyLearning {
    right: 20px;
    background: url("images/arrow1.gif") no-repeat scroll 0 1px transparent;
    padding-left: 20px;
}

.modulePage a.print {
    right: 160px;
    background: url("/templates/themes/images/icon_print.png") no-repeat scroll 0 1px transparent;
    height: 16px;
    width: 18px;
    display: inline-block;
}

.modulePage a.print span{
    display: none;
}

.panelBox iframe {
    width: 100% !important;
}


.modulePage .panelBox ol ol {
    list-style-type: none;
    margin-left: -6px;    
}

body.edifyIsEditMode div.pages {
    display: none;
}
.panelBox {
    position: relative;
    min-height: 300px;
}

.profile legend {
    display: none;
}
a.disabled {
    opacity: 0.5;
    cursor: default;
}

ol.quiz {
    ol {
        li {
            margin-top: 10px;
            input {
                margin: 0px 10px 0 5px;
            }
            label {
                display: inline;
            }
        }
    }
}

li.error {
    color: @errorText;
    .formFieldState(@errorText, @errorText, @errorBackground);
}

.pagination {
    .away-limited-10 {
        display:none;
    }
    .away-limited-10.limit-end {
        display: inline;
        :after {
            content: "..";
        }
        span {
            display: none;
        }
    }
}

@media (max-width: 900px) {
    .pagination {
        .away-9, .away-limited-10 {
            display:none;
        }
    }
}
@media (max-width: 825px) {
    .pagination {
        .away-7, .away-8 {
            display:none;
        }
    }
}
@media (max-width: 750px) {
    .pagination {
        .away-5, .away-6 {
            display:none;
        }
    }
}