@text1: #464646;
@text2: #464646;
@hero1: #0093DD;
@hero2: #008ACF;
@border1: #E3E3E3;
@bg1: #F6F6F6;
@borderRadius: 5px;
@listIndent: 40px;

body li {
    margin: 0 0 0 20px;
    padding:0 0 5px 0;    
}

body div.header {
    min-height: 95px;
}

body ul {
    margin-left: 20px;
}

h1.logo {
    background-image: url(/theme/mio-logo-small.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    position: absolute;
    height: 70px;
}

body h1.logo a {
    margin-left: 110px;
    margin-top: 10px;
}
