@frameworkToolsColor: #FFF;
@frameworkToolsInverseColor: #414141;
@frameworkHighlightColor: #FFF;
@frameworkHighlightInverseColor: #FF9531;
@text1: #464646;
@text2: #464646;
@hero1: #0093DD;
@hero2: #008ACF;
@border1: #E3E3E3;
@bg1: #F6F6F6;
@borderRadius: 5px;
@listIndent: 40px;

.nav ul li a.nav-menuDashboard {
	display: none;
}

body .header h1.logo {
   background-image: url("/theme/mio-logo-small.png");
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
    height: 70px;
    padding-left: 100px;
    width: 300px;
}

.contentForm {
	min-height: 450px;
}

.downloads .contentForm {
	min-height: inherit;
}

body div.header {
	min-height: 90px;
}
.nav ul li a.nav-menuMyRewards {
	display: none;
}
