<html>
    <head>
        <title>Downloads</title>
    </head>
    <body class="downloads">
        <div id="content">
            <div class="SubContent">
                <div class="contentForm">
                    <div class="htmleditor" id="body"> 
                        $!{page.body}
                    </div>
                    <br class="Clear" />
                </div>
                
                <h2>Source code</h2>
                <ul>
                    <li><strong>Github:</strong> <tt>git@github.com:miltonio/milton.git <a href="https://github.com/miltonio/milton2">https://github.com/miltonio/milton2</a></tt></li>
                    <li><a href="$page.getParam('sourceFolder')">All versions</a></li>
                </ul>                
                
                <h2>Current release: $page.getParam('version')</h2>                
                <ul>
                #foreach($folder in $page.find($page.getParam('sourceFolder')).children.ofType.folder )
                    #set($version = false)
                    #set($version = $folder.child($page.getParam('version')))
                    #if( $version )
                <li style="float:left; width: 300px">
                    <h3 href="$folder.href">$folder.name</h3>
                    <ul>
                    #foreach($file in $version.children.ofType.file)
                    #if(!$file.name.startsWith("_"))
                    <li><a href="$file.href">$file.name</a></li>
                    #end
                    #end
                    </ul>
                </li>
                    #end
                #end
                </ul>
            </div>
        </div>        
        
    </body>
</html>


