/** Extensions to the vendor provided stylesheet to fix css conflicts... */
.colorContainer {
    display: inline-block;
}
.colorpicker input {
    background-image: none;
    width: auto;
    line-height: normal;
}
.colorDemo {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: solid 1px lightgray;
}