
#quizQuestions {
    min-height: 400px;
}
ol.quiz p, ol.quiz h3, ol.quiz li  {
    line-height: 16px;
}
ol.quiz h3 {
    margin: 0;
    display: inline-block;
}
ol.quiz h3, ol.quiz p, ol.quiz label {
    padding: 5px 7px;        
    border: solid 1px transparent;
}
.quizContainer #quizQuestions h3:hover, .quizContainer #quizQuestions p:hover, .quizContainer #quizQuestions label:hover {
    border: solid 1px #dedede;
    background-color: white;
}
ol.quiz input {
    margin-top: 5px;
    background-image: none;
}
ol.quiz input.question {
    display: block;
}
ol.quiz input.helptext {
    display: block;
}
ol.quiz input.answer {
    display: block;
}
#quizQuestions ol.quiz {
    list-style-position: outside;
    padding: 10px 0 0 20px;
    list-style-type: decimal;
}
ol.quiz > li {
    padding: 10px 0;
    position: relative;
}
ol.quiz input.P, ol.quiz input.H3 {
    display: block;
}
ol.quiz li label {
    min-width: 100px;
    display: inline;
}
.quizContainer ol.quiz li span.delete {
    display: block;
    position: absolute;
    left: -9px;
    top: 18px;
    width: 11px;
    height: 11px;
    background-image: url(/templates/themes/admin/images/icon_delete.png);
}

.viewQuiz ol.quiz li li {
    list-style-type: none;
}