.journal {
    position: fixed;
    right: 0;
    top: 30%;
    z-index: 1000;    
}
.journal.active {
    
}

.journal-show {
    height: 64px;
    width: 64px;
    margin: 0;
    opacity: 0.3;
    float: right;
    background: url("/static/images/icon_journal.png") no-repeat scroll center center transparent;
}
.journal-show:hover {
    opacity: 1;
}
.journal-show span {
    visibility: hidden
}
.journal-notes {
    display:none; 
    width: 0;
    min-height: 200px; 
    max-height: 300px;
    border: solid lightgray 1px;
    overflow-y: scroll;
    overflow-x: hidden;    
    padding: 20px;
    background: white;
}
.journal.active .journal-notes {
    display: block;
}
.journal textarea {
    background: #EEE;
}
        
.journal div.active textarea {
    background: white;
}

.journal-entry {
    margin-bottom: 10px;
}
.journal .ajax-loader {
    position: absolute;
    top: 70px;
    left: 5px;
    display: none;
}
.journal.ajax-processing .ajax-loader {
    display: block;
}