.fileupload-buttonbar {
    width: 400px;
}
.jstree-default a ins.jstree-icon.file {
    background-image: url(file.png);
    background-position: 0 0;
}

#imageUploaded .muploadBtn, #myUploaded .muploadBtn {
    width: 150px;    
    height: 20px;
}
#imageUploaded .muploadBtn span, #myUploaded .muploadBtn span {
    position: absolute;
    top: 7px;
    left: 37px;
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.fileupload-buttonbar {
    position: relative;
}
.fileupload-buttonbar .progress {
}
.fileupload-buttonbar .progress div {
    background-color: #F9A42E;
    height: 26px;    
    width: 0;
}
.mtreeAddFolder, #imageUploaded .muploadBtn {
    background-color: #5BB75B;
    background-image: -moz-linear-gradient(center top , #62C462, #51A351);
}
.mtreeDelete {
    background-color: #FAAF45;
    background-image: -moz-linear-gradient(center top , #FAB14B, #F89810);
}
.mtreeAddFolder, .mtreeDelete {
    width: 45%;
}
.mtreeAddFolder {
    margin-left: 20px;
}

.mtreeToolbar {
    margin-bottom: 12px;
}
.tree button, .muploadBtn {        
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);                
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    padding: 4px 10px;
    text-align: center;
    vertical-align: middle;                
    position: relative;    
    cursor: pointer;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

#fileupload:hover {
    cursor: pointer;
}