<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageGroupEmail.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageGroupEmail.js">//</script>
    </head>
    <body>
        <section id="manageEmail" class="MainContent">
            <div class="TabContainer">
                <nav class="ClearFix">
                    <a href="">Send information</a>
                    <a href="">Message</a>
                    <a href="">Recipients</a>
                    <a href="">Send</a>
                    <a href="">Status</a>
                </nav>
                <div class="TabContent">
                    <div class="Content">
                        <form name="frmDetails" action="$page.name" method="post" class="Details">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Send name</th>
                                        <td><input type="text" name="title" value="$!page.title" placeholder="" class="required" /></td>
                                    </tr>
                                    <tr>
                                        <th>Notes <small>These notes are for internal purposes only.</small></th>
                                        <td><textarea cols="100" name="notes" rows="10" placeholder="">$!page.notes</textarea></td>
                                    </tr>
                                    <tr>
                                        <th>Email subject</th>
                                        <td><input type="text" name="subject" value="$!page.subject" placeholder="" class="required" /></td>
                                    </tr>
                                    <tr>
                                        <th>Email from address <small>Choose an email address for example admin@mybusinessname.com</small></th>
                                        <td><input type="text" name="fromAddress" value="$!page.fromAddress" placeholder="" class="required email" /></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">
                                            <button class="Btn">Save Changes</button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </form>
                    </div>
                </div>	
                <div class="TabContent">
                    <div class="Content">
                        <form name="frmDetails" action="" method="post" class="Details">
                            <table>
                                <tbody>
                                    <tr>
                                        <th class="Short">Choose a template</th>
                                        <td>
                                            <select name="template" class="Medium">
                                                <option value="1">PainPod</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <textarea class="htmleditor" cols="100" name="html" rows="10" placeholder="">$!page.html</textarea>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">
                                            <!--
                                            <button class="Btn">Preview</button>
                                            -->
                                            <button class="Btn">Save Changes</button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="TabContent">
                    <div class="Content Recipient">
                        <header class="ClearFix">
                            <button class="SmallBtn Add AddGroup"><span>Add/remove groups</span></button>
                        </header>
                        <ul class="GroupList ClearFix">
                            #foreach($g in $page.groupRecipients)
                            <li class="$g.name">$g.name</li>
                            #end
                        </ul>
                    </div>
                </div>
                <div class="TabContent">
                    <div class="Content Send">
                        <h4>Before you send be sure to check your email information, message content and recipients.</h4>
                        <p><button class="Btn">PREVIEW YOUR EMAIL</button></p>
                        <p>When you are ready click the 'Send Now' button below and the system will start to send out your email.<br />Once the send process starts you can navigate away from this page without affecting your send.</p>				
                        <p>If you choose to navigate away from this page you can still view the send results by click on the<br />info button from the email list page.</p>
                        <p><button class="Btn Big Cancel SendEmail" onclick="sendMail()">SEND NOW</button></p>
                    </div>
                </div>
                <div class="TabContent status">
                    <div class="Content NotSent">
                        <p>Email is not being processed</p>
                    </div>
                    
                    <div class="Content SendProgress">
                        <p>
                            <strong class="status status_p">Send in progress</strong>
                            <strong class="status status_c">Job completed</strong>
                            <small>You may navigate away from this page.</small>
                        </p>
                        <div class="Progress">                            
                            <div class="Percent"></div>
                            <div class="stats"></div>
                        </div>
                        <table id="emails">
                            <thead>
                                <tr>
                                    <th>Email Address</th>                                    
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Attempt</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <div id="modalGroup" class="Modal">
            <header>
                <h3>Choose groups</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <table>
                    <tr>
                        <td colspan="2">
                            <ul class="ListItem">
                                #foreach($g in $page.allGroups)
                                <li>
                                    <span>$g.name</span>
                                    <aside>
                                        $formatter.checkbox($g.name, $page.isSelected($g) )
                                    </aside>
                                </li>
                                #end
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(function() {
                initEditEmailPage();
                $("form").forms();
                edify($("form.Details"), ["/templates/apps/learner/learning.dyn.css","/templates/apps/learner/moduleLayout.dyn.css", "/templates/apps/learner/moduleContent.dyn.css"]);
            });
        </script>
    </body>
</html>