<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageGroupEmail.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageGroupEmail.js">//</script>
    </head>
    <body>
        <section id="manageEmail" class="MainContent">
            <form name="frmDetails" action="." method="post" class="MainForm">
                <button class="Btn" style="float: right">Save Changes</button>
                <nav class="TabNav ClearFix">
                    <a href="#sendInfo">Send information</a>
                    <a href="#message">Message</a>
                    <a href="#recipients">Recipients</a>
                    <a href="#triggers">Triggers</a>
                    <a href="#actions">Actions</a>
                    <a href="#history">History</a>
                </nav>

                <div rel="#sendInfo" class="TabContent Content Details">
                    <table class="">
                        <tbody>
                            <tr>
                                <th>Send name</th>
                                <td><input type="text" name="title" value="$!page.title" placeholder="" class="required" /></td>
                            </tr>
                            <tr>
                                <th>Website</th>
                                <td>
                                    <select name="themeSiteId" class="Medium required">
                                        $formatter.option("", "[Please select]", $page.themeSiteId)
                                        #foreach($website in $page.organisation.websites)
                                        $formatter.option($website.id, $website.name, $page.themeSiteId)
                                        #end
                                    </select>

                                </td>
                            </tr>
                            <tr>
                                <th>Enabled</th>
                                <td>
                                    $formatter.checkbox("enabled", $page.enabled)
                                    <small>This auto email will only be sent if enabled</small>
                                </td>
                            </tr>
                            <tr>
                                <th>Notes <small>These notes are for internal purposes only.</small></th>
                                <td><textarea cols="100" name="notes" rows="10" placeholder="">$!page.notes</textarea></td>
                            </tr>
                            <tr>
                                <th>Email subject</th>
                                <td><input type="text" name="subject" value="$!page.subject" placeholder="" class="required" /></td>
                            </tr>
                            <tr>
                                <th>Email from address <small>Choose an email address for example admin@mybusinessname.com</small></th>
                                <td><input type="text" name="fromAddress" value="$!page.fromAddress" placeholder="" class="required email" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>	
                <div rel="#message" class="TabContent Content">
                    <div class="messageContent Details">
                        <textarea class="htmleditor" cols="100" name="html" rows="10" placeholder="">$!page.html</textarea>
                    </div>
                </div>
                <div rel="#recipients" class="TabContent Content">
                    <div class="Recipient Details">
                        <header class="ClearFix">
                            <button class="SmallBtn Add AddGroup"><span>Add/remove groups</span></button>
                        </header>
                        $formatter.checkbox("includeUser", "includeUser", $page.trigger.includeUser, "true")
                        <label for="includeUser">Include user(s) that cause the event</label>
                        <ul class="GroupList ClearFix">
                            #foreach($g in $page.groupRecipients)
                            <li class="$g.name">$g.name</li>
                            #end
                        </ul>

                        <header>Advanced</header>
                        <p>You can enter XML rules below, to filter out potential recipients</p>
                        <div class="rules-ref">
                            <h2>Available Rules</h2>

                            <ul>
                                <li>
                                    <h3>Expression types</h3>
                                    <ul>
                                        <li>
                                            <b>const</b>: Constants, eg <br/>&lt;const type='Integer'&gt;1&lt;/const&gt;
                                        </li>
                                        <li>
                                            <b>comparison</b>: 
                                            Compare 2 expressions, Eg
                                            <br/>
                                            &lt;comparison operator='EQUALS'&gt;<br/>
                                            &lt;const type='Integer'&gt;1&lt;/const&gt;<br/>
                                            &lt;const type='Integer'&gt;1&lt;/const&gt;<br/>
                                            &lt;/comparison&gt;<br/>
                                        </li>
                                        <li>
                                            <b>app-prop</b>: a property from an application. See below for a full list of app-id's and prop-name's. Eg:
                                            <br/>
                                            &lt;app-prop app-id='userApp' prop-name='firstName' /&gt;
                                        </li>
                                    </ul>                                    
                                </li>
                                #foreach( $app in $applicationManager.getPropertyProviderApps($rootFolder) )
                                <li>
                                    <h3>$app.instanceId</h3>
                                    <ul>
                                        #foreach( $expr in $app.allProperties )
                                        <li>
                                            <b>$expr.name</b>: 
                                            $expr.description
                                        </li>
                                        #end
                                    </ul>
                                </li>
                                #end
                            </ul>
                        </div>
                        <textarea name="filterScriptXml" style='height: 300px; width: 400px'>$!page.job.filterScriptXml</textarea>
                                            
                    </div>
                    <script type="text/javascript">
                        jQuery(function() {
                            $("input[name=includeUser]").change(function() {
                                var includeUser = $("input[name=includeUser]:checked").length != 0;
                                log("includeUser", includeUser);
                                $.ajax({
                                    type: 'POST',
                                    url: window.location.href,
                                    data: {
                                        includeUser: includeUser
                                    },
                                    error: function(resp) {
                                        log("error", resp);
                                        alert("err");
                                    }
                                });
                            });
                        });
                        function showAppropriateTriggerOptions() {
                            var eventId = $("#eventId").val();
                            log("changed", eventId);
                            $(".triggers .trigger").hide();
                            $(".triggers .trigger select").attr("disabled", "true");
                            $(".triggers ." + eventId).show();
                            $(".triggers ." + eventId + " select").attr("disabled", null);
                        }
                    </script>                    
                </div>
                <div rel="#triggers" class="TabContent Content">
                    <div class="Send Details">
                        #set($mapOfTriggerTypes = $page.emailTriggerTypes)                        
                        <table>
                            <tbody class="triggers">
                                <tr>
                                    <th>Event type</th>
                                    <td>
                                        <select id="eventId" name="eventId">
                                            <option value="-">[Choose]</option>
                                            #foreach($eventId in $mapOfTriggerTypes.keySet())
                                            $formatter.option($eventId, $eventId, $page.trigger.eventId)
                                            #end
                                        </select>
                                    </td>
                                </tr>


                                #foreach($eventId in $mapOfTriggerTypes.keySet())
                                #set($triggerType = $mapOfTriggerTypes.get($eventId))
                                #foreach($optionCode in $triggerType.keySet())
                                <tr class="$eventId trigger">
                                    <th>$page.triggerOptionLabel($eventId, $optionCode)</th>
                                    <td>
                                        <select id="$optionCode" name="$optionCode">
                                            <option value="">[Choose]</option>
                                            #foreach($option in $triggerType.get($optionCode))
                                            $formatter.option($option.code, $option.text, $page.triggerOptionValue($optionCode))
                                            #end
                                        </select>
                                    </td>
                                </tr>
                                #end                                    
                                #end
                            </tbody>
                        </table>
                        <header>Advanced</header>
                        <p>You can enter XML rules below, the trigger will only fire if this evaluates to true</p>                        
                        <textarea name="conditionScriptXml" style='height: 300px; width: 400px'>$!page.job.conditionScriptXml</textarea>
                    </div>
                </div>
                
                <div rel="#actions" class="TabContent Content">
                    <div class="messageContent Details">
                        #portlets("triggerActions")
                    </div>
                </div>                
                
                <div rel="#history" class="TabContent Content status">
                    <div class="Send Details" id="manageEmail">
                        <article class="Note">
                            Emails sent by this trigger over the last 7 days.
                        </article>
                        <table id="emails">
                            <thead>
                                <tr>
                                    <th>Subject</th>
                                    <th>Recipient</th>
                                    <th>Address</th>
                                    <th>Status</th>
                                    <th>Status Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                #foreach($item in $page.history)
                                <tr>
                                    <td>$item.subject</td>
                                    <td>$item.recipient.formattedName</td>
                                    <td>$item.recipientAddress</td>
                                    <td>$item.sendStatus</td>
                                    <td>$item.sendStatusDate</td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                    </div>
                </div>            
            </form>
        </section>
        <div id="modalGroup" class="Modal">
            <header>
                <h3>Choose groups</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <table>
                    <tr>
                        <td colspan="2">
                            <ul class="ListItem">
                                #foreach($g in $page.allGroups)
                                <li>
                                    <span>$g.name</span>
                                    <aside>
                                        $formatter.checkbox($g.name, $page.isSelected($g) )
                                    </aside>
                                </li>
                                #end
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(function() {
                initEditEmailPage();
                $("form.MainForm").forms({
                    callback: function() {
                        alert("Saved");
                    }
                });
                //edify($("div.messageContent"), ["/templates/apps/learner/learning.dyn.css", "/templates/apps/learner/moduleLayout.dyn.css", "/templates/apps/learner/moduleContent.dyn.css"]);
                initHtmlEditors();
                $("#eventId").change(function() {
                    showAppropriateTriggerOptions();
                });
                showAppropriateTriggerOptions();
            });
            function showAppropriateTriggerOptions() {
                log("showAppropriateTriggerOptions");
                var eventId = $("#eventId").val();
                log("changed", eventId);
                $(".triggers .trigger").hide();
                $(".triggers .trigger select").attr("disabled", "true");
                $(".triggers ." + eventId).show();
                $(".triggers ." + eventId + " select").attr("disabled", null);
            }
        </script>
    </body>
</html>