<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageGroupEmail.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageGroupEmail.js">//</script>
    </head>
    <body>
        <section id="manageEmail" class="MainContent">
            <article class="Note">Here you can create emails that get sent automatically when certain trigger events occur. This
            is useful for sending emails when a new module is available, or when users complete all modules, etc</article>
            <header class="ClearFix">
                <a class="SmallBtn Add" href="javascript:showAddJob()"><span>Create an auto email trigger</span></a>
            </header>
            <div class="Content">
                <ul>
                    #foreach($email in $page.children)
                    <li>
                        <div class="emailStatus${email.statusCode}">
                            <span class="Name">$!email.title</span>
                            <span class="Status">$!email.status</span>
                            <aside>
                                <a class="Edit EditEmail" title="Edit" href="$email.name">
                                    <span class="Hidden">Edit</span>
                                </a>
                                <a class="Delete DeleteEmail" title="Delete" href="$email.name">
                                    <span class="Hidden">Delete</span>
                                </a>                                
                            </aside>
                        </div>
                    </li>                    
                    #end              
                </ul>
            </div>
        </section>
        <div id="modalCreateJob" class="Modal">
            <header>
                <h3>Create email</h3>
                <a class="Close" href="#" title="Close"><span class="Hidden">Close</span></a>
            </header>
            <div class="ModalContent">
                <form method="POST" action=".">
                    <div class="pageMessage">.</div>
                    <table>
                        <tr>
                            <th><label for="name">Enter email name</label></th>
                            <td><input type="text" name="name" id="name" value="" placeholder="A name for the email job" class="required simpleChars" /></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="BtnBar">
                                <button class="Btn" type="submit">Save changes</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(function() {
                initManageEmail();
            });
        </script>
    </body>
</html>