<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>$view.title</title>
        <link href="manageGroupEmail.css" rel="stylesheet" type="text/css" />
        <style>
            .item {
                
            }
            .attempt {
                display: none;
            }
        </style>
    </head>
    <body>
        <section id="" class="MainContent">
            <div class="Content">                
                <table style='width: 100%' class='Summary'>
                    <thead>
                        <tr>
                            <td colspan="4"><b>Total Emails: $page.model.items.size()</b> - Click a row to see send attempts</td>
                        </tr>
                        <tr>
                            <th>To</th>
                            <th>Date</th>
                            <th>Subject</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        #foreach($item in $page.model.items)
                        <tr class="item">
                            <td>$item.recipientAddress</td>
                            <td>$formatter.formatAge( $item.sendStatusDate )</td>
                            <td>$item.subject</td>
                            <td>$item.statusText</td>
                        </tr>
                            #foreach($attempt in $item.emailSendAttempts)
                        <tr class="attempt">
                            <td></td>
                            <td colspan="3">$attempt.status - $formatter.formatAge( $attempt.statusDate )</td>
                        </tr>
                            
                            #end
                        #end
                    </tbody>
                </table>
            </div>
        </section>
        <script type="text/javascript">
            jQuery(function() {
                $(".item").click(function(e) {
                    var tr = $(e.target).closest("tr");
                    tr.nextUntil(".item").toggle(300);
                });
            });
        </script>        
    </body>
</html>