
/*notification*/
.nav .nav-menuNotifications span {
    background: none repeat scroll 0 0 @hero1;
    border-radius: 15px 15px 15px 15px;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 9px;
    margin: 0 4px 0 0;
    padding: 0 4px;
    text-align: center;
}

.notificationBox{
    border-top:1px solid #d2d2d2;
    position:relative;
}
.notificationBox > div{
    border-bottom:1px solid #d2d2d2;
    min-height:41px;
    padding: 10px;
    position: relative;    
}
.content .notificationBox > div.active{
    background-color: @hero1;
}
.notificationBox > div.active * {
    color: white;
}
.notificationBox > div:nth-child(even) {
    background-color: white;
}
.notificationBox h3, .notificationBox h3 a{
    font-size:13px;
    color:@text2;
    font-weight:bold;
    margin: 0;
    text-decoration:none;
    color:@text2;
}
.notificationBox > div div.left h3 a:hover{
    text-decoration:underline;
}
.notificationBox p{
    color:#686868;
    font-size:11px;
}
.notificationBox .info {
    float: right;
    margin-right: 10px;
    font-size: 11px;
    font-style: italic; 
    color: @hero1;
}
.notificationBox .close {
    float: right;
}

.close {
    background-image: url(images/crosssign.png);
    height: 12px;
    width: 12px;
    display: inline-block;
    text-indent: -10000px;
}

.active .close {
    background-image: url(images/cross.png);
}

.info {
    font-size: 11px;
    font-style: italic; 
    color: @hero1;
}
.selectBox{
    background:@hero1;
}
.emailArea{
    margin-left: 15px;
}
.emailArea h2 {
    margin: 15px 0;
    font-size: 28px;
}
.titleBox .info {
    position: absolute;
    right: 5px;
    bottom: 10px;
}
.titleBox{
    border-bottom:1px solid #d2d2d2;
    padding:0 0 10px 0;
    margin-bottom:10px;
    position: relative;
}
.titleBox h3{
    font-size:13px;
    color:@text2;
    font-weight:normal;
    margin: 0;
}
.titleBox small{
    color:#686868;
    font-size:10px;
    font-style:italic;
}
.emailCon{
}
.emailCon h3{
    font-size:28px;
    color:@text2;
    text-transform:capitalize;
    font-weight:normal;
    margin-bottom:8px;
}
.emailCon p{
    color:@text2;
    font-size:12px;
    line-height:1.5em;
    margin-bottom:10px;
}