<html>
    <head>
        <title>Directory</title>
        <link href="contacts.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="contacts.js">//</script>
    </head>    
    <body class="contacts">
        <div class="btn-group pull-right">
            <button class="newContact Btn btn">
                Add Contact
            </button>
        </div>    

        <div class="input" id='myUploaded' style="width: 200px"></div> 

        <table id="contacts" class="bar table table-striped vcenter">
            <thead>
                <tr>
                    <th class="type-string">Contacts</th>
                    <th class="type-string">Email</th>
                    <th class="type-string">Phone</th>
                    <th></th>
                </tr>
                <tr class="seperator">

                </tr>
            </thead>
            <tbody>                
                #set($vcards = $page.children.ofType.vcard)
                #if( $vcards.isEmpty() )
                <tr>
                    <td colspan="4">No contacts. Add one using the Add button above, or upload vcard files</td>
                </tr>
                    
                #else
                #foreach($contact in $vcards)
                <tr>
                    <td class="left">
                        <a href="$contact.href">$contact.commonName</a>
                    </td>
                    <td><a href="$contact.href">$formatter.toCsv($contact.emailAddresses)</a></td>
                    <td><a href="$contact.href">$formatter.toCsv($contact.phoneNumbers)</a></td>
                    <td><a href="$contact.href">edit</a></td>
                </tr>
                #end
                #end
            </tbody>
        </table>

        <div id="editContact" class="modal hide fade"> 
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Modal header</h3>
            </div>            
            <form method="POST" action="." class="form-horizontal">
                <div class="modal-body">
                    <div class="control-group">
                        <label class="control-label" for="givenName">Given name</label>
                        <div class="controls">
                            <input id="givenName" name="givenName" />
                        </div>
                    </div>                
                    <div class="control-group">
                        <label class="control-label" for="surName">Surname</label>
                        <div class="controls">
                            <input id="surName" name="surName" />
                        </div>
                    </div>                
                    <div class="control-group">
                        <label class="control-label" for="telephonenumber">Telephone</label>
                        <div class="controls">
                            <input id="telephonenumber" name="telephonenumber" />
                        </div>
                    </div>                
                    <div class="control-group">
                        <label class="control-label" for="mail">Email</label>
                        <div class="controls">
                            <input id="mail" name="mail" />
                        </div>
                    </div>                
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn">Close</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>                
            </form>
        </div>        

        <script type="text/javascript" src="/static/js/stupidtable.js"></script>
        <script type="text/javascript" src="/static/js/jquery.fileupload.js"></script>
        <script type="text/javascript" src="/static/js/jquery.milton-upload.js"></script>        
    </body>
</html>