<html>
    <head>
        <title>Directory</title>
    </head>    
    <body class="contacts">
        <div class="container container-fluid">
            <h2>My Address books</h2>
            #foreach($folder in $user.child("AddressBooks").children.ofType.addressBook )
            <div class="span3">
                <div class="well">
                    <h3><a href="$folder.href">$folder.name</a></h3>
                </div>
            </div>
            #end
        </div>  
    </body>
</html>