#if($applications.size() > 0 )
<div class="pendingAccounts">
    <h3>Pending membership applications</h3>
    <article class="Note">This portlet shows membership applications which have not been processed. Please review them and 
    accept those which appear legitimate, this will allow those useds access to your site
    </article>    
    <table class="data">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Nickname</th>
                <th>Group</th>
                <th>Email</th>
                <th>Organisation</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            #foreach($app in $applications)
            <tr>
                <td>
                    <input type="hidden" name="appId" value="$app.id"/>
                    <button class="accept">Accept</button>
                </td>
                <td>
                    <button class="reject">Reject</button>
                </td>
                <td>$app.member.nickName</td>
                <td>$app.groupEntity.name</td>
                <td>$app.member.email</td>
                <td>$app.withinOrg.titleOrId</td>
                <td><abbr title="$formatter.formatDateISO8601($app.createdDate)" class="timeago">$app.createdDate</abbr></td>
            </tr>
            #end
        </tbody>
    </table>
    <script type="text/javascript" src="/static/js/jquery.timeago.js" >//</script>
    <script type="text/javascript" src="/templates/apps/signup/pending.js">//</script>
</div>
#end