<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Register or Login</title>        
    </head>
    <body>
        <h1>Register or Login</h1>
        <div class="registerOrLoginCont">
            <script type="text/javascript" src="/templates/apps/signup/register.js">//</script>
            <div class="row-fluid">
                <div class="span7">
                    <h4>Create an account</h4>
                    #set($groupRegoPage = $page.groupRegoPages.get(0))

                    <form method="post" id="registerForm" action="$groupRegoPage.href" class="form-horizontal form-horizontal-narrower">
                        <fieldset>
                            <div class="control-group">
                                <label for="email" class="control-label">Email</label>
                                <div class="controls">
                                    <input type="text" id="email" name="email" value="" class="Textbox" title="Email address" />
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="nickName">Nickname</label>
                                <div class="controls">
                                    <input class="required" type="text" name="nickName" id="nickName" placeholder="Your nickname for others to see" />
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="password" class="control-label">Password</label>
                                <div class="controls">
                                    <input type="password" name="password" id="password" value="" class="Textbox" title="Password" />
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="confirmPassword">Confirm</label>
                                <div class="controls">
                                    <input class="required" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm your password" />
                                </div>
                            </div>

                            #if( $page.hasOrgs )
                            <div class="control-group">
                                <label class="control-label" for="orgName">$groupRegoPage.regoOrgType</label>
                                <div class="controls">
                                    <div class="findOrg">
                                        <input type="hidden" name="orgId" id="orgId" />
                                        <input class="required" readonly="true" type="text" name="orgName" id="orgName" placeholder="Choose your $groupRegoPage.regoOrgType" />
                                    </div>
                                </div>
                            </div>
                            #end
                            <div class="control-group">
                                <div class="controls">
                                    <button class="Register btn btn-success" type="submit" ><span>Register</span></button>
                                </div>
                            </div>
                        </fieldset>

                    </form>

                </div>
                <div class="span5 loginCont">
                    <h4>Login</h4>
                    <form method="post" action="" class="">
                        <fieldset>
                            <div class="control-group">
                                <label for="email" class="control-label">Email</label>
                                <div class="controls">
                                    <input type="text" id="email" name="email" value="" class="Textbox" title="Email address" />
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="password" class="control-label">Password</label>
                                <div class="controls">
                                    <input type="password" name="password" id="password" value="" class="Textbox" title="Password" />
                                </div>
                            </div>

                            <div class="control-group">
                                <button type="submit" class="Login Button btn btn-primary" ><span>Login</span></button>                                     
                                <small class="pull-right"><a href="/password-reset" title="Forgotten password" class="Forgot">Forgotten password</a></small>
                            </div>
                        </fieldset>
                    </form>                         

                </div>
            </div>
        </div>    

        <div id="findOrg" class="modal hide fade"> 
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="Title">Find your $groupRegoPage.regoOrgType</h3>
            <form method="POST" action=".">
                <input id="orgQuery" type="text" value="" placeholder="Search for your $groupRegoPage.regoOrgType here" />
                <table id="orgSearchResults">
                    <tr>
                        <th>Name</th>
                    </tr>
                    #foreach($org in $groupRegoPage.searchResults)
                    <tr>
                        <td><a href="$org.orgId">$org.title</a></td>
                    </tr>
                    #end
                </table>                
            </form>
        </div>   

        <script type="text/javascript" src="/templates/apps/signup/register.js">//</script>        
        <script type="text/javascript">
            $(document).ready(function() {
                initRegisterForms("/dashboard");
                
            });
        </script>           
    </body>    
</html> 

