<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>$view.title</title>        
        <link href="register.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="regoPage">        
        <div id="content">
            <div class="SubContent">
                <h1>Registration</h1>
                <div class="MainContent">
                    #set($path = "/content/signup/" + $folder.name + ".html")
                    $!folder.find($path).getParam("intro")
                    <form method="post" id="registerForm" action="$page.name">
                        <fieldset>
                            <legend>Create a new account</legend>
                            <div class="Box02">
                                <div class="Box02Bottom">
                                    <div class="Box02Middle">
                                        <div class="pageMessage">&nbsp;</div>
                                        <!-- IE7 made me!!! -->
                                        <table class="plain signup">
                                            <colgroup>
                                                <col class="col1" />
                                                <col class="col2" />
                                                <col class="col3" />
                                                <col class="col4" />
                                                <col class="col5" />
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <td><label class="first collapse" for="email">Email</label></td>
                                                    <td><input class="required" type="text" name="email" id="email" placeholder="Your email address" /></td>
                                                    <td><label class="last collapse" for="nickName">Nickname</label></td>
                                                    <td><input class="required" type="text" name="nickName" id="nickName" placeholder="Your nickname for others to see" /></td>
                                                    <td rowspan="3"><button class="Register btn btn-success" type="submit" ><span>Register</span></button></td>
                                                </tr>
                                                <tr>
                                                    <td><label class="first collapse" for="password">Password</label></td>
                                                    <td><input class="required" type="password" name="password" id="password" placeholder="Your preferred password" /></td>
                                                    <td><label class="last collapse" for="confirmPassword">Confirm</label></td>
                                                    <td><input class="required" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm your password" /></td>                                                
                                                </tr>  
                                                #if( $page.hasOrgs )
                                                <tr>
                                                    <td><label class="first collapse" for="orgName">$page.regoOrgType</label></td>
                                                    <td colspan="3" class="findOrg">
                                                        <input type="hidden" name="orgId" id="orgId" />
                                                        <input class="required" readonly="true" type="text" name="orgName" id="orgName" placeholder="Choose your $page.regoOrgType" />
                                                    </td>
                                                </tr>
                                                #end
                                                #if( $page.hasOptins() )
                                                <tr>
                                                    <td></td>
                                                    <td colspan="3" style="text-align: left">
                                                        #foreach($optin in $page.optins)
                                                        <input type="checkbox" name="optins" value="$optin.optinGroup.name" id="optins_${optin.optinGroup.name}" />
                                                        <label for="optins_${optin.optinGroup.name}">$optin.message</label>
                                                        #end
                                                        <br/>
                                                    </td>
                                                </tr>
                                                #end
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                    $!folder.find($path).body
                </div>		
                <br class="Clear" />

            </div> 
        </div> 
        <div id="findOrg" class="Modal modal hide fade"> 
            <a href="" class="Close" title="Close">Close</a>
            <h3 class="Title">Find your $page.regoOrgType</h3>
            <form method="POST" action=".">
                <input id="orgQuery" type="text" value="" placeholder="Search for your $page.regoOrgType here" />
                <table id="orgSearchResults">
                    <tr>
                        <th>Name</th>
                    </tr>
                    #foreach($org in $page.searchResults)
                    <tr>
                        <td><a href="$org.orgId">$org.title</a></td>
                    </tr>
                    #end
                </table>                
            </form>
        </div>   
        <div id="pending" class="Modal modal hide fade"> 
            <a href="" class="Close" title="Close">Close</a>
            <h3 class="Title">Account pending</h3>
            <p>Thank you for your application.</p>
            <p>An administrator will review your details shortly.</p>
            <p><a href="/">Click here</a> to return to the home page</p>
        </div>           
        <script type="text/javascript" src="/templates/apps/signup/register.js">//</script>        
        <script type="text/javascript">
            $(document).ready(function(){
                initRegister("/dashboard");
            });            
            
        </script>        
    </body>    
</html> 

