<html>
    <head>
        <meta name="Robots" content="index,follow" />
        <meta name="keywords" content="" />
        <link rel="stylesheet" type="text/css" href="theme.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../../common/base.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../../common/common.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../../common/validation.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../../common/jquery-ui-1.8.11.custom.css" media="screen" />        
        <link rel="stylesheet" type="text/css" href="../../common/fullcalendar.css" media="screen" />        
        <link rel="stylesheet" type="text/css" href="../../common/fullcalendar.print.css" media="print" />        

        <script type="text/javascript" src="../../js/10_jquery.js" >//</script>
        <script type="text/javascript" src="../../js/11_jquery.cookie.js" >//</script>
        <script type="text/javascript" src="../../js/common.js" >//</script>
        <script type="text/javascript" src="../../js/file.js" >//</script>
        <script type="text/javascript" src="../../js/jquery-ui-1.8.11.custom.min.js" >//</script>
        <script type="text/javascript" src="../../js/jquery.autoresize.js" >//</script>
        <script type="text/javascript" src="../../js/jquery.comments.js" >//</script>
        <script type="text/javascript" src="../../js/jquery.user.js" >//</script>
        <script type="text/javascript" src="../../js/types.js" >//</script>
        <script type="text/javascript" src="../../js/uploads.js" >//</script>
        <script type="text/javascript" src="../../js/user.js" >//</script>
        <script type="text/javascript" src="../../js/validation.js" >//</script>

        <script type="text/javascript" src="../../js/jquery.pjax.js" >//</script>        

        <script type="text/javascript" src="../../js/theme.js" >//</script>        

        <title> ${title}</title>        
    </head>
    <body class="blog two-column right-sidebar">
        <nav id="access" role="navigation">
            <h3 class="assistive-text">Main menu</h3>
            <div class="menu-yellow-container">
                <ul id="menu-yellow" class="menu">
                    #if( $page.currentUser )
[#list menu as m]
                    <li class="nav-${m.id} menu-item">
                        <a href="${m.href}">${m.text}</a>
                    </li>
[/#list]
                    #else
                    <li class="nav-home menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home">
                        <a href="/">Home</a>
                    </li>
                    
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home">
                        <a href="/login">Login</a>
                    </li>

                    #endif

                </ul>
            </div>			

        </nav>
        <!-- #access -->
        <div class="clear"></div>

        <div id="page" class="hfeed">
                [@body/]
        </div>

        <footer id="colophon" role="contentinfo">

            <div id="supplementary" class="three">
                <div id="first" class="widget-area" role="complementary">
                    <aside id="text-2" class="widget widget_text"><h3 class="widget-title">About</h3>			
                        <div class="textwidget">Spliffy is a personal cloud server, for accessing your files, calendars and contacts from any device.</div>
                    </aside>
                    <aside id="search-2" class="widget widget_search">
                        <h3 class="widget-title">Search</h3>	
                        <form method="get" id="searchform" action="http://demo.wpcharity.com/yellow/">
                            <label for="s" class="assistive-text">Search</label>
                            <input type="text" class="field" name="s" id="s" placeholder="Search" />
                            <input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />
                        </form>
                    </aside>	
                </div><!-- #first .widget-area -->

            </div>
            <div id="site-generator">
                <div id="site-info">

                    <a class="wordpress" href="http://spliffy.org">Spliffy</a>
                    <a class="name" href="http://demo.wpcharity.com/yellow/" title="Yellow!" rel="home">
                        Yellow!				
                    </a>
                </div><!-- #site-info -->
            </div><!-- site-generator -->
        </footer><!-- #colophon -->


        <div id="ajaxLoading" style="display: none">
            <div>
                Processing, please wait...
                <img src="/templates/common/ajax-loader.gif" alt="Processing..." />
            </div>
        </div>
        <div id="thankyou" style="display: none">
            <h3>Thankyou</h3>
            <p>Message</p>
        </div>



        <script type="text/javascript">
            jQuery(function($) {
                initTheme();
            });            
        </script>
    </body>    
</html> 

