<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Manage Dashboard Messages</title>
        <link href="manageGroup.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="manageGroup.js">//</script>
        <style>

            div.Group {
                border: 1px solid #CECECE;
                border-radius: 5px 5px 5px 5px;
                margin-top: 7px;
            }            
            div.ContentGroup {
                padding: 15px 15px 5px;
            }
            h4 {
                border-bottom: 1px solid #DEDEDE;
            }
        </style>
    </head>
    <body class="manageModulePages">
        <section id="manageGroup" class="MainContent">
            <article class="Note">You can set messages to appear on the dashboards for different groups in each website.
            <br/>
            Just click on the group below to go to the edit page.
            </article>
            #foreach($website in $page.parent.child("websites").children.ofType.website)
            <div class="Group">
                <header class="ClearFix">
                    <span>Website: $formatter.htmlEncode($website.name)</span>
                </header>
                <div class="ContentGroup ClearFix">
                    <h4>Groups: select a group to manage</h4>
                    <ul class="GroupList ClearFix">
                        #set($live = $website.live)
                        #set($groups = $live.selectedGroups)
                        #if( $groups.isEmpty() )
                        <li>No groups are active in this website. Please go to the manage websites page and give access to one or more groups <a style="margin-left: 20px" class="Btn" href="websites/${website.name}">Manage website</a></li>
                        #else
                        #foreach($group in $live.selectedGroups)
                        #set($dash = $page.getManageDashboardPage($live, $group))
                        <li>
                            <a href="$dash.path">$formatter.htmlEncode($group.name)</a>
                        </li>
                        #end
                        #end
                    </ul>	
                </div>
            </div>
            #end
        </section>
    </body>
</html>